<ng-form role="form" ng-controller="EvolutionForm" name="evolutionForm" class="with-attach" id="evolutionForm" novalidate>
  <div class="row" ng-show="!isCurrentEpisode">
    <div class="col-xs-12">
      <div class="alert alert-warning" role="alert">
        <strong>Atención!</strong> Está agregando información a un episodio pasado.
        <a ng-if="currentEpisodeId !== -1" href="/patients/{{patient.id}}/episodes/{{currentEpisodeId}}/evolutions">Ir al episodio actual</a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-xs-12">
      <b>{{formTitle}}</b>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-xs-12">
      <label for="description">
        <span class="number">1.</span> Cree una nota clínica de evolución
      </label>
      <textarea name="description"
                required
                inform-errors="evolutionForm.description"
                error-message="Evolución requerida"
                class="form-control"
                ng-model="evolution.description"
                ng-trim="false"
                maxlength="4000"
                placeholder="Ingresar texto..."/>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-xs-12">
      <span class="pull-right">Caracteres: {{4000 - evolution.description.length}}</span>
    </div>
  </div>
  <div class="row divider">
    <div class="form-group col-xs-12" ng-if="problems.length <= 0">
      <label>
        <span class="number">2.</span> No hay problemas cargados para este paciente aún &nbsp;
        <i class="fa fa-question-circle" tooltip placement="bottom" tooltip-html="true" tooltip-title="Se denomina 'Problema' a los diagnósticos actuales o pasados del paciente,
        incluso de sus familiares. Se incluyen también los procedimientos que se le hayan realizado. <br>Es necesario referir la evolución al menos a un problema."></i>
      </label>
      <ul class="problem-list">
        <li>
          <span class="label label-default problem-label new-problem" ng-click="addNewProblem();">
            <i class="fa fa-plus"></i><span class="label-description" style="margin-left:5px">Nuevo Problema</span>
          </span>
        </li>
      </ul>
    </div>
    <div class="form-group col-xs-12" ng-if="problems.length > 0">
      <label>
        <span class="number">2.</span> Haga click sobre los problemas que desea evolucionar o agregue nuevos
        <i class="fa fa-question-circle" tooltip placement="bottom" tooltip-html="true" tooltip-title="Se denomina 'Problema' a los diagnósticos actuales o pasados del paciente,
        incluso de sus familiares. Se incluyen también los procedimientos que se le hayan realizado. <br>Es necesario referir la evolución al menos a un problema."></i>
      </label>
      <ul class="problem-list">
        <li ng-repeat="p in problems">
          <span class="label label-default problem-label" ng-class="{'selected' : selected(p._token) }" ng-click="toggleProblem(p._token);"
            tooltip placement="top" tooltip-display-on="p._tooltip" tooltip-html="true" tooltip-title="{{p._tooltip}}">
          <i ng-hide="selected(p._token)" class="fa fa-square-o"></i>
          <i ng-show="selected(p._token)" class="fa fa-check-square-o"></i>
          <span class="label-description">{{p._label}}</span>
        </span></li>
        <li>
          <span class="label label-default problem-label new-problem" ng-click="addNewProblem();">
            <i class="fa fa-plus"></i><span class="label-description" style="margin-left:5px">Nuevo Problema</span>
          </span>
        </li>
      </ul>
    </div>
  </div>
  <div class="row divider">
    <div class="form-group col-xs-12">
      <label>
        <span class="number">3.</span> Puede agregar una imágen del exámen físico (opcional)
      </label>
      <div class="drop-file" ng-hide='attached' dropzone>
        <h3><i class="fa fa-cloud-upload"></i>&nbsp;click aquí para adjuntar un archivo</h3>
        <input type="file" name="attachment" accept="image/png, image/jpeg, application/pdf" ng-model="evolution.attachment" onchange="angular.element(this).scope().attachments(this);" />
      </div>
      <ul class="attachments" ng-show='attached'>
        <li ng-repeat="file in fileNames">
          <i class="fa fa-cloud-upload"></i>&nbsp;{{file | lowercase}}<i class="fa fa-times-circle" ng-click="cancelAttachments()"></i>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div tooltip tooltip-display-on='evolutionProblems.length == 0 || evolutionForm.$invalid || evolutionForm.$pristine' class="col-xs-12 pull-right">
      <button type="submit" class="btn btn-primary pull-right" ng-click="save(evolution);"
              ng-disabled="selectedProblems.length == 0 || evolutionForm.$invalid || evolutionForm.$pristine || saving">
        <span ng-show="saving"><i class="fa fa-spin fa-spinner"></i>&nbsp;&nbsp;</span>Guardar
      </button>
      <button type="button" class="pull-right btn btn-link" ng-click="cancel();">Cancelar</button>
    </div>
  </div>
</ng-form>

<div class="modal fade new-problem-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header" style="background-color:#424f63;">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Nuevo Problema</h4>
      </div>
      <div class="modal-body">
        <div ng-include="'/assets/templates/patient/problem-form.html'"></div>
      </div>
    </div>
  </div>
</div>
