<div class="col-xs-12">
  <div class="row timeline-filters-row" ng-controller="TimelineFilters" ng-class="{ 'visible': filtersVisible }">
    <div class="col-xs-12">
      <div class="panel">
        <div class="panel-body timeline-filters-panel">
          <form class="form">
            <div class="col-xs-2">
              <input name="start" type="text" class="form-control default-date-picker"
                     ng-model="filter.start" date-picker placeholder="Desde..."/>
            </div>
            <div class="col-xs-2">
              <input name="end" type="text" class="form-control default-date-picker"
                     ng-model="filter.end" date-picker placeholder="Hasta..."/>
            </div>
            <div class="col-xs-3">
              <select class="form-control" ng-model="filter.problem" ng-options="p.name as p.evolutionName for p in filterProblems">
                <option value="">Problema...</option>
              </select>
            </div>
            <div class="col-xs-3">
              <select class="form-control" ng-model="filter.author" ng-options="a.id as a.fullName for a in filterAuthors">
                <option value="">Autor...</option>
              </select>
            </div>
            <div class="col-xs-1">
              <button class="btn btn-primary" ng-click="applyFilters(filter);">Filtrar</button>
            </div>
            <div class="col-xs-1">
              <button class="btn btn-default hidden-lg close-filters" ng-click="cleanFilters();"><i class="fa fa-times-circle"></i></button>
            </div>
            <div class="col-xs-1">
              <button class="btn btn-link visible-lg" ng-click="cleanFilters();">Cerrar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="panel timeline-panel">
        <div class="panel-body">
          <div class="timeline">
            <div class="timeline-controls" ng-controller="TimelineControls" >
            <button class="btn btn-link pull-right" title="Filtrar evoluciones" ng-click="showFilters();" ng-hide="filtersVisible || activeForm != 'none'">
              <i class="fa fa-filter timeline-filter-icon"></i>
            </button>
              <article class="timeline-item-start first hidden-xs ">
                <div class="timeline-desk editable edit">
                  <div class="panel first-panel" ng-hide="activeForm != 'none'" ng-animate="{show:'animate-show', hide:'animate-hide'}">
                    <div class="clickable-panel">
                      <span class="timeline-icon" ng-click="_show_modal();"></span>
                      <div class="row">
                        <div class="new-evolution">
                          <div class="evolution-txt-area" ng-click="displayForm({type: 'evolution', reset: true});">Crear nueva evolución...</div>
                          <div class="speech-tail shadow"></div>
                          <div class="speech-tail"></div>
                          <ul class="other-actions">
                            <li class="selected" ng-click="displayForm({type: 'evolution', reset: true});">
                              <div><i class="fa fa-book"></i></div>
                              <div class="description">Evolución</div>
                            </li>
                            <li ng-click="displayForm({type: 'problem', reset: true}); $event.stopPropagation();">
                              <div><i class="fa fa-medkit" title="crear problema"></i></div>
                              <div class="description">Problema</div>
                            </li>
                            <li ng-click="displayForm({type: 'vitalSign', reset: true}); $event.stopPropagation();">
                              <div><i class="fa fa-heart"></i></div>
                              <div class="description" >Signo Vital</div>
                            </li>
                            <li ng-if="medicalTemplates.length > 0 && !isOutpatient" class="dropdown medical-info-action">
                              <div class="dropdown-toggle" data-toggle="dropdown">
                                <div><i class="fa fa-list-alt"></i><span ng-show="openRecordsCount > 0" class="badge">{{openRecordsCount}}</span></div>
                                <div class="description">Fichas</div>
                              </div>
                              <ul class="dropdown-menu medical-info-menu" role="menu">
                                <li ng-repeat="t in medicalTemplates">
                                  <a href="#" ng-click="displayMedicalInfoForm(t);">
                                    <span ng-show="t.openRecord"><i class="fa fa-circle small-red"></i></span>{{t.label}}
                                  </a>
                                </li>
                              </ul>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="panel" id="{{activeForm}}" ng-show="activeForm == 'evolution'"
                       ng-animate="{show:'animate-show', hide:'animate-hide'}">
                    <div class="panel-body">
                      <span class="timeline-icon"></span>
                      <div ng-include="'/assets/templates/patient/evolution-form.html'"></div>
                    </div>
                  </div>
                  <div class="panel" id="{{activeForm}}" ng-if="activeForm == 'problem'"
                       ng-animate="{show:'animate-show', hide:'animate-hide'}">
                    <div class="form-group col-xs-12">
                      <div class="panel-heading">Nuevo Problema</div>
                    </div>
                    <div class="panel-body">
                      <span class="timeline-icon"></span>
                      <div ng-include="'/assets/templates/patient/problem-form.html'">
                      </div>
                    </div>
                  </div>
                  <div class="panel" id="{{activeForm}}" ng-if="activeForm == 'vitalSign'"
                       ng-animate="{show:'animate-show', hide:'animate-hide'}">
                    <div class="panel-heading">Nuevos Signos Vitales</div>
                    <div class="panel-body">
                      <span class="timeline-icon"></span>
                      <div ng-include="'/assets/templates/patient/vital-sign-form.html'">
                      </div>
                    </div>
                  </div>
                  <div ng-repeat="t in medicalTemplates" class="panel" id="{{activeForm}}" ng-show="activeForm == t.name"
                       ng-animate="{show:'animate-show', hide:'animate-hide'}">
                    <div class="panel-heading">{{t.label}}</div>
                    <div class="panel-body" ng-controller="MedicalInfoContainer" ng-init="initTemplate(t);">
                      <span class="timeline-icon"></span>
                      <div ng-include="'/assets/templates/medical-info-forms/container-form.html'">
                      </div>
                    </div>
                  </div>
                </div>
              </article>
            </div>
            <div ng-show="loading.timeline">
              <article class="timeline-item timeline-item-dummy">
                <div class="timeline-desk">
                  <div class="panel">
                    <div class="panel-body">
                      <span class="timeline-icon"></span>
                      <span class="arrow"></span>
                      <h5>Cargando <i class="fa fa-spin fa-spinner"></i></h5>
                    </div>
                  </div>
                </div>
              </article>
              <article class="timeline-item timeline-item-end hidden-xs">
                <div class="timeline-desk">
                  <div class="panel">
                    <div class="panel-body"><span class="timeline-icon"></span></div>
                  </div>
                </div>
              </article>
            </div>
            <div ng-if="timeline_type == 'flat'" ng-include="'/assets/templates/patient/timeline/flat-timeline.html'"></div>
            <div ng-if="timeline_type == 'session_based'" ng-include="'/assets/templates/patient/timeline/session-based-timeline.html'"></div>
            <div ng-include="'/assets/templates/document-viewer.html'"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

