<form ng-controller="ProblemForm" role="form" name="problemForm" id="problemForm" novalidate>
  <div class="row" ng-show="!isCurrentEpisode">
    <div class="col-xs-12">
      <div class="alert alert-warning" role="alert">
        <strong>Atención!</strong> Está agregando información a un episodio pasado.
        <a ng-if="currentEpisodeId !== -1" href="/patients/{{patient.id}}/episodes/{{currentEpisodeId}}/evolutions">Ir al episodio actual</a>
      </div>
    </div>
  </div>
  <div class="row" ng-show="!pickTerms">
    <div class="form-group col-xs-12">
    <label class="subtitle">
      <span class="number">1.</span>  Indique la categoría e ingrese el problema&nbsp;
    </label>
    </div>
  </div>
  <div class="row problem-form-row" ng-show="!pickTerms">
    <div class="form-group col-xs-5">
      <div class="form-group">
        <fieldset ng-disabled="problem.id">
          <label class="radio">
            <input name="category" ng-model="problem.state" required type="radio" value='active'>Activo
          </label>
          <label class="radio">
            <input name="category" ng-model="problem.state" required type="radio" value='solved'>Resuelto
          </label>
          <label class="radio">
            <input name="category" ng-model="problem.state" required type="radio" value='family'>Antecedente Familiar
          </label>
          <label class="radio">
            <input name="category" ng-model="problem.state" required type="radio" value='procedure'>Procedimiento
          </label>
          <label class="radio">
            <input name="category" ng-model="problem.state" required type="radio" value='allergy'>Alergia
          </label>
          <label class="radio">
            <input name="category" ng-model="problem.state" required type="radio" value='adverse-effect'>Efecto adverso a fármaco
          </label>
        </fieldset>
      </div>
    </div>
    <div class="form-group col-xs-7">
      <div class="form-group">
        <input id="problem-typeahead" maxlength="50" type="text" class="form-control"
               sf-typeahead options="problemTypeaheadOptions" datasets="problemDataset"
               ng-model="problem.name" ng-disabled="problem.id" inform-errors="problemForm.name"
               error-message="Problema requerido"
               placeholder="{{getPlaceholderLabel(problem.state)}}..." required>
        <label class="pull-left" ng-show="isProblemCategory(problem.state)" style="margin-top:5px">
          <input type="checkbox" name="suggestions"
                 ng-model="suggestionsEnabled" ng-checked="suggestionsEnabled"> Buscar sugerencias en CIE-10&nbsp;
                <i class="fa fa-question-circle" tooltip placement="bottom"
                  tooltip-title="CIE-10 es la herramienta de diagnóstico estándar para epidemiología y gestión clínica de la OMS. Al seleccionar esta opción le sugeriremos términos de esta clasificación para refinar el problema ingresado."></i>
        </label>
      </div>
    </div>
  </div>
  <div class="row divider" ng-show="!pickTerms">
    <div class="form-group col-xs-12">
    <label class="subtitle">
      <span class="number">2.</span> Puede incluir más información sobre el problema&nbsp;
    </label>
    </div>
  </div>
  <div class="row problem-form-optional" ng-show="!pickTerms">
    <div class="problem-form-optional-title">
      <span class="btn-corner-title">Información opcional</span>
    </div>
    <div class="row problem-form-row">
      <div ng-show="showStartDate(problem.state);" class="form-group col-xs-4">
        <label for="started">{{getStartDateLabel(problem.state)}}</label>
        <input name="started" type="text" class="form-control default-date-picker" ng-model="problem.started"
          inform-errors="problemForm.started" error-message="Debe ingresar una fecha válida."
          date-picker ng-pattern="/^\d{2}\/\d{2}\/\d{4}$/" unknown-date="true"/>
      </div>
      <div ng-show="showEndDate(problem.state);" class="form-group col-xs-4">
        <label for="ended">Fecha de resolución</label>
        <input name="ended" type="text" class="form-control default-date-picker" ng-model="problem.ended"
          date-picker unknown-date="true" inform-errors="problemForm.ended" error-message="Debe ser posterior a la fecha de inicio."
          ng-pattern="/^\d{2}\/\d{2}\/\d{4}$/" />
      </div>
      <div ng-show="showFamilyRelations(problem.state);" class="form-group col-xs-7">
        <label for="relation">Familiar a quien hace referencia el problema</label>
        <select class="form-control" name="relation" ng-model="problem.familyRelation" ng-options="fr.label for fr in familyRelations">
          <option value="">Seleccione...</option>
        </select>
      </div>
      <div ng-show="problem.state === 'allergy';" class="form-group col-xs-5">
        <label for="name">Elija una Severidad</label>
        <input type="hidden" ng-model="problem.severity">
        <div class="btn-group">
          <button class="btn btn-default btn-severity mild" id="allergy-mild"
                  data-toggle="popover" data-title="Leve"
                  data-content="Náuseas, vómitos, diaforesis, prurito, urticaria, erupción, dolor de cabeza, palidez, congestión nasal, mareos, escalofríos, hinchazón alrededor de los ojos y la cara, ansiedad."
                  ng-click="problem.severity = 'mild'"
                  ng-class="{'mild-active': problem.severity === 'mild'}">Leve</button>
          <button class="btn btn-default btn-severity moderate" id="allergy-moderate"
                  data-toggle="popover" data-title="Moderada"
                  data-content="Taquicardia, hipotensión, disnea, sibilancias, laringoespasmo, broncoespasmo."
                  ng-click="problem.severity = 'moderate'"
                  ng-class="{'moderate-active': problem.severity === 'moderate'}">Moderada</button>
          <button class="btn btn-default btn-severity severe" id="allergy-severe"
                  data-toggle="popover" data-title="Grave"
                  data-content=" Anafilaxia, convulsiones, paro cardiorrespiratorio."
                  ng-click="problem.severity = 'severe'"
                  ng-class="{'severe-active': problem.severity === 'severe'}">Grave</button>
        </div>
      </div>
    </div>
    <div class="row problem-form-row">
      <div class="form-group col-xs-12">
        <label for="date">Notas</label>
        <textarea class="form-control" maxlength="140" rows="2" ng-model="problem.note"></textarea>
      </div>
    </div>
  </div>

  <div class="row problem-matches problem-form-row" ng-show="pickTerms">
    <div class="col-xs-12">
      <h1 ng-show="firstTerms.length > 0">Seleccione un término</h1>
      <h1 ng-hide="firstTerms.length > 0">No se encontraron términos similares a <strong>"{{problem.name}}"</strong></h1>
      <ul class="terms" ng-class="{ 'disabled': saving }">
        <li class="first-terms" ng-repeat="term in firstTerms" ng-click="updateAndSave(term);">
          <div class="term">{{term.description}}</div>
        </li>
        <li ng-show="restTerms.length > 0 && !showMore" ng-click="showMore = true">
          <a href="#"><strong>Mostrar más ({{restTerms.length}})</strong></a>
        </li>
        <li ng-show="showMore" class="rest-terms" ng-repeat="term in restTerms" ng-click="updateAndSave(term);">
          <div class="term">{{term.description}}</div>
        </li>
      </ul>
    </div>
  </div>

  <div class="row problem-form-row row-margin-top">
    <div class="form-group col-xs-12">
      <div tooltip tooltip-display-on='problemForm.$invalid || problemForm.$pristine' class='pull-right'>
        <button type="submit" class="btn btn-primary pull-right" ng-click='saveWithTerms(problem);' ng-disabled="problemForm.$invalid || problemForm.$pristine || saving"  ng-hide="pickTerms">
          <span ng-show="saving"><i class="fa fa-spin fa-spinner"></i>&nbsp;&nbsp;</span>Guardar
        </button>
        <button class="btn btn-primary save" ng-click="save(problem);" ng-disabled="saving" ng-show="pickTerms">
          <span ng-show="firstTerms.length > 0">Continuar usando "<em>{{problem.name}}</em>"</span>
          <span ng-hide="firstTerms.length > 0">Utilizar "<em>{{problem.name}}</em>" de todas maneras</span>
        </button>
      </div>
      <button type="button" class="btn btn-link pull-right" ng-click="cancelPickingTerms();" ng-show="pickTerms">Atrás</button>
      <button type="button" class="btn btn-link" ng-class="{ 'pull-left': pickTerms, 'pull-right': !pickTerms }" ng-click="cancel();">Cancelar</button>
    </div>
  </div>
</form>
