<div class="sticky">
  <div ng-show="cardToHide != 'allergies'" class="row panel allergies-panel"
    ng-class="{'severe': anySevere }">
    <div class="panel-heading"><a href='{{basePatientUrl}}/problems'>alergias</a></div>
    <div class="panel-body" ng-switch on="allergies && allergies.length > 0">
      <ul ng-switch-when="true">
        <li ng-repeat="allergy in allergies | limitTo:5 | orderBy:'- _ordinal'"
          ng-class="{'severe': allergy._ordinal == 0}">{{allergy.name}}</li>
        <li ng-show="allergies.length > 5">
          <a href="{{basePatientUrl}}/problems" >{{allergies.length - 5}} más...</a>
        </li>
      </ul>
      <p ng-switch-default>No hay alergias.</p>
    </div>
  </div>
  <div ng-show="cardToHide != 'problems'" class="row panel">
    <div class="panel-heading"><a href='{{basePatientUrl}}/problems'>problemas</a></div>
    <div class="panel-body" ng-switch on="problems && problems.length > 0">
      <p ng-switch-default>No hay problemas
        <span ng-show="hiddenProblemsCount > 0"> activos ni procedimientos.<br/>
          <a href='{{basePatientUrl}}/problems'>Ver más...</a>
        </span>
      </p>
      <ul ng-switch-when="true">
        <li ng-repeat="prob in problems" title="{{prob.name}}">{{prob.name}}</li>
        <li ng-show="moreProblemsCount > 0">
          <a href='{{basePatientUrl}}/problems'>{{moreProblemsCount}} más...</a>
        </li>
      </ul>
    </div>
  </div>
</div>
