<form class="form-horizontal" role="form" name="egreso6" id="egreso6" novalidate>
  <div ng-init="setActiveForm(egreso6)">
    <div class="col-xs-12">
      <textarea class="form-control" rows="6" maxlength="4000"
                ng-model="data._6.plan" placeholder="Describa el plan de cuidado, las indicaciones y el tratamiento a seguir...">
      </textarea>
    </div>

  </div>
</form>
