<form class="form-horizontal" role="form" name="egreso2" id="egreso2" novalidate>
  <fieldset ng-disabled="info.status === 'closed'" ng-init="setActiveForm(egreso2)">
    <div class="row">
      <div ng-if="activeProblems.length === 0" class="col-xs-offset-1 col-xs-11">
        <p>No hay problemas activos en este episodio para ser reconciliados</p>
      </div>
      <div ng-if="activeProblems.length > 0" class="col-xs-offset-1 col-xs-11">
        <p>¿Quiere resolver alguno de estos problemas Activos?</p>
        <p>(sólo tilde los problemas que desee resolver)</p>
        <br/>
        <div class="form-group">
          <label ng-repeat="p in activeProblems" class="checkbox">
            <input name="p.name" ng-model="problemsToSolve[p.id]" type="checkbox">{{p.name}}
          </label>
        </div>
      </div>
    </div>
  </fieldset>
</form>
