<form class="form-horizontal" role="form" name="ingreso6" id="ingreso6" novalidate>
  <div class="form-group" ng-init="setActiveForm(ingreso6)">
    <div class="col-xs-11">
      <textarea class="form-control" rows="6" maxlength="4000"
                ng-model="data._6.estudiosComplementarios"
                placeholder="Resuma los hallazgos de los estudios complementarios realizados desde el ingreso...">
      </textarea>
    </div>
  </div>
</form>
