<form class="form-horizontal" role="form" name="ingreso4" id="ingreso4" novalidate>
  <div class="form-group" ng-init="setActiveForm(ingreso4)">
    <div class="col-xs-11">
      <label>
        <input type="checkbox" ng-model="data._4.noMed"> No refiere medicación habitual
      </label>
    </div>
    <div class="col-xs-11">
      <textarea class="form-control" rows="6" maxlength="4000" ng-required="!data._4.noMed" ng-disabled="data._4.noMed"
        ng-model="data._4.medicacionAmbulatorio" placeholder="Describa la medicación habitual del paciente...">
      </textarea>
    </div>
  </div>
</form>
