<form class="form-horizontal" role="form" name="ingreso8" id="ingreso8" novalidate>
  <div class="form-group" ng-init="setActiveForm(ingreso8)">
    <div class="col-xs-11">
      <textarea class="form-control" rows="6" maxlength="4000"
                ng-model="data._8.plan"
                placeholder="Describa el plan de estudio y tratamiento a seguir...">
      </textarea>
    </div>
  </div>
</form>
