<form role="form" class="with-attach" name="pa4" id="pa4" novalidate="">
  <div class="panel-group accordion-group">
    <div class="panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <a role="button" href="#" ng-click="activeSection = activeSection === 1 ? 0 : 1;">
            <span class="fa"
                  ng-class="{'fa-chevron-down': activeSection !== 1,
                             'fa-chevron-up': activeSection === 1}">
            </span>ECG Basal
          </a>
        </h3>
      </div>
      <div ng-show="activeSection === 1" class="row-margin-top">
        <div class="row">
          <div class="col-xs-4 form-group">
            <label>Ritmo
              <select class="form-control col-xs-4" ng-model="data._4.rhythm">
                <option value="" disabled selected>Seleccione...</option>
                <option ng-repeat="r in ecgRhythms">{{r}}</option>
              </select>
            </label>
          </div>
          <div class="col-xs-4 form-group">
            <label>Frec. cardíaca
              <div class="input-group">
                <input type="number" min="{{min('heartFreq')}}" max="{{max('heartFreq')}}" class="form-control" name="ecgheartFreq" inform-errors="resultForm.ecgheartFreq"
                error-message="Frecuencia fuera de rango" ng-model="data._4.heartFreq">
                <div class="input-group-addon">lpm</div>
              </div>
            </label>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-4 form-group">
            <label>Duración onda P
              <div class="input-group">
                <input type="number" min="{{min('pWave')}}" max="{{max('pWave')}}" class="form-control" name="ecgpWave" inform-errors="resultForm.ecgpWave"
                error-message="Frecuencia fuera de rango" ng-model="data._4.pWave">
                <div class="input-group-addon">mseg</div>
              </div>
            </label>
          </div>
          <div class="col-xs-4 form-group">
            <label>Intervalo PR
              <div class="input-group">
                <input type="number" min="{{min('prInterval')}}" max="{{max('prInterval')}}" class="form-control" name="ecgprInterval" inform-errors="resultForm.ecgprInterval"
                error-message="Frecuencia fuera de rango" ng-model="data._4.prInterval">
                <div class="input-group-addon">mseg</div>
              </div>
            </label>
          </div>
          <div class="col-xs-4 form-group">
            <label>Duración QRS
              <div class="input-group">
                <input type="number" min="{{min('qrsDuration')}}" max="{{max('qrsDuration')}}" class="form-control" name="ecgqrsDuration" inform-errors="resultForm.ecgqrsDuration"
                error-message="Frecuencia fuera de rango" ng-model="data._4.qrsDuration">
                <div class="input-group-addon">mseg</div>
              </div>
            </label>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-4 form-group">
            <label>Eje QRS
              <div class="input-group">
                <input type="number" min="{{min('qrsAxis')}}" max="{{max('qrsAxis')}}" class="form-control" name="ecgqrsAxis" inform-errors="resultForm.ecgqrsAxis"
                error-message="Frecuencia fuera de rango" ng-model="data._4.qrsAxis">
                <div class="input-group-addon">grados</div>
              </div>
            </label>
          </div>
          <div class="col-xs-4 form-group">
            <label>Intervalo QT
              <div class="input-group">
                <input type="number" min="{{min('qtInterval')}}" max="{{max('qtInterval')}}" class="form-control" name="ecgqtInterval" inform-errors="resultForm.ecgqtInterval"
                error-message="Frecuencia fuera de rango" ng-model="data._4.qtInterval">
                <div class="input-group-addon">mseg</div>
              </div>
            </label>
          </div>
          <div class="col-xs-4 form-group">
            <label>QT Corregido <i class="fa fa-question-circle" tooltip tooltip-html="true" tooltip-title="Según fórmula de Fridericia"></i>
              <div class="input-group">
                <input type="text" class="form-control" ng-model="data._4.qtCorrected" readonly>
                <div class="input-group-addon">mseg</div>
              </div>
            </label>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6 form-group">
          <fieldset>
            <label class="checkbox-inline">
              <input type="checkbox" ng-model="data._4.bri">BRI
            </label>
            <label class="checkbox-inline">
              <input type="checkbox" ng-model="data._4.brd">BRD
            </label>
            <label class="checkbox-inline">
              <input type="checkbox" ng-model="data._4.hai">HAI
            </label>
            <label class="checkbox-inline">
              <input type="checkbox" ng-model="data._4.hpi">HPI
            </label>
          </fieldset>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 form-group">
            <label>Comentarios</label>
            <textarea class="form-control" maxlength="140" rows="2" ng-model="data._4.comments" placeholder="Comentarios..."></textarea>
          </div>
        </div>

        <div class="form-group">
          <div class="drop-file" ng-hide="data._4.attached" dropzone>
            <h3><i class="fa fa-cloud-upload"></i>&nbsp;Adjuntar imagen del ECG</h3>
            <input type="file" name="attachment" accept="image/png, image/jpeg" ng-model="data._4.attachment"
                   onchange="angular.element(this).scope().attachments(this);" />
          </div>
          <ul class="attachments" ng-show="data._4.attached">
            <li ng-repeat="file in data._4.fileNames">
              <i class="fa fa-cloud-upload"></i>&nbsp;{{file | lowercase}}<i class="fa fa-times-circle" ng-click="cancelAttachments()"></i>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="panel-default row-margin-top">
      <div class="panel-heading">
        <h3 class="panel-title">
          <a role="button" href="#" ng-click="activeSection = activeSection === 2 ? 0 : 2;">
            <span class="fa"
                  ng-class="{'fa-chevron-down': activeSection !== 2,
                             'fa-chevron-up': activeSection === 2}">
            </span>Radiografía de tórax
          </a>
        </h3>
      </div>
      <div ng-show="activeSection === 2" class="row-margin-top">
        <div class="form-group row row-margin-top">
          <div class="col-xs-12">
            <textarea class="form-control" ng-model="data._4.torax" rows="3" placeholder="Comentarios..."></textarea>
          </div>
        </div>
      </div>
    </div>

    <div class="panel-default row-margin-top">
      <div class="panel-heading">
        <h3 class="panel-title">
          <a role="button" href="#" ng-click="activeSection = activeSection === 3 ? 0 : 3;">
            <span class="fa"
                  ng-class="{'fa-chevron-down': activeSection !== 3,
                             'fa-chevron-up': activeSection === 3}">
            </span>Laboratorio
          </a>
        </h3>
      </div>
      <div ng-show="activeSection === 3" class="row-margin-top">
        <div class="form-group row row-margin-top">
          <div class="col-xs-6">
          </div>
          <div class="col-xs-6">
            <div class="pull-right btn-group" style="margin-right:15px; margin-top:20px;">
              <button class="btn btn-default" ng-class="{'active': resultFormat === 'json'}"
                      ng-click="setResultFormat('json');"><a class="fa fa-columns"></a>
              </button>
              <button class="btn btn-default" ng-class="{'active': resultFormat === 'free'}"
                      ng-click="setResultFormat('free');"><a class="fa fa-pencil"></a>
              </button>
            </div>
          </div>
          <div class="form-group col-xs-12">
            <div ng-show="resultFormat === 'free'">
              <div class="row">
                <div class="form-group col-xs-12">
                  <label class="subtitle">Ingrese los resultados</label>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <textarea class="form-control" maxlength="140" rows="2" ng-model="data._4.labAsText"></textarea>
                </div>
              </div>
            </div>
            <div ng-show="resultFormat === 'json'">
              <div class="row form-group row-lab-description">
                <div class="col-xs-4 description-item" ng-repeat="item in labDescriptionItems">
                  <div class="input-zone">
                    <label>{{item.name}} <small ng-show="item.extra">({{item.extra}})</small></label>
                    <input class="form-control" type="number" name="{{item.pid}}"
                      ng-model="data_4_lab[item.pid]">
                  </div>
                  <div class="clear">
                    <a class="btn btn-link" title="Eliminar campo" ng-click="removeLabItem(item.pid, $event)" tabindex="-1">
                      <i class="fa fa-lg fa-times-circle"></i>
                    </a>
                  </div>
                </div>
              </div>
              <div class="pull-right">
                <button class="btn btn-link" ng-show="labDescriptionItems.length === 0" ng-click="loadDefaults()">Agregar prácticas comunes</button>
                <button class="btn btn-link" ng-show="labDescriptionItems.length > 0" ng-click="clear()">Quitar todos</button>
                <button class="btn btn-link" ng-click="showLabItemModal()">Agregar otros</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="panel-default row-margin-top">
      <div class="panel-heading">
        <h3 class="panel-title">
          <a role="button" href="#" ng-click="activeSection = activeSection === 4 ? 0 : 4;">
            <span class="fa"
                  ng-class="{'fa-chevron-down': activeSection !== 4,
                             'fa-chevron-up': activeSection === 4}">
            </span>Otros estudios
          </a>
        </h3>
      </div>
      <div ng-show="activeSection === 4" class="row-margin-top">
        <div class="form-group row row-margin-top">
          <div class="col-xs-12">
            <textarea class="form-control" ng-model="data._4.otrosEstudios" rows="3" placeholder="Comentarios..."></textarea>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>

<!-- new lab practices modal -->
<div class="modal omnia-modal fade" id="labitems-modal" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Agregar resultados de laboratorio</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-12">Selecciones el/los que desea agregar a la plantilla…</div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <input type="text" class="form-control" select-practice kind="lab" multiple="multiple" id='additional-lab-practices' data-placeholder="...">
          </div>
        </div>
        <div class="row row-margin-top">
          <div class="pull-right">
            <button type="button" class="btn btn-link" data-dismiss="modal">Cancelar</button>
            <button type="button" ng-click="addLabItems()" class="btn btn-primary" data-dismiss="modal">Guardar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>