<form class="form-horizontal" role="form" name="pa5" id="pa5" novalidate>
  <div class="panel-group accordion-group">
    <div class="panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <a role="button" href="#" ng-click="activeSection = activeSection === 1 ? 0 : 1;">
            <span class="fa"
                  ng-class="{'fa-chevron-down': activeSection !== 1,
                             'fa-chevron-up': activeSection === 1}">
            </span>Preparación
          </a>
        </h3>
      </div>
      <div ng-show="activeSection === 1">
        <div class="gray-container">
          <div class="form-group">
            <label for="5-1" class="control-label col-xs-3 force-left lg-label">Monitoreo</label>
            <div class="col-xs-3">
              <label class="checkbox-inline"><input type="checkbox" ng-model="data._5.ecg">ECG</label>
            </div>
            <div class="col-xs-3">
              <label class="checkbox-inline"><input type="checkbox" ng-model="data._5.presion">Presión arterial</label>
            </div>
            <div class="col-xs-3">
              <label class="checkbox-inline"><input type="checkbox" ng-model="data._5.saturometria">Saturometría</label>
            </div>
          </div>
          <div class="form-group">
            <label for="5-2" class="control-label col-xs-3 force-left lg-label">Profilaxis</label>
            <div class="col-xs-3">
              <label class="checkbox-inline"><input type="checkbox" ng-model="data._5.ocular">Ocular</label>
            </div>
            <div class="col-xs-3">
              <label class="checkbox-inline"><input type="checkbox" ng-model="data._5.decubitos">Decúbitos</label>
            </div>
          </div>
          <div class="form-group">
            <label for="5-3" class="control-label col-xs-6 force-left lg-label">Chequeo de mesa de anestesia</label>
            <div class="col-xs-6">
              <label class="radio-inline"><input type="radio" name="chequeo_mesa" ng-model="data._5.chequeo_mesa" value="si">Si</label>
              <label class="radio-inline"><input type="radio" name="chequeo_mesa" ng-model="data._5.chequeo_mesa" value="no">No</label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="panel-default row-margin-top">
      <div class="panel-heading">
        <h3 class="panel-title">
          <a role="button" href="#" ng-click="activeSection = activeSection === 2 ? 0 : 2;">
            <span class="fa"
                  ng-class="{'fa-chevron-down': activeSection !== 2,
                             'fa-chevron-up': activeSection === 2}">
            </span>Accesos Vasculares
          </a>
        </h3>
      </div>
      <div ng-show="activeSection === 2">
        <h3 class="substep-title left-margin" ng-hide="data._5.accesos && data._5.accesos.length > 0">No tiene accesos colocados...</h3>
        <div class="form-group">
          <div class="col-xs-11">
            <ul>
              <li class="li-black" ng-repeat="a in data._5.accesos">
                <p>{{a.tipo}}, {{a.localizacion}}</p><span ng-click="removeAccess($index);" class="fa fa-times-circle error"></span>
              </li>
            </ul>
            <button type="button" ng-click="showNewAccessModal();"
                    class="btn btn-info"><span class="fa fa-plus" aria-hidden="true"></span>  Agregar</button>
          </div>
        </div>
      </div>
    </div>
    <div class="panel-default row-margin-top">
      <div class="panel-heading">
        <h3 class="panel-title">
          <a role="button" href="#" ng-click="activeSection = activeSection === 3 ? 0 : 3;">
            <span class="fa"
                  ng-class="{'fa-chevron-down': activeSection !== 3,
                             'fa-chevron-up': activeSection === 3}">
            </span>Profilaxis antibiótica
          </a>
        </h3>
      </div>
      <div ng-show="activeSection === 3">
        <div class="form-group row-margin-top">
          <label for="5-3" class="control-label col-xs-6 force-left lg-label">¿Se realizó profilaxis antibiótica?</label>
          <div class="col-xs-6">
            <label class="radio-inline"><input type="radio" name="chequeo_mesa" ng-model="data._5.profilaxis" value="si">Si</label>
            <label class="radio-inline"><input type="radio" name="chequeo_mesa" ng-model="data._5.profilaxis" value="no">No</label>
            <label class="radio-inline"><input type="radio" name="chequeo_mesa" ng-model="data._5.profilaxis" value="nc">No corresponde</label>
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-12">
            <textarea class="form-control" rows="3" ng-model="data._5.profilaxis_comentarios" placeholder="Comentarios..."></textarea>
          </div>
        </div>
      </div>
    </div>
    <div class="panel-default row-margin-top">
      <div class="panel-heading">
        <h3 class="panel-title">
          <a role="button" href="#" ng-click="activeSection = activeSection === 4 ? 0 : 4;">
            <span class="fa"
                  ng-class="{'fa-chevron-down': activeSection !== 4,
                             'fa-chevron-up': activeSection === 4}">
            </span>Anestesia utilizada
          </a>
        </h3>
      </div>
      <div ng-show="activeSection === 4">
        <div class="form-group">
          <ul class="list-unstyled step-5-list">
            <li><label class="checkbox-inline"><input type="checkbox" ng-model="data._5.local.checked">Local</label></li>
            <li>
              <div ng-if="data._5.local.checked" class="gray-container li-inner-box">
                <div class="form-group">
                  <label for="5-2" class="control-label col-xs-2">Técnica</label>
                  <div class="col-xs-10">
                    <input type="text" class="form-control" ng-model="data._5.local.tecnica">
                  </div>
                </div>
                <div class="form-group">
                  <label for="5-2" class="control-label col-xs-2">Aguja N°</label>
                  <div class="col-xs-2">
                    <input type="text" class="form-control" ng-model="data._5.local.aguja">
                  </div>
                  <label for="5-2" class="control-label col-xs-2">Punta</label>
                  <div class="col-xs-2">
                    <input type="text" class="form-control" ng-model="data._5.local.punta">
                  </div>
                  <label for="5-2" class="control-label col-xs-2">Catéter N°</label>
                  <div class="col-xs-2">
                    <input type="text" class="form-control" ng-model="data._5.local.cateter">
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-xs-12">
                    <textarea class="form-control" rows="3" ng-model="data._5.local.farmacos"
                              placeholder="Fármacos utilizados y observaciones..."></textarea>
                  </div>
                </div>
              </div>
            </li>
            <li><label class="checkbox-inline"><input type="checkbox" ng-model="data._5.regional.checked">Regional</label></li>
            <li>
              <div ng-if="data._5.regional.checked" class="gray-container li-inner-box">
                <div class="form-group">
                  <label for="5-2" class="control-label col-xs-2">Técnica</label>
                  <div class="col-xs-10">
                    <input type="text" class="form-control" ng-model="data._5.regional.tecnica">
                  </div>
                </div>
                <div class="form-group">
                  <label for="5-2" class="control-label col-xs-2">Aguja N°</label>
                  <div class="col-xs-2">
                    <input type="text" class="form-control" ng-model="data._5.regional.aguja">
                  </div>
                  <label for="5-2" class="control-label col-xs-2">Punta</label>
                  <div class="col-xs-2">
                    <input type="text" class="form-control" ng-model="data._5.regional.punta">
                  </div>
                  <label for="5-2" class="control-label col-xs-2">Catéter N°</label>
                  <div class="col-xs-2">
                    <input type="text" class="form-control" ng-model="data._5.regional.cateter">
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-xs-12">
                    <textarea class="form-control" rows="3" ng-model="data._5.regional.farmacos"
                              placeholder="Fármacos utilizados y observaciones..."></textarea>
                  </div>
                </div>
              </div>
            </li>
            <li><label class="checkbox-inline"><input type="checkbox" ng-model="data._5.peridural.checked">Peridural</label></li>
            <li>
              <div ng-if="data._5.peridural.checked" class="gray-container li-inner-box">
                <div class="form-group">
                  <label for="5-2" class="control-label col-xs-2">Técnica</label>
                  <div class="col-xs-10">
                    <input type="text" class="form-control" ng-model="data._5.peridural.tecnica">
                  </div>
                </div>
                <div class="form-group">
                  <label for="5-2" class="control-label col-xs-2">Aguja N°</label>
                  <div class="col-xs-2">
                    <input type="text" class="form-control" ng-model="data._5.peridural.aguja">
                  </div>
                  <label for="5-2" class="control-label col-xs-2">Punta</label>
                  <div class="col-xs-2">
                    <input type="text" class="form-control" ng-model="data._5.peridural.punta">
                  </div>
                  <label for="5-2" class="control-label col-xs-2">Catéter N°</label>
                  <div class="col-xs-2">
                    <input type="text" class="form-control" ng-model="data._5.peridural.cateter">
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-xs-12">
                    <textarea class="form-control" rows="3" ng-model="data._5.peridural.farmacos"
                              placeholder="Fármacos utilizados y observaciones..."></textarea>
                  </div>
                </div>
              </div>
            </li>
            <li><label class="checkbox-inline"><input type="checkbox" ng-model="data._5.subaracnoidea.checked">Subaracnoidea</label></li>
            <li>
              <div ng-if="data._5.subaracnoidea.checked" class="gray-container li-inner-box">
                <div class="form-group">
                  <label for="5-2" class="control-label col-xs-2">Técnica</label>
                  <div class="col-xs-10">
                    <input type="text" class="form-control" ng-model="data._5.subaracnoidea.tecnica">
                  </div>
                </div>
                <div class="form-group">
                  <label for="5-2" class="control-label col-xs-2">Aguja N°</label>
                  <div class="col-xs-2">
                    <input type="text" class="form-control" ng-model="data._5.subaracnoidea.aguja">
                  </div>
                  <label for="5-2" class="control-label col-xs-2">Punta</label>
                  <div class="col-xs-2">
                    <input type="text" class="form-control" ng-model="data._5.subaracnoidea.punta">
                  </div>
                  <label for="5-2" class="control-label col-xs-2">Catéter N°</label>
                  <div class="col-xs-2">
                    <input type="text" class="form-control" ng-model="data._5.subaracnoidea.cateter">
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-xs-12">
                    <textarea class="form-control" rows="3" ng-model="data._5.subaracnoidea.farmacos"
                              placeholder="Fármacos utilizados y observaciones..."></textarea>
                  </div>
                </div>
              </div>
            </li>
            <li><label class="checkbox-inline"><input type="checkbox" ng-model="data._5.plexual.checked">Plexual</label></li>
            <li>
              <div ng-if="data._5.plexual.checked" class="gray-container li-inner-box">
                <div class="form-group">
                  <label for="5-2" class="control-label col-xs-2">Técnica</label>
                  <div class="col-xs-10">
                    <input type="text" class="form-control" ng-model="data._5.plexual.tecnica">
                  </div>
                </div>
                <div class="form-group">
                  <label for="5-2" class="control-label col-xs-2">Aguja N°</label>
                  <div class="col-xs-2">
                    <input type="text" class="form-control" ng-model="data._5.plexual.aguja">
                  </div>
                  <label for="5-2" class="control-label col-xs-2">Punta</label>
                  <div class="col-xs-2">
                    <input type="text" class="form-control" ng-model="data._5.plexual.punta">
                  </div>
                  <label for="5-2" class="control-label col-xs-2">Catéter N°</label>
                  <div class="col-xs-2">
                    <input type="text" class="form-control" ng-model="data._5.plexual.cateter">
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-xs-12">
                    <textarea class="form-control" rows="3" ng-model="data._5.plexual.farmacos"
                              placeholder="Fármacos utilizados y observaciones..."></textarea>
                  </div>
                </div>
              </div>
            </li>
            <li><label class="checkbox-inline"><input type="checkbox" ng-model="data._5.otra">Otra</label></li>
            <li ng-if="data._5.otra" class="inner-padding">
              <textarea class="form-control" rows="3" ng-model="data._5.otraComentarios" placeholder="Comentarios..."></textarea>
            </li>
            <li>
              <label class="checkbox-inline"><input type="checkbox" ng-model="data._5.sedacion">Sedación</label>
              <ul ng-if="data._5.sedacion">
                <li><label class="checkbox-inline"><input type="checkbox" ng-model="data._5.canula">Cánula nasal</label></li>
                <li><label class="checkbox-inline"><input type="checkbox" ng-model="data._5.mascarillaFacial">Mascarilla facial</label></li>
                <li>
                  <textarea class="form-control row-margin-top" rows="3" ng-model="data._5.sedacion_farmacos"
                            placeholder="Fármacos utilizados y observaciones..."></textarea>
                </li>
              </ul>
            </li>
            <li><label class="checkbox-inline"><input type="checkbox" ng-model="data._5.general">General</label></li>
            <li>
              <ul ng-if="data._5.general">
                <li>
                  <label class="checkbox-inline pull-left"><input type="checkbox" ng-model="data._5.circular">Circuito circular</label>
                </li>
                <li ng-if="data._5.circular" class="inner-padding">
                  <textarea class="form-control" rows="3" ng-model="data._5.circularComentarios" placeholder="Comentarios..."></textarea>
                </li>
                <li>
                  <label class="checkbox-inline pull-left"><input type="checkbox" ng-model="data._5.asistencia">Asistencia ventilatoria mecánica</label>
                </li>
                <li>
                  <ul ng-if="data._5.asistencia">
                    <li class="inner-padding-bt">
                      <label class="checkbox-inline pull-left"><input type="checkbox" ng-model="data._5.preoxigenacion">Preoxigenación</label>
                    </li>
                    <li class="inner-padding-bt">
                      <label class="checkbox-inline pull-left"><input type="checkbox" ng-model="data._5.secuencia">Secuencia rápida de inducción con presión cricoidea</label>
                    </li>
                    <li class="inner-padding-bt">
                      <label class="checkbox-inline pull-left"><input type="checkbox" ng-model="data._5.tuboComun">Tubo endotraqueal común</label>
                      <div class="col-xs-2" ng-if="data._5.tuboComun">
                        <input type="text" class="form-control input-sm" ng-model="data._5.tuboComunNro" placeholder="Número...">
                      </div>
                    </li>
                    <li class="inner-padding-bt">
                      <label class="checkbox-inline pull-left"><input type="checkbox" ng-model="data._5.tuboEspiralado">Tubo endotraqueal espiralado</label>
                      <div class="col-xs-2" ng-if="data._5.tuboEspiralado">
                        <input type="text" class="form-control input-sm" ng-model="data._5.tuboEspiraladoNro" placeholder="Número...">
                      </div>
                    </li>
                    <li class="inner-padding-bt">
                      <label class="checkbox-inline pull-left"><input type="checkbox" ng-model="data._5.tuboLumen">Tubo endotraqueal doble lúmen</label>
                      <div class="col-xs-2" ng-if="data._5.tuboLumen">
                        <input type="text" class="form-control input-sm" ng-model="data._5.tuboLumenNro" placeholder="Número...">
                      </div>
                    </li>
                    <li class="inner-padding-bt">
                      <label class="checkbox-inline pull-left"><input type="checkbox" ng-model="data._5.generalMascara">Máscara laríngea</label>
                      <div class="col-xs-2" ng-if="data._5.generalMascara">
                        <input type="text" class="form-control input-sm" ng-model="data._5.generalMascaraNro" placeholder="Número...">
                      </div>
                    </li>
                    <li class="inner-padding-bt">
                      <label for="" class="control-label force-left lg-label">Procedimiento traumático?</label>
                      <div class="col-xs-3">
                        <label class="radio-inline"><input type="radio" name="traumatico" ng-model="data._5.traumatico" value="no">No</label>
                        <label class="radio-inline"><input type="radio" name="traumatico" ng-model="data._5.traumatico" value="si">Si</label>
                      </div>
                    </li>
                    <li class="inner-padding-bt">
                      <label for="" class="control-label force-left lg-label">Entrada de aire</label>
                      <div class="col-xs-2">
                        <label class="checkbox-inline"><input type="checkbox" ng-model="data._5.entradaDerecho">Derecho</label>
                      </div>
                      <div class="col-xs-2">
                        <label class="checkbox-inline"><input type="checkbox" ng-model="data._5.entradaIzquierdo">Izquierdo</label>
                      </div>
                    </li>
                    <li class="inner-padding">
                      <textarea class="form-control" rows="3" ng-model="data._5.asistenciaComentarios" placeholder="Comentarios..."></textarea>
                    </li>
                    <li>
                      <h3 class="substep-title">Seteo del ventilador</h3>
                      <div class="gray-container">
                        <div class="form-group">
                          <label class="inline col-xs-3 text-right">Modo Ventilatorio</label>
                          <div class="col-xs-3">
                            <select class="form-control" ng-model="data._5.modoVentilatorio">
                              <option value="">Seleccione</option>
                              <option value="CMV">CMV</option>
                              <option value="PSV">PSV</option>
                              <option value="PSV">CPAP</option>
                              <option value="PSV">SIMV</option>
                            </select>
                          </div>
                          <label class="inline col-xs-3 text-right">Volumen Corriente</label>
                          <div class="col-xs-3">
                            <div class="input-group">
                              <input type="number" min="0" class="form-control" ng-model="data._5.volumenCorriente">
                              <span class="input-group-addon" id="">ml</span>
                            </div>
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="inline col-xs-3 text-right">FI O2</label>
                          <div class="col-xs-3">
                            <div class="input-group">
                              <input type="number" min="0" class="form-control" ng-model="data._5.fiO2">
                              <span class="input-group-addon">%</span>
                            </div>
                          </div>
                          <label class="inline col-xs-2 text-right">PEEP</label>
                          <div class="col-xs-4">
                            <div class="input-group">
                              <input type="number" min="0" class="form-control" ng-model="data._5.peep">
                              <span class="input-group-addon" id="">cm H2O</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</form>

<div class="modal fade something new-access-modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Nuevo Acceso Vascular</h4>
      </div>
      <div class="modal-body">
        <form id="newAccess" name="newAccess" ng-repeat="item in pa_5_accesos">
          <div class="form-group row row-margin-top">
            <div class="col-xs-5">
              <select class="form-control" ng-model="item.tipo">
                <option value="">Tipo...</option>
                <option value="Acceso venoso periférico">Acceso venoso periférico</option>
                <option value="Acceso venoso central">Acceso venoso central</option>
                <option value="Acceso arterial">Acceso arterial</option>
                <option value="Catéter arterial pulmonar">Catéter arterial pulmonar</option>
                <option value="Catéter para diálisis">Catéter para diálisis</option>
                <option value="Catéter arterial umbilical">Catéter arterial umbilical</option>
                <option value="Catéter venoso umbilical">Catéter venoso umbilical</option>
              </select>
            </div>
            <div class="col-xs-5">
              <select class="form-control" ng-model="item.localizacion">
                <option value="">Localización...</option>
                <option value="Yugular anterior derecha">Yugular anterior derecha</option>
                <option value="Yugular posterior izquierda">Yugular posterior izquierda</option>
                <option value="Yugular anterior izquierda">Yugular anterior izquierda</option>
                <option value="Subclavia derecha">Subclavia derecha</option>
                <option value="Subclavia izquierda">Subclavia izquierda</option>
                <option value="Supraclavicular derecho">Supraclavicular derecho</option>
                <option value="Supraclavicular izquierdo">Supraclavicular izquierdo</option>
                <option value="Radial derecho">Radial derecho</option>
                <option value="Radial izquierdo">Radial izquierdo</option>
                <option value="Humeral derecho">Humeral derecho</option>
                <option value="Humeral izquierdo">Humeral izquierdo</option>
                <option value="Cubital derecho">Cubital derecho</option>
                <option value="Cubital izquierdo">Cubital izquierdo</option>
                <option value="Femoral derecho">Femoral derecho</option>
                <option value="Femoral izquierdo">Femoral izquierdo</option>
                <option value="Pedio derecho">Pedio derecho</option>
                <option value="Pedio izquierdo">Pedio izquierdo</option>
                <option value="Cefálica derecha">Cefálica derecha</option>
                <option value="Cefálica izquierda">Cefálica izquierda</option>
                <option value="Basílica derecha">Basílica derecha</option>
                <option value="Basílica izquierda">Basílica izquierda</option>
                <option value="Antebraquial derecho">Antebraquial derecho</option>
                <option value="Antebraquial izquierdo">Antebraquial izquierdo</option>
                <option value="Dorso mano derecha">Dorso mano derecha</option>
                <option value="Dorso mano izquierda">Dorso mano izquierda</option>
                <option value="Dorso pie derecho">Dorso pie derecho</option>
                <option value="Dorso pie izquierdo">Dorso pie izquierdo</option>
              </select>
            </div>
            <button href="#" class="add-new btn btn-link" ng-click="addAccessRow(pa_5_accesos, $index);"
                    ng-show="$last && canAddAccessRow(item)">Agregar otro</button>
            <button href="#" class="add-new btn btn-link" ng-hide="$last && canAddAccessRow(item)"
                  ng-click="removeAccessRow(pa_5_accesos, $index);">Eliminar</button>
          </div>
        </form>
      </div>
      <div class="modal-footer row-margin-top">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal"
                ng-disabled="!pa_5_accesos[pa_5_accesos.length - 1].tipo || !pa_5_accesos[pa_5_accesos.length - 1].localizacion"
                ng-click="saveAccess(pa_5_accesos);">Guardar</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->