<div class="pa-step-6">
  <div class="row">
    <div class="col-xs-11 col-xs-offset-1">
      <h4>Ingreso del paciente a Quirófano</h4>
      <br/>
      <div class="form-group">
        <label for="date" class="col-xs-1 control-label">Fecha</label>
        <div class="col-xs-4">
          <input type="text" class="form-control" default-date-picker date-picker ng-model="data._6.fecha"
            ng-pattern="/^\d{2}\/\d{2}\/\d{4}$/" required/>
        </div>
        <label for="date" class="col-xs-1 control-label">Hora</label>
        <div class="col-xs-4">
          <input type="text" class="form-control" time-picker ng-model="data._6.hora" required/>
        </div>
      </div>
    </div>
  </div>
  <div class="panel-group row-margin-top" id="accordion">
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingOne">
        <h4 class="panel-title">
          <a role="button" href="#" ng-click="toggleDataRows('monitoreo');">
            <span class="fa"
                  ng-class="{'fa-chevron-down': !monitoreo_data_rows,
                             'fa-chevron-up': monitoreo_data_rows}">
            </span>Monitoreo
          </a>
        </h4>
        <button type="button" class="btn btn-info"
                ng-click="launchModal('pa_6_monitoreo', false);"><span class="fa fa-plus"></span>  Agregar</button>
      </div>
      <div ng-show="monitoreo_data_rows">
        <table class="table">
          <tbody>
            <tr ng-repeat="e in data._6.monitoreo">
              <td scope="row" class="text-primary">{{e.momento}} min</td>
              <td>{{formatMonitorRow(e)}}</td>
              <td><a href="#" ng-click="removeItem(data._6.monitoreo, $index)" class="fa fa-trash text-primary"></a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="panel panel-default" ng-repeat="dp in drugPanels">
      <div class="panel-heading" role="tab">
        <h4 class="panel-title">
          <a role="button" href="#" ng-click="toggleDrugDataRows(dp.name);">
            <span class="fa"
                  ng-class="{'fa-chevron-down': !farmacos_data_rows[dp.name],
                             'fa-chevron-up': farmacos_data_rows[dp.name]}">
            </span>{{dp.title}}
          </a>
        </h4>
        <button type="button" class="btn btn-info" ng-click="launchModal('pa_6_farmacos', true);setActiveDrugModal(dp.name);">
          <span class="fa fa-plus"></span>  Agregar</button>
      </div>
      <div ng-show="farmacos_data_rows[dp.name]" id="collapseTwo">
        <table class="table">
          <tbody>
            <tr ng-repeat="e in data._6[dp.name]">
              <td scope="row" class="text-primary">{{e.momento}} min</td>
              <td>{{formatDosisRow(e.list)}}</td>
              <td><a href="#" ng-click="removeItem(data._6[dp.name], $index)" class="fa fa-trash text-primary"></a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a role="button" href="#" ng-click="toggleDataRows('fluidos');">
            <span class="fa"
                  ng-class="{'fa-chevron-down': !fluidos_data_rows,
                             'fa-chevron-up': fluidos_data_rows}">
            </span>Fluidos
          </a>
        </h4>
        <button type="button" class="btn btn-info" ng-click="launchModal('pa_6_fluidos', true);">
          <span class="fa fa-plus" aria-hidden="true"></span>  Agregar
        </button>
      </div>
      <div ng-show="fluidos_data_rows">
        <table class="table">
          <tbody>
            <tr ng-repeat="e in data._6.fluidos">
              <td scope="row" class="text-primary">{{e.momento}} min</td>
              <td>{{formatDosisRow(e.list)}}</td>
              <td><a href="#" ng-click="removeItem(data._6.fluidos, $index)" class="fa fa-trash text-primary"></a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab">
        <h4 class="panel-title">
          <a role="button" href="#" ng-click="toggleDataRows('egresos');">
            <span class="fa"
                  ng-class="{'fa-chevron-down': !egresos_data_rows,
                             'fa-chevron-up': egresos_data_rows}">
            </span>Egresos
          </a>
        </h4>
        <button type="button" class="btn btn-info" ng-click="launchModal('pa_6_egresos', false);">
          <span class="fa fa-plus"></span>  Agregar
        </button>
      </div>
      <div ng-show="egresos_data_rows">
        <table class="table">
          <tbody>
            <tr ng-repeat="e in data._6.egresos">
              <td scope="row" class="text-primary">{{e.momento}} min</td>
              <td>{{formatOutcomeRow(e)}}</td>
              <td><a href="#" ng-click="removeItem(data._6.egresos, $index)" class="fa fa-trash text-primary"></a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row events">
      <div class="col-xs-offset-1 col-xs-10 form-group">
        <label>Eventos ocurridos durante el procedimiento:</label>
        <textarea class="form-control" maxlength="4000" rows="4" ng-model="data._6.eventos" placeholder="Comentarios..."></textarea>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade step-6-modal" id="pa_6_monitoreo_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
<div class="modal-dialog">
  <div class="modal-content">
    <form id="pa_6_monitoreo_form" name="pa_6_monitoreo_form" novalidate>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Monitoreo intraoperatorio</h4>
      </div>
      <div class="subheader">
        <div class="row">
          <div class="col-xs-10 pull-right">
            <label class="control-label col-xs-9 text-right" for="step-6-1">Momento del registro<br>(minutos desde el ingreso a quirófano)</label>
            <div class="label-col">
              <div class="input-group">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button" ng-click="decreaseCounter(pa_6_monitoreo)"><i class="fa fa-minus"></i></button>
                </span>
                <input type="text" pattern="[0-9]*" class="form-control" ng-model="pa_6_monitoreo.momento" required
                       ng-change="momentAsNumber(pa_6_monitoreo);">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button" ng-click="increaseCounter(pa_6_monitoreo)"><i class="fa fa-plus"></i></button>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-body">
        <div class="form-horizontal">
          <div class="form-group">
            <label class="control-label col-xs-3" for="step-6-1">Frecuencia Cardíaca</label>
            <div class="col-xs-3">
              <div class="input-group">
                <input type="number" min="0" max="300" class="form-control" ng-model="pa_6_monitoreo.fc"
                       name="fc" inform-errors="pa_6_monitoreo_form.fc" error-message="Valor inválido">
                <span class="input-group-addon" id="step-6-1">lpm</span>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-xs-3" for="step-6-1">Frecuencia Respiratoria</label>
            <div class="col-xs-3">
              <div class="input-group">
                <input type="number" min="0" max="90" class="form-control" ng-model="pa_6_monitoreo.fr"
                       name="fr" inform-errors="pa_6_monitoreo_form.fr" error-message="Valor inválido">
                <span class="input-group-addon" id="step-6-1">rpm</span>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-xs-3" for="step-6-1">Presión Arterial</label>
            <div class="col-xs-6">
              <div class="input-group">
                <input type="number" class="form-control" name="apSystolic"
                       ng-model="pa_6_monitoreo.pa1" ng-change="validatePressure(pa_6_monitoreo, pa_6_monitoreo_form);"
                       inform-errors="pa_6_monitoreo_form.apSystolic" error-message="Valores inválidos"/>
                <div class="input-group-addon">/</div>
                <input type="number" class="form-control" name="apDiastolic"
                       ng-model="pa_6_monitoreo.pa2" ng-change="validatePressure(pa_6_monitoreo, pa_6_monitoreo_form);"
                       inform-errors="pa_6_monitoreo_form.apDiastolic" error-message="Valores inválidos"/>
                <div class="input-group-addon">mm Hg</div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-xs-3" for="step-6-1">Saturación O2</label>
            <div class="col-xs-3">
              <div class="input-group">
                <input type="number" min="0" max="100" class="form-control" ng-model="pa_6_monitoreo.saturacion"
                name="saturacion" inform-errors="pa_6_monitoreo_form.saturacion" error-message="Valor inválido">
                <span class="input-group-addon" id="step-6-1">%</span>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-xs-3" for="step-6-1">ET CO2</label>
            <div class="col-xs-3">
              <div class="input-group">
                <input type="number" min="0" max="40"class="form-control" ng-model="pa_6_monitoreo.et"
                  name="et" inform-errors="pa_6_monitoreo_form.et" error-message="Valor inválido">
                <span class="input-group-addon" id="step-6-1">mm Hg</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal"
          ng-disabled="pa_6_monitoreo_form.$invalid || !modalHasValues(pa_6_monitoreo)"
          ng-click="saveMonitorModal(pa_6_monitoreo);">Guardar</button>
      </div>
    </form>
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- Modal -->
<!-- Modal 2 -->
<div class="modal modal-big fade" id="pa_6_farmacos_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
<div class="modal-dialog">
  <div class="modal-content">
    <form id="pa_6_farmacos_form">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Fármacos administrados</h4>
    </div>
    <div class="subheader">
      <div class="row">
        <div class="col-xs-10 pull-right">
          <label class="control-label col-xs-9 text-right" for="step-6-1">Momento del registro<br>(minutos desde el ingreso a quirófano)</label>
          <div class="label-col">
            <div class="input-group">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button" ng-click="decreaseCounter(pa_6_farmacos)"><i class="fa fa-minus"></i></button>
                </span>
                <input type="text" pattern="[0-9]*" class="form-control" ng-model="pa_6_farmacos.momento" required
                       ng-change="momentAsNumber(pa_6_farmacos);">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button" ng-click="increaseCounter(pa_6_farmacos)"><i class="fa fa-plus"></i></button>
                </span>
              </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-body">
      <div class="form-horizontal" ng-repeat="item in pa_6_farmacos.list">
        <div class="form-group">
          <div class="col-xs-4">
            <select class="form-control" ng-model="item.name">
              <option value="">Elija un fármaco...</option>
              <option>Otro</option>
              <optgroup label="-----">
                <option ng-repeat="drug in drugLists[activeDrugModal]">{{drug}}</option>
              </optgroup>
            </select>
          </div>
          <div ng-if="item.name === 'Otro'" class="col-xs-6">
            <input type="text" class="form-control" ng-model="item.other" placeholder="Ingrese el fármaco, cantidad y unidad de medida...">
          </div>
          <div ng-if="item.name !== 'Otro'">
            <label class="control-label pull-left" for="step-6-1">Cantidad</label>
            <div class="col-xs-2 doble-in-drop first">
              <input type="number" min="0.1" step="0.1" class="form-control" ng-model="item.value">
            </div>
            <div class="col-xs-3 doble-in-drop second">
            <select class="form-control" ng-model="item.unit">
              <option value="">Unidad de medida...</option>
              <option value="mg">mg</option>
              <option value="mcg">mcg</option>
              <option value="mg">%</option>
              <option value="mg">gr</option>
              <option value="ml/h">ml/h</option>
              <option value="mcg/k/min">mcg/k/min</option>
              <option value="mg/k/h">mg/k/h</option>
            </select>
            </div>
          </div>
          <button href="#" class="add-new btn btn-link" ng-click="addDose(pa_6_farmacos.list, $index);"
                  ng-show="$last && canAddDose(item)">Agregar otro</button>
          <button href="#" class="add-new btn btn-link" ng-hide="$last && canAddDose(item)"
                  ng-click="removeDose(pa_6_farmacos.list, $index);">Eliminar</button>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      <button type="button" class="btn btn-primary" data-dismiss="modal" ng-disabled="!canSaveDosis(pa_6_farmacos)"
              ng-click="saveDrugs(pa_6_farmacos);">Guardar</button>
    </div>
    </form>
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- Modal 2-->
<!-- Modal 3 -->
<div class="modal modal-big fade" id="pa_6_fluidos_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
<div class="modal-dialog">
  <div class="modal-content">
    <form id="pa_6_fluidos_form">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Fluidos administrados</h4>
    </div>
    <div class="subheader">
      <div class="row">
        <div class="col-xs-10 pull-right">
          <label class="control-label col-xs-9 text-right" for="step-6-1">Momento del registro<br>(minutos desde el ingreso a quirófano)</label>
          <div class="label-col">
            <div class="input-group">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button" ng-click="decreaseCounter(pa_6_fluidos)"><i class="fa fa-minus"></i></button>
                </span>
                <input type="text" pattern="[0-9]*" class="form-control" ng-model="pa_6_fluidos.momento" required
                       ng-change="momentAsNumber(pa_6_fluidos);">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button" ng-click="increaseCounter(pa_6_fluidos)"><i class="fa fa-plus"></i></button>
                </span>
              </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-body">
      <div class="form-horizontal" ng-repeat="item in pa_6_fluidos.list">
        <div class="form-group">
          <div class="col-xs-5">
            <select class="form-control" ng-model="item.name">
              <option value="">Solución o hemoderivado...</option>
              <option>Otro</option>
              <optgroup label="-----">
              <option>Albúmina</option>
              <option>Bicarbonato de sodio</option>
              <option>ClNa 0.45%</option>
              <option>ClNa 0.9% (solución fisiológica)</option>
              <option>Concentrado de Plaquetas</option>
              <option>Crioprecipitados</option>
              <option>Dextran 40</option>
              <option>Dextran 70</option>
              <option>Dextrosa 10%</option>
              <option>Dextrosa 25%</option>
              <option>Dextrosa 5%</option>
              <option>Dextrosa 50%</option>
              <option>Gelafundin 4%</option>
              <option>Glóbulos Rojos Concentrados</option>
              <option>Glóbulos Rojos Filtrados</option>
              <option>Glóbulos Rojos Irradiados Y Filtrados</option>
              <option>Glóbulos Rojos Irradiados</option>
              <option>Glóbulos Rojos Lavados Filtrados</option>
              <option>Glóbulos Rojos Lavados Irradiados</option>
              <option>Glóbulos Rojos Lavados</option>
              <option>Haemaccel 3.5%</option>
              <option>Manitol</option>
              <option>Plaquetas (Dador único)</option>
              <option>Plaquetas Filtradas</option>
              <option>Plaquetas Irradiadas y Filtradas</option>
              <option>Plaquetas Irradiadas</option>
              <option>Plaquetas</option>
              <option>Plasma Fresco Congelado</option>
              <option>Ringer Lactato</option>
              <option>Sangre Autóloga</option>
              <option>Sangre Entera</option>
              <option>Voluven 6%</option>
            </select>
          </div>
          <div ng-if="item.name === 'Otro'" class="col-xs-5">
            <input type="text" class="form-control" ng-model="item.other" placeholder="Ingrese el fluído, cantidad y unidad de medida...">
          </div>
          <div ng-if="item.name !== 'Otro'">
            <label class="control-label pull-left" for="step-6-1">Cantidad</label>
            <div class="col-xs-2 doble-in-drop first">
              <input type="number" min="0" class="form-control" ng-model="item.value">
            </div>
            <div class="col-xs-2 doble-in-drop second">
              <select class="form-control" ng-model="item.unit">
                <option value="">Seleccione...</option>
                <option value="unidades">unidades</option>
                <option value="ml">ml</option>
              </select>
            </div>
          </div>
          <button href="#" class="add-new btn btn-link" ng-click="addDose(pa_6_fluidos.list, $index);"
                  ng-show="$last && canAddDose(item)">Agregar otro</button>
          <button href="#" class="add-new btn btn-link" ng-hide="$last && canAddDose(item)"
                  ng-click="removeDose(pa_6_fluidos.list, $index);">Eliminar</button>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      <button type="button" class="btn btn-primary" data-dismiss="modal" ng-disabled="!canSaveDosis(pa_6_fluidos)"
              ng-click="saveFluids(pa_6_fluidos);">Guardar</button>
    </div>
    </form>
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- Modal 3-->
<!-- Modal -->
<div class="modal fade step-6-modal" id="pa_6_egresos_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
<div class="modal-dialog">
  <div class="modal-content">
    <form id="pa_6_egresos_form">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Monitoreo intraoperatorio</h4>
    </div>
    <div class="subheader">
      <div class="row">
        <div class="col-xs-10 pull-right">
          <label class="control-label col-xs-9 text-right" for="step-6-1">Momento del registro<br>(minutos desde el ingreso a quirófano)</label>
          <div class="label-col">
            <div class="input-group">
              <div class="input-group">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button" ng-click="decreaseCounter(pa_6_egresos)"><i class="fa fa-minus"></i></button>
                </span>
                <input type="text" pattern="[0-9]*" class="form-control" ng-model="pa_6_egresos.momento" required
                       ng-change="momentAsNumber(pa_6_egresos);">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button" ng-click="increaseCounter(pa_6_egresos)"><i class="fa fa-plus"></i></button>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-body">
      <div class="form-horizontal">
        <p><b>Ingrese los valores de Diuresis y pérdidas hemáticas DESDE EL INICIO hasta este momento...</b></p>
        <br/>
        <div class="form-group">
          <div class="col-xs-2"></div>
          <label class="control-label col-xs-3" for="step-6-4">Diuresis</label>
          <div class="col-xs-3">
            <div class="input-group">
              <input type="number" min="0" class="form-control" ng-model="pa_6_egresos.diuresis">
              <span class="input-group-addon" id="step-6-4">ml</span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-2"></div>
          <label class="control-label col-xs-3" for="step-6-5">Pérdida hemática</label>
          <div class="col-xs-3">
            <div class="input-group">
              <input type="number" min="0" class="form-control" ng-model="pa_6_egresos.perdida">
              <span class="input-group-addon" id="step-6-5">ml</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      <button type="button" class="btn btn-primary" data-dismiss="modal"
          ng-disabled="pa_6_egresos_form.$invalid || !modalHasValues(pa_6_egresos)"
          ng-click="saveOutcomeModal(pa_6_egresos)">Guardar</button>
    </div>
    </form>
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
                            <!-- Modal -->
