<div class="pa-step-7">
  <form class="form-horizontal" role="form" name="pa7" id="pa7" novalidate="">
    <div class="form-group" ng-init="setActiveForm(pa7)">
      <div class=" form-inline inner-padding-bt">
        <label class="col-xs-3 aldrete-label" for="exampleInputName2">Score de Aldrete</label>
        <input class="form-control risk-field aldrete" type="text" disabled ng-model="data._7.savedScore">
        <button type="submit" class="btn btn-default" data-toggle="modal" data-target="#scoreAldrete">Calcular</button>
        <a href="#" ng-click="openPdfLink()" title="Ver más información">
          <span class="fa fa-question-sign"></span>
        </a>
      </div>
    </div>
    <div class="form-group">
      <label for="" class="control-label col-xs-5 force-left">Reversión Bloqueo Neuromuscular</label>
      <div class="col-xs-3">
        <label class="radio-inline"><input type="radio" ng-model="data._7.reversion" value="Si">Si</label>
        <label class="radio-inline"><input type="radio" ng-model="data._7.reversion" value="No">No</label>
      </div>
    </div>
    <div class="form-group" ng-show="data._7.reversion === 'Si'">
      <div class="col-xs-12">
        <textarea class="form-control" rows="3" placeholder="Indique los fármacos empleados..." ng-model="data._7.farmacos"></textarea>
      </div>
    </div>
    <div class="form-group">
      <label for="" class="control-label col-xs-5 force-left">Levanta y sostiene la cabeza</label>
      <div class="col-xs-3">
        <label class="radio-inline"><input type="radio" ng-model="data._7.cabeza" value="Si">Si</label>
        <label class="radio-inline"><input type="radio" ng-model="data._7.cabeza" value="No">No</label>
      </div>
    </div>
    <div class="form-group">
      <div class="col-xs-12">
        <textarea class="form-control" rows="3" placeholder="Comentarios..." ng-model="data._7.comentarios"></textarea>
      </div>
    </div>
    <div class="row row-margin-top">
      <div class="col-xs-11">
        <div class="form-group">
          <label class="col-xs-3 control-label"># Procedimiento
            <i class="fa fa-question-circle" tooltip tooltip-html="true" placement="bottom"
               tooltip-title="Corresponde al número de suministro del procedimiento realizado. En caso de desconocerlo, consulte con la circulante del sector."></i>
          </label>
          <div class="col-xs-3">
            <input type="number" min="0" class="form-control" ng-model="data._7.procedimiento" required/>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<!-- Modal -->
<div class="modal modal-extra-large fade step-7-modal" id="scoreAldrete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Score de Aldrete</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-7">
            <div class="gray-container">
              <div class="form-group">
                <label for="" class="control-label half-label col-xs-3">Presión arterial</label>
                <div class="col-xs-9">
                  <label class="radio"><input type="radio" ng-model="data._7.presion" value="2">+/- 20 mm Hg del preanestésico</label>
                  <label class="radio"><input type="radio" ng-model="data._7.presion" value="1">+/- 20 - 50 mm Hg del preanestésico</label>
                  <label class="radio"><input type="radio" ng-model="data._7.presion" value="0">+/- 50 mm Hg del preanestésico</label>
                </div>
              </div>
            </div>
            <div class="gray-container">
              <div class="form-group">
                <label for="" class="control-label half-label col-xs-3">Actividad</label>
                <div class="col-xs-9">
                  <label class="radio"><input type="radio" ng-model="data._7.actividad" value="2">Moviliza todos los miembros</label>
                  <label class="radio"><input type="radio" ng-model="data._7.actividad" value="1">Moviliza 2 miembros</label>
                  <label class="radio"><input type="radio" ng-model="data._7.actividad" value="0">No puede mover ningún miembro</label>
                </div>
              </div>
            </div>
            <div class="gray-container">
              <div class="form-group">
                <label for="" class="control-label half-label col-xs-3">Conciencia</label>
                <div class="col-xs-9">
                  <label class="radio"><input type="radio" ng-model="data._7.conciencia" value="2">Totalmente despierto</label>
                  <label class="radio"><input type="radio" ng-model="data._7.conciencia" value="1">Despierta al llamado</label>
                  <label class="radio"><input type="radio" ng-model="data._7.conciencia" value="0">No responde</label>
                </div>
              </div>
            </div>
            <div class="gray-container">
              <div class="form-group">
                <label for="" class="control-label half-label col-xs-3">Respiración</label>
                <div class="col-xs-9">
                  <label class="radio"><input type="radio" ng-model="data._7.respiracion" value="2">Respira profundamente y tose</label>
                  <label class="radio"><input type="radio" ng-model="data._7.respiracion" value="1">Disnea o respiración inadecuada</label>
                  <label class="radio"><input type="radio" ng-model="data._7.respiracion" value="0">Apnea</label>
                </div>
              </div>
            </div>
            <div class="gray-container">
              <div class="form-group">
                <label for="" class="control-label half-label col-xs-3">Saturación de O2</label>
                <div class="col-xs-9">
                  <label class="radio"><input type="radio" ng-model="data._7.saturacion" value="2">Saturación &gt; 92% al aire ambiente </label>
                  <label class="radio"><input type="radio" ng-model="data._7.saturacion" value="1">Saturación &gt; 90% con O2 suplementario</label>
                  <label class="radio"><input type="radio" ng-model="data._7.saturacion" value="0">Saturación &lt; 90% con O2 suplementario</label>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-5">
            <div class="score-container">
              <h2 class="score-title">Puntaje</h2>
              <div class="score initial">
                <span>{{data._7.score}}</span>
              </div>
              <div class="alert alert-info">
                Se sugiere una puntuación de 9 o más para considerar el egreso del paciente.
                <br/>
                <a href="#" ng-click="openPdfLink()">
                  <span class="fa fa-question-sign"></span>&nbsp;Más información
                </a>
              </div>
            </div>
          </div>
          <div class="col-xs-12">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-disabled="!canSave(data._7)"
                ng-click="data._7.savedScore = data._7.score">Guardar</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->