<form class="form-horizontal" role="form" name="sampleForm2" id="sampleForm2" novalidate>
  <fieldset ng-disabled="viewOnly">
    <div class="form-group">
      <label>Tipo:</label>
      <label class="radio">
        <input name="kind" ng-model='data._2.type' required type="radio" value='val1'>Tipo 1
      </label>
      <label class="radio">
        <input name="kind" ng-model='data._2.type' required type="radio" value='val2'>Tipo 2
      </label>
    </div>
    <div class="form-group">
      <label for="val2" class="col-xs-4 control-label">Valor String 2</label>
      <div class="col-xs-2">
        <input type="text" class="form-control" name="val2" ng-model="data._2.val2"/>
      </div>
    </div>
  </fieldset>
</form>


