<form class="form-horizontal" role="form" name="sampleForm1" id="sampleForm1" novalidate>
  <fieldset ng-disabled="viewOnly">
    <div class="form-group">
      <!--
        Los nombres de los campos del modelo se definen por la convención:

        data._<numero del paso>.<nombre del campo>

        por ejemplo, en este caso data._1.val1, donde:
          - data es el objeto principal
          - _1 es porque estamos en el paso 1
          - val1 es el nombre del campo.
      -->
      <label for="val1" class="col-xs-4 control-label">Valor Numerico</label>
      <div class="col-xs-2">
        <input type="number" min="0" max="300" class="form-control" name="val1" ng-model="data._1.val1"/>
      </div>
    </div>
    <div class="form-group">
      <label for="val2" class="col-xs-4 control-label">Valor String</label>
      <div class="col-xs-2">
        <input type="text" class="form-control" name="val2" ng-model="data._1.val2"/>
      </div>
    </div>
  </fieldset>
</form>
