<h5>
  <b>{{data._1.destino === 'alta' ? 'Epicrisis' : 'Pase de servicio/sector'}}</b>
  <a href="#" ng-click="print();" class="fa fa-print print-evolution"></a>
</h5>
<form method="POST" target="pdf_form" action="evolution-pdf" class="hidden">
  <input type="hidden" name="evolution" value="{{printableVersion}}"/>
  <input id="openpdf" type="submit" class="btn btn-default pull-right" value="PDF"/>
</form>
<div class="medical-info-evolution">
  <p>Proveniente de {{data._1.sectorActual}}</p>
  <p class="{{helpers.showIf(data._1.destino === 'pase')}}">Destino del paciente: {{data._1.destinoPase}}</p>
  <p class="{{helpers.showIf(data._1.destino === 'alta' && data._1.destinoAlta !== 'Obito')}}">Destino del paciente: {{data._1.destinoAlta}}</p>
  <p class="{{helpers.showIf(data._1.destino === 'alta' && data._1.destinoAlta === 'Obito')}}">Condición de egreso: fallecido</p>
  <p>Fecha de egreso: {{data._1.fecha}}</p>
  <div class="{{helpers.showIf(data._3.markedProblems.length > 0)}}">
    <p>Antecedentes patológicos:</p>
    <p class="respect-whitespace indent">{{helpers.asList(data._3.markedProblems, '\n', 'name', '_humanState')}}</p>
  </div>
  <p>Resumen de la internación:</p>
  <p class="respect-whitespace indent">{{data._4.resumen}}</p>
  <p>Interpretación diagnóstica:</p>
  <p class="respect-whitespace indent">{{helpers.asList(data._5.createdProblems, '\n', 'name', '_humanState')}}</p>
  <div class="{{helpers.showIf(data._6.plan)}}">
    <p>Plan de cuidado y tratamiento:</p>
    <p class="respect-whitespace indent">{{data._6.plan}}</p>
  </div>
</div>
<div class="pull-right print-signature">
  <H5>FIRMA</H5>
  <H5>ACLARACION</H5>
</div>