<h5><b>Ficha de ingreso</b></h5>
<div class="medical-info-evolution">
  <p>Ingreso a {{data._1.sectorDestino}}, proveniente de {{data._1.sectorOrigen}}, el día {{data._1.fecha}} a las {{data._1.hora}}</p>
  <p>Motivo de ingreso: {{data._1.motivo}}</p>
  <div class="{{helpers.showIf(data._3.markedProblems.length > 0)}}">
    <p>Antecedentes patológicos:</p>
    <p class="respect-whitespace indent">{{helpers.asList(data._3.markedProblems, '\n', 'name', '_humanState')}}</p>
  </div>
  <p>Medicación de ambulatorio:</p>
  <p class="respect-whitespace indent">{{data._4.noMed ? 'No refiere' : data._4.medicacionAmbulatorio}}</p>
  <p>Enfermedad actual y exámen físico:</p>
  <p class="respect-whitespace indent">{{data._5.enfermedadActual}}</p>
  <p>Estudios complementarios realizados al ingreso:</p>
  <p class="respect-whitespace indent">{{data._6.estudiosComplementarios}}</p>
  <p>Interpretación diagnóstica:</p>
  <p class="respect-whitespace indent">{{helpers.asList(data._7.createdProblems, '\n', 'name', '_humanState')}}</p>
  <p>Plan de estudio y tratamiento:</p>
  <p class="respect-whitespace indent">{{data._8.plan}}</p>
</div>
