<h5><b>Parte Quirúrgico</b><a href="#" ng-click="print();" class="fa fa-print print-evolution"></a></h5>
<form method="POST" target="pdf_form" action="evolution-pdf" class="hidden">
  <input type="hidden" name="evolution" value="{{printableVersion}}"/>
  <input id="openpdf" type="submit" class="btn btn-default pull-right" value="PDF"/>
</form>
<h5><b># Procedimiento: {{data._5.procedimiento}}</b></h5>
<div class="medical-info-evolution">
  <!--Step 2-->
  <p>Equipo tratante:</p>
  <p class="respect-whitespace indent">{{helpers.printTeam(data._2.team)}}</p>

  <!--Step 3-->
  <p>Diagnóstico Preoperatorio: {{data._3.diagnostico}}</p>
  <p class="{{helpers.showIf(data._3.examen)}}">Exámen anatomopatológico: {{data._3.examen}}</p>
  <p class="{{helpers.showIf(data._3.procedimiento)}}">Procedimiento propuesto: {{data._3.procedimiento}}</p>

  <!--Step 4-->
  <p>Inicio del procedimiento: {{data._4.fechaInicio}} a las {{data._4.horaInicio}} hs.</p>
  <p>Finalización del procedimiento: {{data._4.fechaFin}} a las {{data._4.horaFin}} hs.</p>
  <p>Intervención realizada:</p>
  <p class="respect-whitespace indent">{{helpers.asList(data._4.procedimientos, '\n', 'name')}}</p>
  <div class="{{helpers.showIf(data._4.descripcion)}}">
    <p>Descripción:</p>
    <p class="indent respect-whitespace">{{data._4.descripcion}}</p>
  </div>
  <div class="{{helpers.showIf(data._4.suturas)}}">
    <p>Suturas:</p>
    <p class="indent respect-whitespace">{{data._4.suturas}}</p>
  </div>
  <div class="{{helpers.showIf(data._4.drenajes)}}">
    <p>Drenajes:</p>
    <p class="indent respect-whitespace">{{data._4.drenajes}}</p>
  </div>
  <p>Diagnóstico postoperatorio:</p>
  <p class="respect-whitespace indent">{{helpers.asList(data._4.diagnostico, '\n', 'name')}}</p>

  <!--Step 5-->
  <div class="{{helpers.showIf(data._5.evolucion)}}">
    <p>Evolución y condición postoperatoria:</p>
    <p class="indent respect-whitespace">{{data._5.evolucion}}</p>
  </div>
  <p>Destino del paciente: {{data._5.destino}}</p>
  <div class="{{helpers.showIf(data._5.indicaciones)}}">
    <p>Indicaciones:</p>
    <p class="indent respect-whitespace">{{data._5.indicaciones}}</p>
  </div>
</div>
