<div class="medical-info-evolution">
  <!--
  Dentro de la evolución del "medical-info" tenemos acceso al objeto
  -->
  <div>
    <h3>El objeto <em>data</em></h3>
    <p>Dentro de la evolución del "medical-info" tenemos acceso al objeto <strong>data</strong>
    que contiene toda la información guardada en la ficha:</p>
    <pre>{{data | json}}</pre>
  </div>

  <div>
    <h3>Accediendo campos específicos</h3>
    <p>Podemos acceeder a campos de los distintos pasos, por ejemplo:</p>
    <ul>
      <li>En el primer paso llenamos los valores <b>{{data._1.val1}}</b> y <b>{{data._1.val2}}</b></li>
      <li>En el segundo paso llenamos los valores <b>{{data._2.type}}</b> y <b>{{data._2.val2}}</b></li>
    </ul>
  </div>

  <div>
    <h3>Información "global"</h3>
    <p>También podemos acceder a información "global", como ser el paciente actual:</p>
    <span>El paciente tiene {{patient.ageInYears}} años</span>
  </div>
</div>