<form class="form-horizontal" role="form" name="pq2" id="pq2" novalidate>
  <div class="form-group" ng-repeat="member in data._2.team" ng-init="setActiveForm(pq2);">
    <label for="member" class="col-xs-2 control-label">{{member.role}}</label>
    <div class="col-xs-9">
      <input type="text" class="form-control" id="member" placeholder="Nombre y Apellido"
             ng-model="member.name" ng-required="member.role === 'Cirujano'">
    </div>
  </div>
  <div class="form-group">
    <div class="col-xs-9 col-xs-offset-2">
      <span class="label label-default problem-label new-problem" ng-click="showNewMemberModal();setActiveForm(newMember);">
        <i class="fa fa-plus"></i><span class="label-description" style="margin-left:5px">Agregar integrante</span>
      </span>
    </div>
  </div>
</form>

<div class="modal fade new-member-modal-pq" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header" style="background-color:#424f63;">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Nuevo integrante del equipo</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" role="form" name="newMember" id="newMember" novalidate>
          <div class="form-group">
            <div class="col-xs-3">
              <select class="form-control" ng-model="data._2.newMemberRole" required>
                <option value="">Seleccione...</option>
                <option value="Asistente">Asistente</option>
                <option value="Cardiólogo">Cardiólogo</option>
                <option value="Anatomopatólogo">Anatomopatólogo</option>
                <option value="Perfusionista">Perfusionista</option>
                <option value="Técnico en anestesia">Técnico en anestesia</option>
                <option value="Enfermero">Enfermero</option>
              </select>
            </div>
            <div class="col-xs-8">
              <input type="text" class="form-control" id="member" placeholder="Nombre y Apellido"
                     ng-model="data._2.newMemberName" required>
            </div>
          </div>
        </form>
        <div class="row">
          <div class="col-xs-11">
            <button type="button" class="btn btn-primary pull-right"
                    ng-click="addMember(data._2.newMemberRole, data._2.newMemberName);setActiveForm(pq2);"
                    ng-disabled="saving || getActiveForm().$invalid">
              <span ng-show="saving"><i class="fa fa-spin fa-spinner"></i>&nbsp;&nbsp;</span>Guardar
            </button>
            <button type="button" class="btn btn-link pull-right" ng-click="closeNewMemberModal();setActiveForm(pq2);">Cancelar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>