<form class="form-horizontal" role="form" name="pq3" id="pq3" novalidate>
  <div class="form-group" ng-init="setActiveForm(pq3);">
    <label for="member" class="col-xs-5 control-label">Diagnóstico preoperatorio</label>
    <div class="col-xs-7">
      <input type="text" class="form-control" ng-model="data._3.diagnostico" required>
    </div>
  </div>
  <div class="form-group">
    <label for="member" class="col-xs-5 control-label">Examen anatomopatológico</label>
    <div class="col-xs-7">
      <textarea class="form-control" maxlength="140" rows="2" ng-model="data._3.examen"></textarea>
    </div>
  </div>
  <div class="form-group">
    <label for="member" class="col-xs-5 control-label">Procedimiento propuesto</label>
    <div class="col-xs-7">
      <input type="text" class="form-control" ng-model="data._3.procedimiento">
    </div>
  </div>
  <div class="row row-margin-top">
    <h4>Check list Pausa Quirúrgica (antes de la incisión cutánea)</h4>
    <div class="form-group col-xs-11">
      <label class="col-xs-11">
        <input type="checkbox" ng-model="data._3.miembros"> Confirmar que todos los miembros del equipo se hayan presentado por nombre y función
      </label>
      <label class="col-xs-11">
        <input type="checkbox" ng-model="data._3.confirma"> El cirujano, anestesista y enfermero confirman:<br/>
        &nbsp;&nbsp;&nbsp;- Identidad del paciente<br/>
        &nbsp;&nbsp;&nbsp;- sitio quirúrgico<br/>
        &nbsp;&nbsp;&nbsp;- procedimiento<br/>
        &nbsp;&nbsp;&nbsp;- posición<br/>
      </label>
      <label class="col-xs-11">
        <input type="checkbox" ng-model="data._3.revision"> El cirujano revisa los pasos críticos, duración del procedimiento y pérdida de sangre prevista
      </label>
      <label class="col-xs-11">
        <input type="checkbox" ng-model="data._3.reanimacion"> El equipo de anestesia revisa si el paciente presenta algún problema específico y el plan de reanimación
      </label>
      <label class="col-xs-11">
        <input type="checkbox" ng-model="data._3.esterilidad"> El enfermero revisa si se ha confirmado la esterilidad y si existen dudas o problemas con el instrumental y los equipos
      </label>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-xs-12">
      <div class="col-xs-7">
        <label class="control-label">¿Se administró profilaxis antibiótica en los últimos 60 minutos?</label>
      </div>
      <div class="col-xs-5">
        <label class="radio col-xs-3">
          <input type="radio" ng-model="data._3.profilaxis_antibiotica" value="si"> Si
        </label>
        <label class="radio col-xs-3">
          <input type="radio" ng-model="data._3.profilaxis_antibiotica" value="no"> No
        </label>
        <label class="radio col-xs-6">
          <input type="radio" ng-model="data._3.profilaxis_antibiotica" value="no_aplica"> No aplica
        </label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-xs-12">
      <div class="col-xs-7">
        <label class="control-label">¿Pueden visualizarse las imágenes diagnósticas esenciales?</label>
      </div>
      <div class="col-xs-5">
        <label class="radio col-xs-3">
          <input type="radio" ng-model="data._3.imagenes_diagnosticas" value="si"> Si
        </label>
        <label class="radio col-xs-3">
          <input type="radio" ng-model="data._3.imagenes_diagnosticas" value="no"> No
        </label>
        <label class="radio col-xs-6">
          <input type="radio" ng-model="data._3.imagenes_diagnosticas" value="no_aplica"> No aplica
        </label>
      </div>
    </div>
  </div>
</form>