<form class="form-horizontal" role="form" name="pq4" id="pq4" novalidate>
  <div class="form-group has-feedback" ng-init="setActiveForm(pq4);">
    <label for="date" class="col-xs-3 control-label">Fecha de inicio</label>
    <div class="col-xs-3">
      <input type="text" class="form-control" default-date-picker date-picker ng-model="data._4.fechaInicio"
        ng-pattern="/^\d{2}\/\d{2}\/\d{4}$/" required/>
    </div>
    <label for="date" class="col-xs-2 control-label">Hora</label>
    <div class="col-xs-3" ng-init="data._4.horaInicio = data._4.horaInicio || '12:00'">
      <input type="text" class="form-control" time-picker ng-model="data._4.horaInicio" required/>
      <span class="fa fa-clock-o form-control-feedback"></span>
    </div>
  </div>
  <div class="row row-margin-top form-group">
    <label class="col-xs-4 control-label">Internvención realizada:</label>
    <ul ng-if="data._4.procedimientos.length > 0" class="col-xs-8 procedure-list">
      <li ng-repeat="p in data._4.procedimientos">{{p.name}}</li>
    </ul>
    <div class="col-xs-8"
         ng-class="{'procedure-list': data._4.procedimientos.length === 0, 'col-xs-offset-4': data._4.procedimientos.length > 0}">
      <span class="label label-default problem-label new-problem"
            ng-click="showNewProblemModal('procedure');">
        <i class="fa fa-plus"></i><span class="label-description" style="margin-left:5px">Nuevo Procedimiento</span>
      </span>
    </div>
  </div>
  <input type="hidden" name="noProcedures" ng-model="noProcedures"
         ng-required="!data._4.procedimientos ||data._4.procedimientos.length === 0">
  <div class="row row-margin-top form-group">
    <label for="member" class="col-xs-3 control-label">Descripción</label>
    <div class="col-xs-9">
      <textarea class="form-control" maxlength="4000" rows="6" ng-model="data._4.descripcion"
                placeholder="Describa la intervención realizada…"></textarea>
    </div>
  </div>
  <div class="row row-margin-top form-group">
    <label for="member" class="col-xs-3 control-label">Suturas</label>
    <div class="col-xs-9">
      <textarea class="form-control" maxlength="4000" rows="4" ng-model="data._4.suturas"></textarea>
    </div>
  </div>
  <div class="row row-margin-top form-group">
    <label for="member" class="col-xs-3 control-label">Drenajes</label>
    <div class="col-xs-9">
      <textarea class="form-control" maxlength="4000" rows="4" ng-model="data._4.drenajes"></textarea>
    </div>
  </div>
  <div class="row row-margin-top form-group">
    <label class="col-xs-4 control-label">Diagnóstico postoperatorio:</label>
    <ul ng-if="data._4.diagnostico.length > 0" class="col-xs-8 procedure-list">
      <li ng-repeat="p in data._4.diagnostico">{{p.name}}</li>
    </ul>
    <div class="col-xs-8"
         ng-class="{'procedure-list': data._4.diagnostico.length === 0, 'col-xs-offset-4': data._4.diagnostico.length > 0}">
      <span class="label label-default problem-label new-problem"
            ng-click="showNewProblemModal('active');">
        <i class="fa fa-plus"></i><span class="label-description" style="margin-left:5px">Agregar</span>
      </span>
    </div>
  </div>
  <input type="hidden" name="noProblems" ng-model="noProblems" ng-required="!data._4.diagnostico || data._4.diagnostico.length === 0">
  <div class="form-group row-margin-top has-feedback">
    <label for="date" class="col-xs-3 control-label">Fecha de finalización:</label>
    <div class="col-xs-3">
      <input type="text" class="form-control" default-date-picker date-picker ng-model="data._4.fechaFin"
        ng-pattern="/^\d{2}\/\d{2}\/\d{4}$/" required/>
    </div>
    <label for="date" class="col-xs-2 control-label">Hora:</label>
    <div class="col-xs-3" ng-init="data._4.horaFin = data._4.horaFin || '12:00'">
      <input type="text" class="form-control" time-picker ng-model="data._4.horaFin" required/>
      <span class="fa fa-clock-o form-control-feedback"></span>
    </div>
  </div>
  <div class="row row-margin-top">
    <h4>Check list de salida (antes de que el paciente salga de Quirófano)</h4>
    <div class="form-group col-xs-11">
      <label class="col-xs-11">
        <input type="checkbox" ng-model="data._4.repaso_cirujano"> El cirujano repasa con todo el equipo:<br/>
        &nbsp;&nbsp;&nbsp;- Procedimiento realizado<br/>
        &nbsp;&nbsp;&nbsp;- Sucesos intraoperatorios importantes<br/>
        &nbsp;&nbsp;&nbsp;- Plan quirúrgico<br/>
      </label>
      <label class="col-xs-11">
        <input type="checkbox" ng-model="data._4.repaso_anestesia"> El anestesiólogo repasa con todo el equipo:<br/>
        &nbsp;&nbsp;&nbsp;- Sucesos intraoperatorios importantes<br/>
        &nbsp;&nbsp;&nbsp;- Plan de recuperación<br/>
      </label>
      <label class="col-xs-11">
        <input type="checkbox" ng-model="data._4.repaso_enfermero"> El enfermero repasa con todo el equipo:<br/>
        &nbsp;&nbsp;&nbsp;- Contaje de gasas e instrumental<br/>
        &nbsp;&nbsp;&nbsp;- Identificación de las muestras biológicas incluyendo el nombre del paciente<br/>
        &nbsp;&nbsp;&nbsp;- Sucesos intraoperatorios<br/>
        &nbsp;&nbsp;&nbsp;- Plan de cuidado<br/>
      </label>
      <label class="col-xs-11">
        <input type="checkbox" ng-model="data._4.problemas_instrumental"> Ver si hay problemas a resolver relacionados con el instrumental y los equipos
      </label>
    </div>
  </div>
</form>

<div class="modal fade new-problem-modal-pq" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header" style="background-color:#424f63;">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Nuevo {{pq4modalTitle}}</h4>
      </div>
      <div class="modal-body">
        <div ng-include="'/assets/templates/patient/problem-form-fixed-state.html'"></div>
      </div>
    </div>
  </div>
</div>