<div class="timeline-body" ng-controller="FlatTimelineController">
  <article class="timeline-item" ng-repeat="entry in tl">
    <div class="timeline-desk">
      <div class="panel panel-session">
        <div class="panel-body">
          <span class="arrow"></span>
          <span class="timeline-icon"></span>

          <h1 class="blue" ng-if="entry.kind.indexOf('episode.') !== 0">{{entry.humanHour}} - {{entry.humanDate}} <span ng-show="entry.location"> - Cama {{entry.location}}</span></h1>

          <div class="entry" ng-switch on="entry.kind">
            <div class="entry-new-problem" ng-switch-when="problem.created">
              <h5>Nuevo Problema</h5>
              <p class="problem">{{entry.problem.name}}</p>
            </div>
            <!-- duplicate for now, in case we want to treat background problems differently later -->
            <div class="entry-new-problem" ng-switch-when="background.created">
              <h5>Nuevo Problema</h5>
              <p class="problem">{{entry.problem.name}}</p>
            </div>

            <div class="entry-new-problem" ng-switch-when="problem.edited">
              <div ng-switch on="entry.current.state">
                <h5 ng-switch-when="solved">Problema Resuelto</h5>
                <h5 ng-switch-when="deleted">Problema Eliminado</h5>
                <h5 ng-switch-default>Problema Editado</h5>
              </div>
              <p class="problem">{{entry.current.name}}</p>
            </div>

            <div id="ev-{{entry.evolution.id}}" class="entry-new-evolution evolution-list" ng-switch-when="evolution.created"
                 ng-class="{'deleted-evolution' : isDeleted(entry.evolution), 'edited-evolution' : isEdited(entry.evolution)}">
              <div class="evolution-actions pull-right hidden-xs ">
                <button ng-click='editEvolution(entry.evolution);' ng-hide='entry.evolution.overridenBy'
                        class='btn btn-link evolution-action evolution-action-edit'
                        title='click aquí para editar evolución'><span>Editar&nbsp;</span><i class="fa fa-edit"></i>
                </button>
                <button ng-click='deleteEvolution(entry.evolution);' ng-hide='entry.evolution.overridenBy == -1'
                        class='btn btn-link evolution-action evolution-action-delete'
                        title='click aquí para eliminar evolución'><span>Borrar&nbsp;</span><i class="fa fa-trash-o"></i>
                </button>
              </div>
              <h5>
                Evolución de
                <b ng-repeat="p in entry.evolution.problems"><em class="dotted-underline">{{p.name}}</em>{{$last ? '' : ', '}}</b>
                <span ng-show="entry.evolution.overrides" class="overrides label label-warning"
                      tooltip-title="Esta evolución tiene una version anterior, consulte el registro de acciones para más información"
                      tooltip placement="top">Editado</span>
              </h5>
              <p class="respect-whitespace justify">{{entry.evolution.description}}</p>
              <span ng-repeat="attachment in entry.evolution.attachments" class="evolution-attachment">
                <span ng-switch="getFileType(attachment.name)">
                  <a ng-switch-when="image" href="{{attachment.url}}"
                     data-toggle="lightbox" data-type="image" data-title="{{attachment.name}}">
                    <img title="Click para agrandar" width="150" height="150" ng-src="{{attachment.url}}"/>
                    <br/>{{attachment.name}}
                  </a>
                  <a ng-switch-when="document" ng-href="{{attachment.url}}" target="_blank"
                     ng-click="openFileViewer($event, attachment.url, attachment.name)">
                    <i class="fa fa-file-text"></i>&nbsp;&nbsp;{{attachment.name}}
                  </a>
                </span>
              </span>
            </div>

            <div class="entry-new-problem" ng-switch-when="episode.current">
              <h5>Paciente <strong>actualmente internado</strong> desde {{entry.episode.start | date}}</h5>
              <a ng-href="{{episodeUrl(entry.episode.id)}}">Ir al episodio actual</a>
            </div>

            <div class="entry-new-problem" ng-switch-when="episode.closed">
              <h5>Episodio de internación: Desde {{entry.episode.start | date}} hasta {{entry.episode.end | date}}</h5>
              <a ng-href="{{episodeUrl(entry.episode.id)}}">Ir al episodio {{entry.episode.id}}</a>
            </div>

            <div class="entry-new-problem" ng-switch-when="vitalsign.created">
              <h5>Nuevo Signo Vital</h5>
              <p>{{entry.humanVtialSign}}</p>
            </div>

            <div class="entry-new-problem" ng-switch-when="indication.created">
              <h5>Nueva Indicación</h5>
              <p>{{entry.humanIndication}}</p>
            </div>

            <div ng-init="init(entry.medicalInfo.value);" ng-controller="MedicalInfoEvolution"
                 class="entry-new-evolution evolution-list" ng-switch-when="medicalInfo.closed">
              <div class="evolution-actions pull-right hidden-xs">
                <button ng-click="editMedicalInfo(entry.medicalInfo);"
                        class="btn btn-link evolution-action evolution-action-edit"
                        title="click aquí para editar esta ficha"><span>Editar&nbsp;</span><i class="fa fa-edit"></i>
                </button>
                <button ng-click="deleteMedicalInfo(entry.medicalInfo);" ng-hide="entry.medicalInfo.overridenBy == -1"
                        class="btn btn-link evolution-action evolution-action-delete"
                        title="click aquí para eliminar esta ficha"><span>Borrar&nbsp;</span><i class="fa fa-trash-o"></i>
                </button>
              </div>
              <h5>
                Evolución de
                <b ng-repeat="p in data.problems"><em class="dotted-underline">{{p.name}}</em>{{$last ? '' : ', '}}</b>
                <span ng-show="entry.medicalInfo.overrides" class="overrides label label-warning"
                      tooltip-title="Esta evolución tiene una version anterior, consulte el registro de acciones para más información"
                      tooltip placement="top">Editado</span>
              </h5>
              <div ng-include="'/assets/templates/medical-info-evolutions/' + entry.medicalInfo.kind + '.html'">
              </div>
            </div>

            <div class="entry-new-problem" ng-switch-when="contingency.created">
              <h5> Reconciliación de Contingencia: <strong>{{ entry.contingency.humanKind }}</strong></h5>
              <ul>
                <li ng-repeat="at in entry.contingency.attachments">
                  <span ng-switch="getFileType(at.name)">
                    <a ng-switch-when="image" href="{{at.url}}"
                       data-toggle="lightbox" data-type="image" data-title="{{at.name}}">
                      <i class="fa fa-file-text"></i>&nbsp;&nbsp;{{at.name}}
                    </a>
                    <a ng-switch-when="document" ng-href="{{at.url}}" target="_blank"
                       ng-click="openFileViewer($event, at.url, at.name)">
                      <i class="fa fa-file-text"></i>&nbsp;&nbsp;{{at.name}}
                    </a>
                  </span>
                </li>
              </ul>
            </div>

          </div>

          <span class="entry-author pull-right" style="text-transform:capitalize">{{getSignature(entry)}}</span>

        </div>
      </div>
    </div>
  </article>

  <article class="timeline-item timeline-item-dummy timeline-loaded" ng-show="tl.length == 0">
    <div class="timeline-desk">
      <div class="panel">
        <div class="panel-body">
          <span class="timeline-icon"></span>
          <span class="arrow"></span>
          <h5 ng-if="isCurrentEpisode">No hay registros. Comience completando la
            <a href="#" ng-click="openNewMedicalInfo('ingreso');">Ficha de ingreso</a>
          </h5>
          <h5 ng-if="!isCurrentEpisode">No hay registros.</h5>
        </div>
      </div>
    </div>
  </article>

  <article class="timeline-item timeline-item-end hidden-xs">
    <div class="timeline-desk">
      <div class="panel">
        <div class="panel-body"><span class="timeline-icon"></span></div>
      </div>
    </div>
  </article>

</div>