<div class="timeline-body" ng-controller="Timeline">
  <article class="timeline-item" ng-repeat="session in sessions">
    <div class="timeline-desk">
      <div class="panel panel-session">
        <div class="panel-body">
          <span class="arrow hidden-xs  hidden-md"></span>
          <span class="timeline-icon hidden-xs "></span>
          <h1 class="blue">{{session.humanDate}}</h1>
          <div class="entry-body" ng-repeat="entry in session.entries" ng-switch on="entry.kind">
            <ul class="session-list" ng-switch-when="problem.created">
              <li>
                <h5>{{entry.items.length > 1 ? 'Nuevos Problemas' : 'Nuevo Problema'}}</h5>
                <p id='problem-{{it.problem.id}}' class="problem {{it.problem.state}}" ng-repeat='it in entry.items'>
                  {{it.problem.name}} <span class="item-state" ng-hide="problem.solved">({{it.problem.humanState}})</span>
                </p>
              </li>
            </ul>
            <ul class="session-list" ng-switch-when="problem.solved">
              <li>
                <h5>{{entry.items.length > 1 ? 'Problemas Resueltos' : 'Problema Resuelto'}}</h5>
                <p class="problem {{it.current.state}}" ng-repeat='it in entry.items'>
                  {{it.current.name}}
                </p>
              </li>
            </ul>
            <ul class="session-list" ng-switch-when="result.created">
              <li>
              <h5>{{entry.items.length > 1 ? 'Nuevos Resultados' : 'Nuevo Resultado'}}</h5>
                <div ng-repeat="it in entry.items">
                  <p class="result" title="{{it.result.description}}">
                    {{it.result.name}} <span class="item-state">({{it.result.category.label}})</span>
                  </p>
                  <span ng-repeat="attachment in it.result.attachments" class="evolution-attachment">
                    <span ng-switch="getFileType(attachment.name)">
                      <a ng-switch-when="image" href="{{attachment.url}}"
                         data-toggle="lightbox" data-type="image" data-title="{{attachment.name}}">
                        <img title="Click para agrandar" width="150" height="150" ng-src="{{attachment.url}}"/>
                        <br/>{{attachment.name}}
                      </a>
                      <a ng-switch-when="document" ng-href="{{attachment.url}}" target="_blank"
                         ng-click="openFileViewer($event, attachment.url, attachment.name)">
                        <i class="fa fa-file-text"></i>&nbsp;&nbsp;{{attachment.name}}
                      </a>
                    </span>
                  </span>
                </div>
              </li>
            </ul>
            <ul class='session-list vital-sign-list' ng-switch-when="vitalsign.created">
              <li>
                <h5>{{entry.items.length > 1 ? 'Nuevos Signos Vitales' : 'Nuevo Signo Vital'}}</h5>
                <span ng-repeat='it in entry.items' ng-init="vsType = getVitalSignType(it.vitalSign.value);"
                  ng-class="{ 'deleted': it.vitalSign.status === 'deleted' }" ng-show="showAll || it.vitalSign.status !== 'deleted'">
                  {{it.vitalSign.human}}<br/>
                </span>
              </li>
            </ul>
            <ul class='session-list' ng-switch-when="indication.created" ng-init="indic = splitBackgroundDrugs(entry.items);">
              <li ng-show="indic[0].length > 0">
                <h5>{{indic[0].length > 1 ? 'Fármacos' : 'Fármaco'}}</h5>
                <p id='indication-{{it.indication.id}}' ng-repeat='it in indic[0]'>{{formatBackgroundDrug(it.indication)}}</p>
              </li>
              <li ng-show="indic[1].length > 0">
                <h5>{{indic[1].length > 1 ? 'Nuevas Indicaciones' : 'Nueva Indicación'}}</h5>
                <p id='indication-{{it.indication.id}}' ng-repeat='it in indic[1]'>{{it.indication.human}}</p>
              </li>
            </ul>
            <ul class='session-list' ng-switch-when="indication.suspended">
              <li>
                <h5>{{entry.items.length > 1 ? 'Indicaciones Suspendidas' : 'Indicación Suspendida'}}</h5>
                <p id='indication-{{it.indication.id}}' ng-repeat='it in entry.items'>{{it.indication.human}}</p>
              </li>
            </ul>
            <ul class='session-list' ng-switch-when="indication.active">
              <li>
                <h5>{{entry.items.length > 1 ? 'Indicaciones Reactivadas' : 'Indicación Reactivada'}}</h5>
                <p id='indication-{{it.indication.id}}' ng-repeat='it in entry.items'>{{it.indication.human}}</p>
              </li>
            </ul>
            <ul class='session-list' ng-switch-when="medicalInfo.closed">
              <li ng-repeat="it in entry.items">
                <h5>Ficha cerrada: {{medicalInfoKindLabel(it.medicalInfo.kind)}}</h5>
                <div ng-init="data = parseValue(it.medicalInfo.value);"
                     ng-include="'/assets/templates/medical-info-evolutions/' + it.medicalInfo.kind + '.html'">
                </div>
              </li>
            </ul>
            <ul class='session-list evolution-list' ng-switch-when="evolution.created">
              <li id='ev-{{it.evolution.id}}' ng-repeat="it in entry.items">
              <div class="evolution-actions pull-right hidden-xs ">
                <button ng-click='editEvolution(it.evolution);' class='btn btn-link evolution-action evolution-action-edit'
                  title='click aquí para editar evolución'>
                  <span>Editar&nbsp;</span><i class="fa fa-edit"></i>
                </button>
                <button ng-click='deleteEvolution(it.evolution);' class='btn btn-link evolution-action evolution-action-delete'
                  title='click aquí para eliminar evolución'>
                  <span>Borrar&nbsp;</span><i class="fa fa-trash-o"></i>
                </button>
              </div>
                <h5>Evolución de <b ng-repeat="p in it.evolution.problems"><em class="dotted-underline">{{p.evolutionName}}</em>{{$last ? '' : ', '}}</b></h5>
                <pre>{{it.evolution.description}}</pre>
                <span ng-repeat="attachment in it.evolution.attachments" class="evolution-attachment">
                  <span ng-switch="getFileType(attachment.name)">
                    <a ng-switch-when="image" href="{{attachment.url}}"
                       data-toggle="lightbox" data-type="image" data-title="{{attachment.name}}">
                      <img title="Click para agrandar" width="150" height="150" ng-src="{{attachment.url}}"/>
                      <br/>{{attachment.name}}
                    </a>
                    <a ng-switch-when="document" ng-href="{{attachment.url}}" target="_blank"
                       ng-click="openFileViewer($event, attachment.url, attachment.name)">
                      <i class="fa fa-file-text"></i>&nbsp;&nbsp;{{attachment.name}}
                    </a>
                  </span>
                </span>
              </li>
            </ul>
            <ul class='session-list evolution-list' ng-switch-when="nested.timeline">
              <li>
                <h5 ng-repeat='it in entry.items'>
                  <a href="/patients/{{patient.id}}/evolutions?area={{it.name}}&episode={{it.id}}">Nueva Internación</a>
                </h5>
              </li>
            </ul>
          </div>
          <!-- TODO: multiple authors -->
          <span class="entry-author pull-right" style="text-transform:capitalize"><strong>Dr. {{session.author.apellido}}, {{session.author.nombre}}</strong> ({{session.author.especialidades[0].nombre}})</span>
        </div>
      </div>
    </div>
  </article>
  <article class="timeline-item timeline-item-dummy timeline-loaded" ng-show='sessions.length == 0'>
    <div class="timeline-desk">
      <div class="panel">
        <div class="panel-body">
          <span class="timeline-icon"></span>
          <span class="arrow"></span>
          <h5 ng-show="anyFilter()">No se encontraron registros. <a href="#" ng-click="cleanFilters()">Quitar filtros</a>.</h5>
          <h5 ng-hide="anyFilter()">No hay registros de <strong>{{patient.first_name}}</strong> aún. Puede comenzar a <a href="#background" >ingresar sus antecedentes desde aquí.</a></h5>
        </div>
      </div>
    </div>
  </article>

  <article class="timeline-item timeline-item-end hidden-xs">
    <div class="timeline-desk">
      <div class="panel">
        <div class="panel-body"><span class="timeline-icon"></span></div>
      </div>
    </div>
  </article>
</div>