<div ng-dynamic-controller="activeTemplate.controller">


  <div class="row-margin-top alert alert-danger" ng-if="!isCurrentEpisode">
    <center>
      <strong>Atención!</strong> Está agregando información a un episodio pasado.
      <a ng-if="currentEpisodeId !== -1" href="/patients/{{patient.id}}/episodes/{{currentEpisodeId}}/evolutions">Ir al episodio actual</a>
    </center>
  </div>

  <div ng-if="info.kind !== 'anestesia'">

    <div class="row-margin-top alert alert-warning" ng-if="info.status === 'closed'">
      <center>Está editando la evolución desde la ficha creada el {{info.created | date}}</center>
    </div>

    <div class="row-margin-top alert alert-info" ng-if="info.status === 'open' && editing">
      <center>Esta ficha se encuentra ABIERTA<span ng-show="info.updated">, guardada por última vez el {{info.updated | date}}</span></center>
    </div>

  </div>

  <div class="mi-navigation" ng-if="info.kind !== 'anestesia'">
    <div class="progress-legend title-blue">
      <span class="step-nr">Paso {{step}} de {{steps.length}}.</span> <span class="step-title title-blue-accent">{{titleForStep(step, steps)}}</span>
    </div>
    <div class="progress">
      <div class="progress-bar progress-bar" role="progressbar" style="width: {{progress(step, steps.length)}}%"></div>
    </div>
  </div>

  <div class="step-container">
    <div ng-repeat="s in steps" ng-if="step === s.nbr"
         ng-include="'/assets/templates/medical-info-forms/' + templateNameForStep(s.nbr)">
      <i class="fa fa-spin fa-spinner step-spinner"></i>
    </div>

    <!-- Fixed step number, for using in development time
    <div ng-include="'/assets/templates/medical-info-forms/' + templateNameForStep(1)">
      <i class="fa fa-spin fa-spinner step-spinner"></i>
    </div>
    -->
  </div>

  <div class="mi-navigation mi-navigation-bottom" ng-if="info.kind !== 'anestesia'">
    <button type="button" class="btn btn-link" ng-click="exit();">Salir</button>
    <div tooltip tooltip-display-on='getActiveForm().$invalid' class='pull-right'>
      <button type="button" class="btn btn-primary pull-right" ng-click="next();"
              ng-disabled="saving || getActiveForm().$invalid" ng-hide="step === steps.length">
        <span ng-show="saving"><i class="fa fa-spin fa-spinner"></i>&nbsp;&nbsp;</span>Siguiente
      </button>
      <button type="button" class="btn btn-primary pull-right" ng-click="finish();"
              ng-disabled="saving || getActiveForm().$invalid" ng-show="step === steps.length">
        <span ng-show="saving"><i class="fa fa-spin fa-spinner"></i>&nbsp;&nbsp;</span>Finalizar
      </button>
    </div>
    <button type="button" class="btn btn-default pull-right" ng-click="previousStep();" ng-hide="step === 1">Atrás</button>
  </div>
</div>


