.force-left {
  text-align: left !important;
}
.left-margin {
  margin-left: 20px;
}
.glyphicon.error {
  color: #d9534f;
}
div.step-container {
  margin-left: 0;
}
div.step-container form {
  margin-left: 15px;
  margin-right: 15px;
}
div.step-container div.modal-content > form {
  margin-left: 0;
  margin-right: 0;
}
div.step-container form .control-label {
  float: left;
}
.substep-title {
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 20px;
  display: block;
}
.substep-title.inline {
  margin-top: 8px;
  float: left;
}
.step-4 .checkbox-inline + .checkbox-inline {
  margin-left: 0;
}
.step-5-list {
  margin-left: 35px;
}
.step-5-list li {
  display: block;
  overflow: hidden;
}
.accordion-group .panel-default .gray-container {
  float: none;
}
.inner-list {
  margin-left: 15px;
}
.li-inner-box {
  max-width: 95%;
}
li.inner-padding {
  padding: 15px 0;
}
.inner-padding-bt {
  padding: 0 0 10px;
}
.gray-container {
  width: 100%;
  float: left;
  padding: 10px 20px;
  margin: 15px 0;
  overflow: hidden;
  background-color: #EAEAEA;
  border-radius: 5px;
}
.input-wrapper.small {
  width: 11%;
  padding: 0 14px;
  float: left;
}
.lg-label {
  font-size: 16px;
}
label.checkbox-inline {
  margin-right: 6px;
}
label.label-mov-cerv {
  min-width: 165px;
}
label.label-peso {
  min-resolution: 52px;
}
ul + button.btn {
  margin-left: 20px;
  margin-top: 10px;
}
.li-black {
  color: #111;
  font-size: 16px;
}
.li-black p {
  color: #111;
  font-size: 16px;
  display: inline-block;
}
.li-black span.glyphicon {
  display: inline-block;
  margin: 0 15px;
}
.upload-btn {
  width: 100%;
  padding: 8px 12px;
  background: #eeeeee;
  color: #428bca;
  border: 1px dashed #428bca;
}
.risk-field {
  text-align: center;
  text-transform: uppercase;
  font-size: 15px;
}
.risk-field.low {
  color: #fff;
  background-color: #85d0e7;
}
.risk-field.mid {
  color: #fff;
  background-color: #f4c37d;
}
.risk-field.high {
  color: #fff;
  background-color: #e27c79;
}
.risk-field::-webkit-input-placeholder {
  color: #fff;
}
.risk-field::-moz-placeholder {
  /* Firefox 19+ */
  color: #fff;
}
.risk-field:-ms-input-placeholder {
  color: #fff;
}
@media (min-width: 769px) {
  .modal .modal-dialog {
    width: 80%;
    max-width: 950px;
  }
}
.modal .modal-header {
  background: #374152;
}
.modal .modal-body {
  max-width: 90%;
  margin: 0 auto;
}
.modal .modal-body .age {
  margin: 14px 0 10px;
}
.modal .alert {
  margin-top: 30PX;
  font-size: 15PX;
  font-weight: 600;
  text-align: center;
}
.modal#accesosVasc .modal-body {
  padding-top: 45px;
}
.modal#accesosVasc .modal-body .add-new {
  display: inline-block;
  padding-top: 6px;
}
.fa.fa-times-circle.error {
  color: #f33;
  margin-left: 15px;
  cursor: pointer;
}
.mid-input-div {
  border-left: 0;
  border-right: 0;
}
.modal.modal-big .modal-body {
  max-width: 95%;
}
.modal .subheader {
  padding-left: 15px;
  padding-right: 15px;
  background-color: #EEEEEE;
  padding: 22px 30px;
}
.modal .subheader label {
  font-weight: 100;
  font-size: 18px;
}
.modal .subheader .label-col {
  width: 20%;
  float: left;
  padding: 5px 0 0;
}
.modal .doble-in-drop.first {
  padding-right: 0;
}
.modal .doble-in-drop.second {
  padding-left: 0;
}
.modal .doble-in-drop > input {
  border-radius: 4px 0px 0px 4px;
}
.modal .doble-in-drop > select {
  border-radius: 0 4px 4px 0px;
  border-left: 0;
}
.add-new {
  display: inline-block;
  padding-top: 6px;
}
.panel-group.accordion-group .panel {
  margin-bottom: 0;
  margin-top: 5px;
}
.panel-group.accordion-group .panel-heading {
  padding: 15px 15px;
  position: relative;
  margin: 0;
}
.panel-group.accordion-group .panel-heading .panel-title {
  font-weight: 400;
  font-size: 20px;
  padding-left: 40px;
}
.panel-group.accordion-group .panel-heading .panel-title span {
  padding: 5px;
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translate(0, -50%);
  background-color: #428BCA;
  color: #fff;
  border-radius: 4px;
}

.pa-step-6 .panel-group .panel {
  margin-bottom: 0;
  margin-top: 5px;
}
.pa-step-6 .panel-group .panel-heading {
  padding: 20px 15px;
  position: relative;
}
.pa-step-6 .panel-group .panel-heading .btn {
  position: absolute;
  right: 22px;
  top: 50%;
  transform: translate(0%, -50%);
}
.pa-step-6 .panel-group .panel-heading .panel-title {
  font-weight: 400;
  font-size: 20px;
  padding-left: 40px;
}
.pa-step-6 .panel-group .panel-heading .panel-title span {
  padding: 5px;
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translate(0, -50%);
  background-color: #428BCA;
  color: #fff;
  border-radius: 4px;
}
.pa-step-6 .panel-group .panel-heading {
  margin: 0;
}
.pa-step-6 .panel-group .panel-body {
  margin: 0;
}
.pa-step-6 .panel-group .collapse {
  width: calc(100% - 20px);
}
.pa-step-6 .panel-group table {
  margin: 0;
}
.pa-step-6 .panel-group table td {
  font-size: 14px;
  color: #111;
}
.pa-step-6 .panel-group table td.text-primary {
  color: #428bca;
}
.pa-step-6 .row.events {
  margin-top: 40px;
}
.pa-step-6-modal .input-group input {
  min-width: 120px;
}

.pa-step-7 .aldrete-label {
  font-weight: 200;
  font-size: 19px;
  padding-top: 6px;
}
.score-container {
  padding-top: 45px;
}
.score-container .score-title {
  text-align: center;
  font-size: 18px;
  padding-bottom: 20px;
}
.score-container .score {
  width: 120px;
  height: 120px;
  display: block;
  border: 3px solid green;
  border-radius: 50%;
  text-align: center;
  position: relative;
  margin: 0 auto 15px;
  color: green;
}
.score-container .score.high {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.score-container .score.medium {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.score-container .score.low {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.score-container .score.initial {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.score-container .score span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  font-size: 45px;
  color: inherit;
}
.score-container .alert {
  font-weight: 400;
  font-size: 16px;
  padding: 25px 30px;
}
.score-container .alert a {
  margin: 6px 0;
  display: block;
}
.pa-step-7-modal .gray-container {
  margin: 5px 0;
}
.pa-step-7-modal .half-label {
  margin-top: 10px;
  font-weight: 600;
  font-size: 16px;
  color: black;
}
