/* Uncomment for debugging margins */
/* { box-shadow: inset 0 0 0 1px red } */

html {
  height: 100%;
}
body {
  /* leaves space for the fixed navbar */
  padding-top: 20px;
  background-color: #E5E5E5;
  margin:0px;
}
body.no-navbar {
  background: url("../images/docs_pleno.png");
  background-size: cover;
}
label.error {
  color: #a94442
}
.login-wrap .panel-heading {
  border: none;
  margin-bottom: 10px;
}
.col-fixed {
  position: fixed;
}
.form-signin-heading img {
  margin-top: 20px;
}
.form-signin-remote {
  margin: 30px auto;
}
h1.login-title {
  color: white;
  font-family: 'Economica';
  font-size: 42px;
  text-align: center;
}
.login-footer {
  position: absolute;
  bottom: 0;
  margin-left: 80%;
  margin-bottom: 2%;
}
.login-footer p {
  color: white;
  font-family: 'Economica';
  font-size: 22px;
  text-align: right;
  margin-right: 10px;
}
/* navbar start */
.navbar {
  color: black;
}
.navbar-left-item {
  float:left;
  padding:15px
}
a.navbar-left-item {
  padding:15px 5px;
}
.navbar a.navbar-left-item:hover {
  background-color: inherit;
}
.navbar .navbar-container-sub {
  background-color: #fafafa;
  min-height: 40px;
}
.navbar .navbar-container-sub ul.subitems {
  margin-top: 10px;
  display: flex;
  list-style: none;
  justify-content: center;
}
.navbar .navbar-container-sub ul.subitems > li {
  margin:0px 15px;
  cursor: pointer;
}
.navbar .navbar-container-sub ul.subitems > li > a {
  text-decoration: none;
  color: black;
  padding: 8px 4px;
}
.navbar .navbar-container-sub ul.subitems > li > a.selected {
  font-weight: bold;
  border-bottom: 3px solid rgb(130, 130, 250);
}
.navbar-container {
  background-color: white;
  padding: 0px;
}
.navbar > .container-fluid.navbar-container .navbar-brand {
  background-color: #424f63;
  color: white;
  margin-left: 0px;
  font-size: 20px;
}
a.navbar-brand.brand-collapsed {
  width: 60px;
}
a.navbar-brand {
  color: black;
}
.navbar .btn-default {
  border: none;
  border-radius: 0px;
}
ul.navbar-nav.navbar-right:last-child {
  margin-right:0px;
  margin-top:5px;
}
ul.navbar-nav.navbar-right a.dropdown-toggle {
  background-color: white !important;
  color: #333 !important;
}
ul.navbar-nav i.fa-user-md {
  font-size: 18px;
  margin-right: 5px;
}
img.brand-logo {
  width: 30px;
  height: 30px;
}
div.navbar-container .comment-btn {
  width: 120px;
  height: 50px;
  font-size: 12px;
  padding: 15px;
  cursor: pointer;
  text-decoration: none;
  float: left;
  color: #212121;
  border-right: 1px solid #e7e7e7;
}
div.navbar-container .comment-btn:hover {
  color: white;
}
#omnia-nav li.alerts-nav ul {
  padding-left: 0px;
}
#omnia-nav li.alerts-nav ul li {
  font-size: 12px;
  padding: 10px;
}
#omnia-nav li.alerts-nav a span.badge {
  background-color: #6099FF;
  border-radius: 10px;
  -webkit-border-radius: 10px;
}
#omnia-nav li.alerts-nav ul li a:hover {
  background-color: #fff;
  color: #2a6496;
  text-decoration: underline;
}
#help {
  font-size: large;
  width: auto;
}

.navbar-left-item .dropdown {
  border:1px solid #ccc;
}
.dropdown .btn-default {
  background-color: white;
}
.dropdown:hover > a > i {
  color: black;
}

.dropdown:hover button {
  background-color: #eee;
}

.navbar-container {
  transition: background-color 1s;
}

.navbar-container .navbar-left-item button.dropdown-toggle {
  border: 0px;
  font-weight: bold;
  color: #428bca;
}

.navbar-container.flaky {
  background-color: #FEFACD;
}

a.navbar-left-item.flaky {
  color: #FFB900;
  padding: 22px 5px;
  font-weight: 100
}

a.navbar-left-item.flaky span.badge {
  padding: 4px 10px;
  font-weight: 100;
}

.navbar-container.offline {
  background-color: #FfB0C5;
}

a.navbar-left-item.offline span.badge {
  padding: 4px 10px;
  font-weight: 100;
}

a.navbar-left-item.offline {
  color: rgb(218, 0, 0);
}

a.navbar-left-item.env {
  padding: 22px 5px;
  font-weight: 100
}

a.navbar-left-item.env span.badge {
  padding: 4px 10px;
  font-weight: 100;
}

ul.navbar-right a, ul.navbar-right a:hover, ul.navbar-right a:active {
  background-color: inherit;
}

.navbar-right li:last-of-type {
  margin-right: 15px;
}

.navbar-right div.doctor-info {
  position: relative;
  display: block;
  padding: 10px 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  line-height: 20px;
  text-transform: capitalize;
}
/* navbar end */

/* sidebar start */
div.sidebar {
  margin-top: 0px;
  padding: 20px 0 0 0;
  background-color: #424f63;
}

div.sidebar.sticky-left-side .custom-nav {
  margin-top: 0px;
}

div.sidebar.left-side-collapsed {
  width: 60px;
}

div.no-sidebar {
  margin-top: 20px;
}

ul.nav a.active {
  background-color: #353F4F;
  color: #65A8CE;
}
.custom-nav > li > a:hover, .custom-nav > li > a:active {
  color: #65A8CE;
}
ul.nav li.divider {
  border-bottom: 1px solid #9f9f9f;
  margin: 10px 10px;
}
li > a.active + ul.sub-menu-list {
  display: block;
}
.custom-nav > li > ul.sub-menu-list > li > a.active {
  background-color: #2A323F;
}
.custom-nav > li > ul.sub-menu-list > li > a:hover {
  background-color: #2A323F;
  color: #65A8CE;
}
.custom-nav .timeline-area .no-items {
  color: #FFF !important;
  background-color: #424f63 !important;
  cursor: default;
  opacity: 0.3;
}
/* sidebar end*/

/* main frame */
#main-content {
  padding-top: 20px;
  background-color: #E5E5E5;
  height: 100%;
}

#main-content.sidebar-collapsed {
  margin-left: 75px;
}

@media (max-width: 768px) {
  #main-content.sidebar-collapsed {
    margin-left: 0px;
  }
  .row.row-margin-top {
    margin-top: 0px;
  }

}
/* main frame end*/

/* toastr notifications start */
.toast-top-mid {
  top: 60px;
  right: 35%;
}
/* toastr notifications end */

/* patient wizard start */
div.wizard {
  padding: 15px;
  margin: 10px 0px;
  background: #DDD;
  border: 1px solid #CCC;
  border-radius: 5px;
}
div.wizard ul.nav {
  margin-bottom: 15px;
}

div.wizard ul.nav li > a:hover {
  color: white;
}
/* patient wizard end */

/* patients table start */
table.table-hover > tbody > tr:hover > td {
  background-color: rgb(255, 255, 215);
}

tr.opaque {
  opacity: 0.2;
}

select.form-control.full-width {
  width: 100%;
}

div.no-patients {
  font-size: 1.2em;
  letter-spacing: 4px;
}

.table tbody > tr > td.extra-info {
  border: 0px;
}

table .clickable {
  cursor: pointer;
}

.today {
  font-weight: 200;
  text-transform: capitalize;
  margin:15px 0px;
}
/* patients table end */

/* bootstrap extensions start */
.row-margin-top {
  margin-top: 20px;
}
.panel-heading {
  padding: 5px 10px;
  text-transform: none;
}
.form-control:focus {
  border-color: #66afe9 !important;
}
/* bootstrap extensions end */

/* timeline */

article.first .panel {
  /*cursor: pointer;*/
}
.timeline-desk.editable.edit .panel {
  cursor: default;
}
.timeline-desk span.evolution-attachment a {
  text-transform: none;
}
.first span.timeline-icon {
  top: 20px;
  font-family: FontAwesome;
}
.first span.timeline-icon i {
  position: absolute;
  top: -20px;
  left: -10px;
  padding-left: 10px;
  font-size: 1.2em;
  color: #8a8a9f;
  opacity: 0;
  padding: 10px;
  transition: all 0.3s ease;
}
.first span.timeline-icon i.active {
  color: #EE5151;
}
.first:hover span.timeline-icon i {
  opacity: 1;
  left: -35px;
  transition: all 0.3s ease;
}
div.timeline {
  display: block;
  margin-left: 10px;
}
div.timeline article {
  display: block;
}
div.timeline article span.entry-author {
  font-size: 11px;
}
div.timeline:before {
  left: 0%;
  border: 1px solid #d8d9df;
}
.timeline-item .timeline-icon {
  background-color: #B2D6F7;
  border: 1px solid #6B7B92;
}
.timeline-item-start .timeline-icon, .timeline-item-end .timeline-icon {
  margin-top: 0px;
  background-color: #6B7B92;
  border: 1px solid #6B7B92;
}
.timeline-item-end .panel-body {
  padding:0px;
}
.timeline-item.timeline-item-end .panel {
  border: 0px;
  margin-bottom: 0px;
}
.timeline-item.timeline-item-dummy h5 {
   padding:0px 20px
}
.timeline-item.timeline-item-dummy .timeline-icon {
  border: 1px solid #d8d9df;
  background-color: #d8d9df;
}
.timeline-desk .panel.first-panel {
  margin-bottom: 35px;
  margin-right: 240px;
  width: 480px;
}
.timeline-desk .panel {
  margin-bottom: 35px;
  margin-right: 40px;
}
.timeline-desk.editable {
  display: block;
}
.timeline-desk.editable div {

}
.timeline-desk.editable p.caption {
  font-size: 12px;
  color: rgb(111, 106, 106);
}
.timeline-desk.editable i.caption {
  font-size: 20px;
  color: rgb(111, 106, 106);
  padding-bottom: 10px;
}

.timeline-desk.edit {
  display: block;
}
.timeline-desk h1.blue {
  color: #56B5F5;
  text-transform: capitalize;
}
div.sticky {
  position: fixed;
  width: 14%;
}
div.sticky .panel-heading {
  text-transform: capitalize;
}
div.sticky ul {
  padding-left: 0px;
}
div.sticky ul li {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  list-style-position: inside;
}
div.sticky .allergies-panel .severe {
  color: rgb(232, 33, 33);
}
div.sticky .allergies-panel.severe {
  border: 1px solid rgb(245, 89, 89);
}
div.sticky .allergies-panel.severe .panel-heading a {
  color: red;
}

div.panel.timeline-panel {
  background-color: #E5E5E5;
  -webkit-box-shadow: none;
  box-shadow: none;
}
div.panel div.panel-heading h5.from-evolution {
  text-transform: none;
  font-size: 12px;
}
ul.panel-collapsable {
  margin-bottom: 45px;
}
div.panel-collapsable > div.panel-heading:hover > span.tools > a {
  background-color: #424f63;
  color: #fff;
  transition: all 0.4s;
}
ul.session-list {
  list-style: none;
  padding: 0px;
}
ul.session-list h5 {
  font-weight: bold;
}
ul.session-list h5 span {
  font-weight: normal;
  color: black;
  background-color: #E9E9FA;
  border: 1px solid #424f63;
  border-radius: 15px;
  margin-left: 10px;
  display: inline;
}
ul.session-list li {
  margin-top: 25px;
  padding: 0px 10px;
  min-width: 450px;
}
ul.session-list .highlight {
  background-color: rgb(252, 252, 164);
}
ul.session-list pre {
  border: 0px;
  padding: 0px;
  font-family: 'Open Sans';
  font-size: 14px;
  color: rgb(122, 118, 118);
  background-color: inherit;
  max-width: 700px;
  margin-left: 5px;

  /* prevent text from breaking in any place, thus cutting words */
  white-space: pre-wrap;
  word-break: break-word;
  text-align: justify;
}
ul.session-list p {
  color: #7a7676;
}
ul.session-list p.problem {
  opacity: 0.7;
}
ul.session-list p.problem.active {
  opacity: 1;
}
ul.session-list p.problem.deleted {
  font-size: 0.9em;
  border: 1px dashed #eaa;
  opacity: 0.8;
  background-color: #fffdfd;
  padding: 5px;
}
ul.session-list p.problem.solved {
  opacity: 1;
  color: #3D9970;
}
ul.session-list p.problem.deleted span.deleted-when {
  font-size: smaller;
}
ul.session-list p span.item-state {
  font-size: x-small;
  color: #aaa;
}
ul.session-list h5 em.dotted-underline {
  border-bottom: 1px dotted;
}
ul.session-list.evolution-list li span.evolution-action.evolution-action-go-to {
  margin: 5px;
}
ul.session-list.evolution-list li.has-legend h5 {
  margin-top: 20px
}
ul.session-list.evolution-list li.overriden {
  font-size: 0.9em;
  border: 1px dashed #ccc;
  opacity: 0.8;
}
ul.session-list.evolution-list li.overriden button.btn-edit {
  font-size: 0.9em;
  padding: 0px;
}
ul.session-list.evolution-list li.deleted {
  font-size: 0.9em;
  border: 1px dashed #eaa;
  opacity: 0.8;
  background-color: #fffdfd;
}
ul.session-list.evolution-list li.deleted button {
  display: none;
}
ul.evolution-list > li.hover {
  border:1px dotted #ccc;
}
ul.evolution-list > li.hover > *:not(.droplegend) {
  opacity: 0.3;
}
ul.evolution-list > li p.droplegend {
  opacity: 0;
  position: absolute;
  right: 20px;
  color: #555;
  font-weight: bold;
  font-size: 1.2em;
}
.evolution-list > li.hover p.droplegend {
  opacity: 1;
}
.evolution-list div.evolution-actions {
  margin-top: -8px;
}
.evolution-list div.evolution-actions button:hover {
  text-decoration: none;
}
.evolution-list div.evolution-actions button {
  font-size: 0.85em;
}
.evolution-list div.evolution-actions button span {
  opacity: 0;
  transition: opacity 0.3s ease;
}
.evolution-list:hover div.evolution-actions button span {
  opacity: 1;
}
a.evolution-action {
  margin-left: 10px;
}
a.evolution-action:hover {
  text-decoration: none;
}
ul.session-list.vital-sign-list span.deleted {
  opacity: 0.5;
}

/* tablet support */
@media (max-width: 768px) {
  .timeline:before {
    display:none;
  }
  .timeline-desk .panel.panel-session {
    margin-left: 0px;
    margin-right: 0px;
  }
  article.timeline-item {
    margin-left: -25px;
  }
}

@media (max-width: 768px) {
  .timeline-desk {
    max-width: 300px;
  }
  ul.session-list pre {
    max-width: 240px;
  }
}

.timeline-desk h5 span.overrides {
  cursor: help;
  margin-left: 10px;
  display: inline;
  color: white;
}
.timeline-desk h5 span.overrides + div.tooltip {
  font-weight: 200;
}

/* timeline end */

/* problem form */
.has-error span.form-control-feedback {
  right: 10px;
}
select.form-control + span.form-control-feedback {
  right: 30px;
}
div.row.problem-row {
  margin-bottom: 15px;
}
div.problem-matches ul.terms {
  list-style: none;
  text-transform: capitalize;
  padding-left: 10px;
}
div.problem-matches ul.terms.disabled {
  opacity: 0.5;
}
div.problem-matches ul.terms li {
  padding: 5px;
  cursor: pointer;
}
div.problem-matches ul.terms li:hover {
  background-color: rgb(250, 250, 150);
}
div.problem-matches ul.terms li div.term {
  color: #65A8CE;
  font-weight: 300;
  font-size: 1.05em;
}
div.problem-matches ul.terms li div.fsn {
  margin-left: 5px;
  font-size: smaller;
}
div.problem-matches h1 {
  font-size: 16px;
  font-weight: 300;
  margin: 0 0 5px;
}
div.problem-matches div.checkbox {
  float: left;
  margin-left: 10px;
  font-size: small;
}
div.problem-matches button.save {
  float: left;
}
form[name="problemForm"] button.btn.btn-primary.save > span > em {
  font-style: normal;
  text-decoration: underline;
}
#problemForm .form-group label.subtitle {
  margin-left: 10px;
}
#problemForm i.fa-question-circle {
  cursor: help;
}
/* problem form end */

/* clickable panel start */
div.clickable-panel div.new-evolution {
  padding: 20px 30px 15px;
}

div.clickable-panel div.speech-tail
{
  position: absolute;
  width: 0px;
  height: 0px;
  left: 45px;
  top: 79px;
  border-width: 10px;
  border-style: solid;
  border-color: #FFF transparent transparent transparent;
}

div.clickable-panel div.speech-tail.shadow {
  border-color: #E4E4E4 transparent transparent;
  top: 79px;
  border-width: 12px;
  left: 43px;
}

div.clickable-panel {
  background-color: rgb(245, 245, 245);
  border-color: #D8D8D8;
  border-radius: 3px;
  transition: all 0.6s ease;
}

div.clickable-panel div.evolution-txt-area {
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.04) inset;
  background-color: #FFF;
  border: 1px solid #E4E4E4;
  border-image: none;
  color: #404040;
  cursor: text;
  font-size: 16px;
  height: 60px;
  padding: 10px 0px 0px 10px;
  margin-left: 0px;
  font-weight: 200;
}

div.clickable-panel ul.other-actions {
  padding-left: 0px;
  margin-top: 14px;
  margin-bottom: 0px;
}

div.clickable-panel ul.other-actions > li {
  list-style-type: none;
  display: inline-block;
  cursor: pointer;
  margin: 0px 10px;
  text-align: center;
  opacity: 0.6;
}

div.clickable-panel ul.other-actions > li:hover {
  opacity: 1;
}

div.clickable-panel ul.other-actions > li.selected {
  opacity: 1;
}

div.clickable-panel ul.other-actions > li.selected div.description {
  font-weight: bold;
}

div.clickable-panel ul.other-actions > li.selected i {
  color: #65A8CE;
}

div.clickable-panel ul.other-actions > li div.description {
  font-size: 0.85em;
}

div.clickable-panel ul.other-actions i.fa {
  font-size: 1.3em;
  padding: 5px;
}
/*
div.clickable-panel ul.other-actions i.fa:hover {
  color: #65A8CE;
}

/* clickable panel end */

/* return-to-top button start */
#return-to-top {
  position: fixed;
  bottom: 20px;
  right: -50px;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.7);
  width: 50px;
  height: 50px;
  text-decoration: none;
  border-radius: 35px;
  transition: all 0.3s ease;
  z-index: 1;
}
#return-to-top.appear {
  right:20px;
}
#return-to-top i {
  color: #fff;
  margin: 0;
  position: relative;
  left: 16px;
  top: 13px;
  font-size: 19px;
  transition: all 0.3s ease;
}
#return-to-top:hover {
  background: rgba(0, 0, 0, 0.9);
  cursor: pointer;
}
#return-to-top:hover i {
  color: #fff;
  top: 5px;
}
/* back-to-top button end */

/* evolutions form */
#evolutionForm textarea {
  height: 110px;
}
#evolutionForm .default-date-picker {
  width: 30%;
  display: inline;
  margin-left: 10px;
}
.form-group label span.number {
  color: #4A97FC;
  font-size: 1.2em;
  font-weight: bold;
}
#evolutionForm label i.fa-question-circle {
  cursor: help;
  bottom: 5px;
  position: relative;
}
div.row.divider {
  border-top: 1px solid #EDEDED;
  padding: 15px 0px;
}
.form-group ul.problem-list {
  padding-left: 5px;
  list-style-type: none;
}
.form-group ul.problem-list li {
  display: inline-block;
  margin-right: 5px;
  cursor: pointer;
  margin: 7px;
}
/*.form-group ul.problem-list li span.label {
  font-size: 1.1em;
  font-weight: 200;
  padding: 4px;
  transition: background-color 0.6s;
}*/
.form-group ul.problem-list li span.label i {
  margin-left: 3px;
}
.form-group ul.problem-list li span.label-description {
  position: relative;
  top: -1px;
}
.form-group ul.problem-list li span.selected {
  background-color: #159D4A;
}
span.label.problem-label, span.label.padded-label {
  font-size: 1.1em;
  font-weight: 200;
  padding: 4px;
  transition: background-color 0.6s;
  cursor: pointer;
}
span.label.new-problem, span.label.blue-label {
  background-color: rgb(120, 161, 224);
}
/* evolutions form end */

/* patient header */
div.panel-body.patient-header {
  padding: 10px;
}
div.patient-header div.avatar img {
  display: block;
  margin-left: 35%;
  width: 30%;
  border-radius: 50%;
}
div.patient-header h5 {
  font-size: 16px;
  font-weight: bold;
}
.patient-header .evolution-options {
  margin: 0px;
  padding: 0px;
  top: -5px;
  right: -5px;
}
.patient-header .evolution-options button {
  color: #999;
}
.patient-header .patient-info {
  text-align: center;
}
div.patient-toolbar {
  padding: 5px;
  border-top: 1px solid #f1f1f1;
}
div.patient-toolbar .btn.btn-tab span.border {
  font-size: 12px;
  border-bottom: 2px solid #fff;
  transition: all 0.6s;
  padding-bottom: 6px;
}
div.patient-toolbar span.fa.fa-chevron-down {
  font-size: 0.7em;
}
div.panel .btn-tab {
  border-radius: 0px;
  background-color: #FFF;
  color: #333;
}
div.panel .btn-tab span.border:hover {
  transition: all 1s;
  border-bottom: 2px solid #427fed;
}
div.panel .btn-tab.active span.border {
  color: #333;
  font-weight: bold;
  border-bottom: 2px solid #427fed;
}

/* patient header (more info) */
div.patient-header div.more-info-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.8s;
}
div.patient-header div.more-info-content div.main {
  margin-left: 30px;
  margin-top:10px;
  width: 70%;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
}
div.patient-header div.more-info-content.appear {
  max-height: 300px;
}
div.patient-header div.more-info-toggle i {
  margin: 5px;
  font-size: 20px;
  color: #424f63;
  cursor: pointer;
}
div.patient-header a.download i {
  margin: 5px;
  font-size: 20px;
  color: #424f63;
  cursor: pointer;
}
div.patient-header div.more-info-content div.more-info {
  padding: 10px;
}
div.patient-header div.more-info-content div.more-info.more-info-height {
  position: relative;
  padding: 25px;
  height: 270px;
  border-left: 1px solid #d1d1d1;
}
div.patient-header div.more-info-content div.more-info.more-info-age {
  border-right: 1px solid #d1d1d1;
  border-bottom: 1px solid #d1d1d1;
}
div.patient-header div.more-info-content div.more-info.more-info-weight {
  border-bottom: 1px solid #d1d1d1;
}

div.patient-header div.more-info-content div.more-info.more-info-height dl {
  position: absolute;
  left: 115px;
  top: 100px;
}
div.patient-header div.more-info-content div.more-info dt {
  color: #959595;
  font-size: 11px;
  font-weight: 500;
}
div.patient-header div.more-info-content div.more-info dd {
  color: #464646;
  font-size: 25px;
}
/* patient header (more info) end */
div.episode-list a {
  opacity: 0.5;
  padding: 2px 5px;
}
div.episode-list a:hover {
  opacity: 1;
  text-decoration: none;
  color: #65A8CE;
}
div.episode-list a.selected {
  opacity: 1;
  background-color: #3A9DD5;
  color: white;
}
.episode-list .episode-dates {
  font-size: 13px;
}
div.outpatient a.selected {
  padding: 2px 5px;
  background-color: #3A9DD5;
  color: white;
}
/* patient header end */

/* panel-collapsable */
div.panel-collapsable span.tools {
  margin: -2px 10px;
}
div.panel-collapsable span.tools a {
  padding: 5px;
}
div.panel-collapsable > div.panel-heading.panel-no-border {
  border: none;
}
div.panel-collapsable > div.panel-heading {
  padding: 6px 0px;
  cursor: pointer;
}
/* panel-collapsable end*/
/* offline  */
#offline {
  width: 50%;
  margin: auto;
}
#offline i.fa {
  margin: 20px auto;
  text-align: center;
  display: block;
  font-size: 6em;
}
#offline p {
  padding: 0px 20px;
  font-size: 1.5em;
  text-align: justify;
}
/* offline end */

/* allergies */
#allergyForm .btn.mild {
  width: 30%;
}
#allergyForm .btn.moderate {
  width: 40%;
}
#allergyForm .btn.severe {
  width: 30%;
}
#allergyForm .btn-group {
  width: 100%;
}
.btn.mild:hover, .btn.mild-active {
  background-color: rgb(230, 230, 230);
}
.btn.moderate:hover, .btn.moderate-active {
  background-color: rgb(245, 209, 143);
}
.btn.severe:hover, .btn.severe-active {
  background-color: rgb(221, 97, 97);
}
/* allergies end */

/* indications */
div.top-treatments ul {
  margin-top: 20px;
  padding-left: 0px;
  list-style: none;
}
div.top-treatments ul > li{
  margin: 10px 5px;
}
div.top-treatments h1 {
  font-weight: normal;
  font-size: 16px;
}
div.top-treatments h2 {
  font-size: 13px;
  color: #aaa;
}
div.form-group.right-border {
  border-right: 1px solid #ccc;
}
div.wizard.omnia-wizard {
  background-color: #FFF;
  border: none;
}
div.wizard.omnia-wizard ul.nav li > a {
  cursor: default;
  color: #8096B8;
  background-color: #FFF;
  border-radius: 0px;
  border-bottom:4px solid #8096B8;
  padding: 0px 60px 1px 0px;
  margin: 0px 2px;
  font-size: smaller;
  opacity:0.4;
  transition: all 0.3s;
}
div.wizard.omnia-wizard.background ul.nav li > a {
  padding: 0px 30px 1px 0px;
  cursor: pointer;
}
div.wizard.omnia-wizard ul.nav li.active > a {
  opacity: 1;
  color: #428bca;
  border-bottom: 4px solid #428bca;
}
div.wizard.omnia-wizard div.panel-body  div.panel-heading {
  margin: 0px 0px 15px 0px;
  padding: 0px;
}
#indicationForm .problem-selector {
  width: 250px;
}
#indicationForm div.indication-toolbar label.radio:hover {
  cursor: pointer;
}
#indicationForm div.indication-toolbar label.radio {
  margin-top: 0px;
}
div.panel.panel-indication {
  margin-right: 0px;
}
div.indication-navigation {
  margin-top: 20px;
}
div.indication-navigation .btn {
  margin-right: 5px;
}
#drugForm em {
  font-size: 12px;
  margin-left: 5px;
}
#drugForm span.vademecum a {
  font-size: small;
  margin-left: 10px;
  text-transform: none;
}
#drugForm input[disabled] {
  cursor: default;
}
div.btn-group.btn-switch .btn-default {
  color: rgb(124, 124, 124);
  background-color: rgb(247, 243, 243);
  border: 1px solid rgb(204, 204, 204);
}
div.btn-group.btn-switch .btn-primary {
  font-weight: bold;
  color: white;
  background-color: rgb(101, 168, 206);
  border: 1px solid rgb(204, 204, 204);
}
div.indication-form div.btn-group.btn-switch {
  padding-left: 20px;
}
/* indications end */

/* document-viewer */
#doc-viewer div.modal-dialog {
  width: 70%;
}
#doc-viewer div.modal-header {
  border: 0;
}
/* document-viewer end */

/* expandable-list */
div.expandable-list tr.expanded-row {
  display: none;
}
div.expandable-list tr.expanded-row:hover {
  background-color: transparent;
}
div.expandable-list td span.span-minus {
  display: none;
}
div.expandable-list tr.expanded-row.start-expanded {
  display: table-row;
}
div.expandable-list td span.span-plus.start-expanded {
  display: none;
}
div.expandable-list td span.span-minus.start-expanded {
  display: table-row;
}
div.expandable-list tr.expanded-row p {
  padding-left: 20px;
  font-size: 12px;
}
/* expandable-list end */

/* form with attachment */
.with-attach div.drop-file > h3 {
  font-weight: 200;
  cursor: pointer;
  font-size: 18px;
  margin-top: 10px;
}
.with-attach div.drop-file {
  margin-top: 10px;
  border: 1px dashed #ccc;
  text-align: center;
  background-color: #eee;
  font-weight: 300;
  color: #428bca;
  cursor: pointer;
  position: relative;
}
.with-attach div.drop-file.hover {
  border: 1px solid #ccc;
  background-color: #eee;
  color: #ccc;
}
.with-attach div.drop-file > input[type=file] {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 46px;
  font-size: 0;
  top: 0;
  opacity: 0;
  cursor: pointer;
}
.with-attach ul.attachments {
  list-style: none;
  padding-left: 3px;
}
.with-attach ul.attachments > li {
  color: #428bca;
}
.with-attach ul.attachments > li > i.fa-times-circle {
  color: #f33;
  margin-left: 15px;
  cursor: pointer;
}
/* form with attachment end */

/* vital signs */
td.value-red {
  color: red;
}
td.hint {
  cursor: help;
}
#vitalSignForm label.error {
  margin-left: 33.3333%;
}
#vitalSignForm .form-control {
  padding-right: 1px;
}
/* vital signs end */

/* medical-info */
ul.medical-info-menu > li {
  text-align: left;
}
div.clickable-panel ul.other-actions li.medical-info-action i.fa {
  text-align: center;
  vertical-align: middle;
  position: relative;
}
.fa-list-alt + span.badge {
  background: #F94030;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  font-size: 10px;
  font-weight: 200;
  line-height: 13px;
  padding: 2px 5px;
  position: absolute;
  right: -3px;
  top: -3px;
}
div.clickable-panel ul.other-actions ul.medical-info-menu i.fa.small-red {
  font-size: 9px;
  color: red;
  padding-right: 10px;
}
span.medical-info-header {
  font-weight: bold;
  font-size: 14px;
}
div.medical-info-extra {
  margin-left: 20px;
}
div.panel-collapsable > div.panel-heading.medical-info-panel-heading {
   cursor: default;
}
div.panel-collapsable > div.panel-heading.medical-info-panel-heading a.fa {
  text-decoration: none;
}
div.panel-collapsable > div.panel-heading.medical-info-panel-heading span.tools {
  margin: -5px 5px;
}

a.fa-pdf-link i {
  color: red;
  margin: 4px;
  font-size: 1.2em;
}
.entry-new-evolution .log-only {
  display: none;
}
.dropdown.medical-info-action {
  position: relative;
}
div.clickable-panel ul.other-actions > li.open {
  opacity: 1;
}
.old-problems .checkall-aligned {
  margin-left: 13px;
}
/* medical-info end */

/* ccg template start */
div.mi-navigation {
  text-align: center;
  margin-top: 20px;
}
div.mi-navigation.mi-navigation-bottom{
  text-align: left;
}
div.mi-navigation ol {
  list-style: none;
  display: inline-flex;
  padding-left: 0px;
}
div.mi-navigation ol li {
  margin: 0px 26px;
  position: relative;
}
div.mi-navigation ol li div.circle {
  font-size: 15px;
  padding: 9px 15px;
  border-radius: 20px;
  margin-bottom: 10px;
  background-color: #0064C9;
  color: white;
  opacity: 0.4;
  cursor: pointer;
}
div.mi-navigation ol li.active div.circle {
  opacity: 1;
}
div.mi-navigation ol li.active div.legend {
  display: block;
  text-align: left;
}
div.legend {
  display: none;
  left: -30%;
  position: absolute;
  width: 500px;
  font-size: 16px;
  color: #00A5D9;
  font-weight: 300;
  left: -20px;
}

div.mi-navigation .btn {
  margin: 10px 5px;
}
div.mi-navigation.mi-navigation-close {
  border-top: 1px dotted #d1d1d1;
}
div.mi-navigation.mi-navigation-close btn {
  margin-top: 10px;
}
div.progress-legend {
  text-align: left;
  margin: 5px 0px;
}
.title-slim {
  font-size: 1.2em;
  font-weight: 200;
}
.title-blue {
  color: #428bca;
  font-weight: 400;
  font-size:1.2em;
}
.title-blue-accent {
  color: #3674A9;
  font-weight: 600;
}
div.row.ccg-form-row {
  border-bottom: 1px solid lightgray;
  padding-bottom: 20px;
  padding-top: 20px;
  margin-left: 15px;
  margin-right: 15px;
}
div.step-container {
  margin-top: 40px;
  margin-left: 20px;
}

#ccg5Form label.error {
  margin-left: 25%;
}
#ccg5Form .form-control {
  padding-right: 1px;
}
div.step-container div.extra-info {
  margin: 10px 0px;
}

table.ccg-table {
  border: 1px solid;
  border-collapse: collapse;
}

table.ccg-table td {
  border: 1px solid;
  padding: 10px;
  text-align: center;
}

table.ccg-table th {
  border: 1px solid;
  padding: 10px;
}
div.step-container i.step-spinner {
  text-align: center;
  display: block;
  font-size: 50px;
  color: #0064C9;
  opacity: 0.7;
}
/* ccg template end */

/* fa template start */
form.template-form div.row {
  padding: 10px 0px;
  margin-left: 15px;
  margin-right: 15px;
}
div.top-divider {
  padding-top: 20px;
  border-top: 1px solid #EDEDED;
}

div.bottom-divider {
  border-bottom: 1px solid #d1d1d1;
}

div.right-divider {
  border-right: 1px solid #d1d1d1;
}

div.strategy-selected {
  min-height:170px;
}

form[name="fa5Form"] div.score-results {
  text-align: center;
}

.modal.omnia-modal .modal-header {
  background-color: #424f63;
}

.modal.omnia-modal .score {
  padding: 10px;
  border: 2px solid;
  border-radius: 50%;
  width: 25%;
  margin: 25px auto;
  font-size: 3em;
  line-height: 1.7em;
  color: #47A54D;
}
.modal.omnia-modal .score.warn {
  color: #B5B82F;
}
.modal.omnia-modal .score.danger {
  color: #DF3232;
}
.modal.omnia-modal.omnia-modal-warn .modal-header {
  background-color: #FFED6E;
  color: rgb(90, 90, 90);
}
/* fa template end */

/* problems typeahead */
span.twitter-typeahead {
  width: 100%;
}
.form-group span.twitter-typeahead {
  display: block !important;
}
.typeahead,
.tt-query,
.tt-hint {
  width: 100%;
  height: 30px;
  padding: 8px 12px;
  line-height: 30px;
  border: 2px solid #ccc;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  outline: none;
}
.typeahead:focus {
  border: 2px solid #0097cf;
}
.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.tt-hint {
  color: #999
}
.tt-dropdown-menu {
  width: 100%;
  margin-top: 12px;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}
.tt-suggestion {
  padding: 3px 20px;
  line-height: 24px;
}
span.tt-dropdown-menu .tt-suggestion.tt-cursor {
  background-color: #0097cf;
}
span.tt-dropdown-menu .tt-suggestion.tt-cursor p {
  color: #ffffff;
}
.tt-suggestion p {
  margin: 0;
}
/* problems typeahead end */

/* trip customization */
.trip-content .left {
  float: left;
}
.trip-content .right {
  float: right;
}
.trip-content .custom-nav {
  color: #65A8CE;
  font-size: 12px;
  margin-bottom: 10px;
}
.trip-block.yeti {
  padding: 0px;
  background: white;
  color: #7A7676;
}
.trip-block.yeti .trip-content {
  font-size: 14px;
}
.trip-block.yeti .trip-close {
  color: #7A7676;
  font-size: 20px;
}
.trip-block.yeti .trip-progress-wrapper .trip-prev,
.trip-block.yeti .trip-progress-wrapper .trip-next {
  font-size: 12px;
  color: #65A8CE;
}
.trip-block.yeti .trip-progress-wrapper .trip-prev:hover,
.trip-block.yeti .trip-progress-wrapper .trip-next:hover {
  background: white;
}
.trip-block.yeti .trip-content {
  max-width: 550px;
}
.trip-block.yeti.n:before {
  border-top-color: white;
}
.trip-block.yeti.s:before {
  border-bottom-color: white;
}
.trip-block.yeti.e:before {
  border-right-color: white;
}
.trip-block.yeti.w:before {
  border-left-color: white;
}
/* trip customization end*/

/* background form start*/
div.wizard-title h2 {
  color: black;
  font-size: 1.15em;
  font-weight: bold;
  text-align: center;
  margin: 5px;
}
div.wizard-title h3 {
  font-size: 1.10em;
  text-align: center;
  padding-top: 0px;
  margin: 0px 0px 35px 0px;
  font-weight: 300;
  color: #aaa;
}
div.wizard-title h3 em {
  text-decoration: underline;
  font-style: normal;
}
div.omnia-wizard div.add-or-remove button {
  margin-top: 25px;
  margin-left: -30px;
}
div.drug-step #drugStepForm {
  border: 1px solid lightgrey;
  padding: 10px;
}
div.drug-step #drugStepForm em {
  font-size: 12px;
  margin-left: 5px;
}
div.drug-step #drugStepForm span.vademecum a {
  font-size: small;
  margin-left: 10px;
  text-transform: none;
}
div.drug-step li.added-drug-item {
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;
}
/* background form end*/

/* calculators start*/
div.panel.calculator-results {
  margin-left: 2.33333333%;
  width: 39.33333333%;
}
div.panel.calculator-results .panel-body {
  text-align: center;
  margin: auto;
}

div.panel.calculator-results .info {
  text-align: center;
  margin: auto;
  margin: 10px;
}

div.panel.calculator-results .panel-body .score {
  font-size: 3em;
}

div.panel.calculator-results .panel-body .score span.unit {
  font-size: 0.3em;
}
div .panel-heading.calculators-list-heading {
  border-bottom: none;
}
/* calculators end*/

/* calendar start */
div.calendar-container div.calendar[view='basicDay'] div.fc-view-container {
  display: none;
}
div.calendar div.fc-view-container {
  height: 100%;
  min-height: 100%;
}
ul.nav.nav-pills-calendar li a:hover {
  color: #fff;
  background-color: #86B5DD;
}
div.calendar div.fc-toolbar h2 {
  text-transform: capitalize;
  min-width: 200px;
}
div.col-xs-2 div.calendar div.fc-toolbar > div.fc-left {
  display: none;
}
.fc-state-default, .fc-state-default .fc-button-inner {
    background: #fff !important;
    border-color: #DDDDDD;
    border-style: none solid;
    color: #646464;
}
.fc-state-active, .fc-state-active .fc-button-inner, .fc-state-active, .fc-button-today .fc-button-inner, .fc-state-hover, .fc-state-hover .fc-button-inner {
    background: #86B5DD !important;
    color: #fff !important;
}
.fc-basicWeek-view .fc-row, .fc-month-view .fc-row {
  cursor: pointer;
}
.calendar[calendar-view='basicDay'] {
  margin-top: 25px;
}
.calendar[calendar-view='basicDay'] .fc-toolbar {
  display: none;
}
.calendar {
  transition: opacity 0.1s;
}
.calendar.phasing {
  opacity: 0.1;
}
.calendar thead th.fc-day-header {
  height: 45px;
  text-align: center;
  line-height: 45px;
  text-transform: uppercase;
  background-color: #39404C;
  color: #FFF;
  font-weight: 200;
  letter-spacing: 1px;
  border-width: 0px;
}
div.calendar-container div.fc-toolbar button.fc-button {
  border-radius: 0px;
  box-shadow: none;
}
div.calendar-container div.fc-toolbar button.fc-button.fc-today-button {
  padding: 0px 20px;
}
.calendar-form h2 {
  color: rgb(122, 118, 118);
  font-size: 20px;
  font-weight: 300;
  padding: 0px 10px;
  margin-bottom: 25px;
}
.calendar-form > a.go-back {
  cursor: pointer;
  margin-left: 15px;
  font-size:1.1em;
}
.calendar-form > .calendar-day-slot > button.btn {
  cursor: default;
}
.calendar-form > .calendar-day-slot.past {
  opacity: 0.5;
}
.calendar-form > .calendar-day-slot.past a {
  color: black;
  cursor: default;
}
.calendar-form > .calendar-day-slot.past a:hover {
  text-decoration: none;
}
.calendar-form .btn span > a, .calendar-form .btn span > a:hover {
  text-decoration: underline;
  cursor: pointer;
  font-size: 14px;
  color: #7DC3FF;
}
.calendar-form .calendar-day-slot {
  padding: 15px;
  margin: 15px 10px;
  font-size: 15px;
  line-height: 0px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.calendar-form .calendar-day-slot.free {
  background-color: #fff;
  color: black;
}
.calendar-form .calendar-day-slot.reserved {
  background-color: #424F63;
  border-color: #374152;
  color: #FFFFFF;
}
.calendar-form .calendar-day-slot.blocked {
  background-color: #ddd;
  color: black;
}
.calendar-form .calendar-day-slot a.block-slot {
  font-size: 12px;
  color: #424F63;
}
.calendar-form .calendar-day-slot a.unblock-slot {
  font-size: 12px;
  color: #424F63;
}
.calendar-form .calendar-day-slot a.remove {
  font-size: 12px;
  color: #ddd;
}
.calendar-form .calendar-day-slot a {
  cursor: pointer;
}
.calendar-form .calendar-day-slot .slot-panel {
  box-shadow: none;
}
.calendar-form .calendar-day-slot .slot-panel .panel-heading {
  border-bottom: none;
  padding: 0px;
  margin: 20px 15px;
}
.calendar-form .calendar-day-slot .slot-panel .panel-body label {
  margin-bottom: 20px;
}
.calendar-form .patient-not-found {
  font-size: 0.8em;
  letter-spacing: 0.03em;
  cursor: default;
}
.calendar-form .patient-not-found + .tooltip .tooltip-inner {
  width: 500px;
}
div.calendar-container div.fc-view-container div.fc-bg td.fc-day.fc-state-highlight {
  background: #E1F1FF;
}
div.calendar-container div.fc-view-container div.fc-content-skeleton td.fc-day-number {
  color: #646464;
}
div.calendar-container div.fc-view-container div.fc-content-skeleton td.fc-event-container > a.group-calendar-event {
  padding: 10px;
  font-size: 13px;
  text-align: center;
  border-radius: 0px;
  border: 0px;
  font-weight: 200;
}
div.calendar-container div.fc-view-container div.fc-content-skeleton td.fc-event-container > a.specific-calendar-event {
  padding: 5px;
  margin: 3px;
}
div.calendar-container h2 {
  font-size: 20px;
  font-weight: 300;
  padding: 0px 10px;
  margin: 4px 0px;
}
div.calendar-container div.fc-row.fc-week {
  border-bottom: 1px solid #ccc;
}
div.calendar-container .fc .fc-month-view td {
  border: 0px;
}
div.calendar-container table tr td.fc-day-number {
  padding-top: 15px;
  font-weight: 200;
  font-size: 1.3em;
}
div.calendar-container .fc-ltr .fc-basic-view .fc-day-number {
  text-align: center;
}

div.calendar-container .nav-pills > li > a {
  border-radius: 0px;
}
.fc-content-skeleton tbody td {
  height: 37px;
}
.fc-content-skeleton tbody td.highlight {
  text-align: center;
  font-size: 15px;
  line-height: 22px;
  color: #ACB2CB;
}

.panel-calendar-today h2 {
  font-weight: 200;
  font-size: 35px;
}

.panel-calendar-today h2 span.date {
  margin-left: 10px;
  text-transform: capitalize;
  font-size: 0.5em;
}

.modal .modal-body .panel.no-shadow {
  box-shadow: none;
  -webkit-box-shadow: none;
}

.calendar-container .loading-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  background-color: white;
  opacity: 0.4;
  border-radius: 5px;
  top: -15px;
  left: 0px;
  cursor: progress;
}
/* calendar end */

/* bootstrap timepicker extension */
.bootstrap-timepicker-widget i {
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  color: #AAD2F4;
}
.bootstrap-timepicker-widget i.icon-chevron-up:before {
  content: "\e113";
}
.bootstrap-timepicker-widget i.icon-chevron-down:before {
  content: "\e114";
}
div.bootstrap-timepicker-widget input {
  border-radius: 0px;
}
div.bootstrap-timepicker span.fa-clock-o:hover {
  cursor: pointer;
  color: #424F63;
}
div.bootstrap-timepicker div.input-group-addon:hover {
  cursor: pointer;
}
/* bootstrap timepicker extension end */

/* episodes timeline */
div.timeline-desk div.entry {
  min-width: 450px;
}
div.entry div.entry-new-evolution.deleted-evolution {
  opacity: 0.5;
}
div.entry div.entry-new-evolution.edited-evolution {
  opacity: 0.7;
}
/* episodes timeline end*/

/* new-problem-form */
div.problem-form-row {
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 10px;
}
div.problem-form-row div.form-group {
  margin-bottom: 5px;
}
div.problem-form-optional {
  background-color: #EEE;
  border: 1px dashed #ccc;
  margin-right: 30px;
  margin-left: 30px;
  padding-bottom: 10px;
  border-radius: 4px 4px 4px 4px;
}
div.problem-form-optional-title {
  display: block;
  position: relative;
}
div.problem-form-optional-title > span.btn-corner-title {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px 8px;
  font-size: 12px;
  background-color: #fff;
  border-radius: 0 0 0 4px;
}
div.problem-form-row input:focus:invalid:focus {
  border-color: #66afe9 !important;
}
div.btn-group > #allergy-severe {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  margin-left: 0;
}
div.btn-group > #allergy-moderate {
  border-radius: 0;
  margin-left: 0;
  margin-right: 0;
}
/* new-problem-form end */

/* timeline filters */
.timeline-filters-row {
  position: relative;
  margin-top: -75px;
  opacity: 0;
  transition-property: margin-top, opacity, z-index;
  transition-duration: 0.2s;
  z-index: -1;
}

.timeline-filters-row.visible {
  margin-top: 0px;
  opacity: 1;
  z-index: 1;
}

div.panel-body.timeline-filters-panel {
  padding-bottom: 10px;
  padding-top: 10px;
}
div.timeline-filters-panel > form > div {
  padding-left: 0;
}
button.btn.btn-default.close-filters {
  color: #A00;
  margin-left:25%;
}
i.timeline-filter-icon {
  font-size: 20px;
}
/* timeline filters end */

/* patient event log */
table.log > tbody > tr > td {
  border-top: 0;
}
table.log > tbody > tr > td > span.caret {
  font-size: 1.3em;
}
div.panel div.log-actions > a {
  color: #999;
  cursor: pointer;
}
/* patient event log end */

/* solicitations */
div.description-panel {
  min-height: 200px;
}
ul.removable-items {
  list-style-type: none;
  padding-left: 0;
}
ul.removable-items i.fa {
  color: red;
}
.transfusional-control {
  padding-right: 0;
  margin-bottom: 5px;
}
.panel.solicitations-panel .panel-heading {
  border: 0px;
}
.panel.solicitations-panel .panel-heading .dropdown-toggle {
  border: 0px;
  font-weight: bold;
  color: #428bca;
}
.panel.solicitations-panel .panel-body {
  padding-top: 0px;
}
.panel.solicitations-panel .expandable-list .btn-xs .fa {
  font-size: 18px;
}
div.pills-container {
  padding-left: 0;
}
div.pills-container .nav > li.active > a:hover {
  background-color: #428bca;
}
div.pills-container .nav > li > a:hover {
  background-color: transparent;
}

.row.row-lab-description .input-zone {
  width:75%;
  display:inline-block;
}

.row.row-lab-description .clear {
  width:20%;
  display:inline-block;
}

.row.row-lab-description .clear i.fa {
  color: red;
}
.row.row-lab-description .description-item {
  opacity: 0;
  animation: new-description-item ease-out forwards;
  animation-duration: .3s;
}

@keyframes new-description-item {
    from {
      opacity: 0;
      transform: translateX(50px);
    }

    to {
      opacity: 1;
      transform: translateX(0);
    }
}

.row.row-lab-description .removing-item {
  animation: removed-item-animation 0.2s cubic-bezier(0.55, -0.04, 0.91, 0.94) forwards;
}

@keyframes removed-item-animation {
    from {
      opacity: 1;
      transform: translateY(0);
    }

    to {
      opacity: 0;
      transform: translateY(100px);
    }
}

.expandable-list .table-hover a.order-number {
  font-size: 14px;
  font-weight: bold;
}

.expandable-list .table-hover a {
  text-align: left;
  text-decoration: none;
}

.expandable-list .table-hover tr a span.list-action {
  visibility: hidden;
}

.expandable-list .table-hover tr:hover a span.list-action {
  visibility: inherit;
}

.panel-body.transfusional-result .group {
  background-color: #fafafa;
  padding: 10px;
}

/* solicitations end */

/* search patients */
label.control-label.search-by {
  padding: 10px 15px;
  font-weight: normal;
}
div.search-patient-control {
  padding-top: 2px;
}
/* search patients end */

/* medical info evolutions */
ul.unstyled {
  list-style: none;
  padding-left: 0px;
}
.respect-whitespace {
  white-space: pre-wrap;
  word-break: break-word;
}
.indent {
  margin-left: 10px;
}
.justify {
  text-align: justify;
}
.entry .print-evolution {
  margin-left: 10px;
  font-size: 1.2em;
  text-decoration: none;
}
.log .expanded-row .print-evolution {
  display: none;
}
.print-signature {
  display: none;
}
/* medical info evolutions end */

/* animations */
@keyframes element-appear {
  0% { opacity: 0; }
  100% {opacity: 1; }
}

.element-appear {
  animation: element-appear 0.7s ease-in;
}
/* animations end */

/* pq medical-info start */
div.add-allergy {
  margin-top: 10px;
}
.procedure-list {
  margin-top: 10px;
}
/* pq medical-info end */

/* new anestesia forms */
.container-antestesia{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
}
.row-anestesia{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  margin: 10px;
  align-items: center;
}
.input-anestesia{
  width:120px;
  margin: 0 20px;
}
.row-botones{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}
.multiBtn{
  margin: 0 5px;
  border-radius: 14px;
  background-color: #8096B8;
  color: white;
  padding: 0px 10px;
  cursor: pointer;
}
.multiBtn:hover{
  background-color: #4f8263;
}
.multiBtnSelected{
  background-color: #159D4A;
}
.hoverTrash{
  display: none;
  font-size: 15px;
  line-height: 1.3;
  cursor: pointer;
}
.hoverIcon{
  display: none;
  font-size: 19px;
  line-height: 1.3;
  cursor: pointer;
}
.hoverCopy{
  position: absolute;
  top: 6px;
  left: 2px;
  font-size: 11px;
  line-height: 1.3;
  cursor: pointer;
  height: 20px;
}
.shownData:hover .hoverIcon, .monitorName:hover .hoverTrash, .procedureName:hover .hoverTrash{
  display: inline-block;
}
.tableDate{
  font-size: 20px;
  width:100%;
  text-align: center;
  margin: 5px 0;
}
.tableTimes{
  font-size:16px;
  color: #0064C9;
}
.shownTime{
  flex: 1;
  padding: 5px;
  text-align: center;
}
.shownTimeNow{
  background-color: #FCF8E3;
}
.invalidMonitorData{
  outline: 1px solid red;
}
.tableSectionName{
  width: 220px;
  text-align: right;
  color: black;
  font-weight: 700;
  padding: 3px 10px;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.tableGray{
  background-color: #DDDDDD;
}
.tableInput{
  width: 84%;
  height: 100%;
  border: 0;
  margin-left: 14px;
  background-color: transparent;
}
.tableInputDual{
  width: 40%;
  height: 100%;
  border: 0;
  margin-left: 8px;
  background-color: transparent;
}
.verticalText{
  transform: rotate(-90deg);
  transform-origin: left top 0;
  position: absolute;
  bottom: 10px;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  color: black;
}
.tableSectionMore{
  font-weight: 400;
  font-style: italic;
}
.shownData{
  flex: 1;
  text-align: center;
  border: 1px solid #D4D4D4;
  cursor: pointer;
  height: 26px;
  position: relative;
  z-index: 1;
}
.shownData:hover{
  z-index: 2;
}
#editAnestesiaDialog{
  border: 0;
}

dialog {
  background: #FFF;
  padding: 0;
  margin: auto;
  top: 0;
  bottom: 0;
  border: 0;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.5);
}
dialog::backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.dialogHeader{
  background-color: #2A323F;
  color: white;
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 7px 15px;
  font-size: 16px;
}
.dialogContent{
  padding: 20px;
}
.arrowBtn{
  cursor: pointer;
}
.procedureCategory{
  cursor: pointer;
}
.dataTooltip{
  background-color: #404040;
  color: white;
  position: absolute;
  z-index: 20;
  visibility: hidden;
  left: -100px;
  width: 350px;
  text-align: left;
  font-family: sans-serif;
  border-radius: 5px;
  padding-top: 5px;
}
.tooltipText{
  margin: 4px 0;
}
.shownData:hover .dataTooltip{
  visibility: visible;
}
.accesoInput{
  width: 60px;
}
.puncionRow{
  margin-left:30px;
  margin-top:10px;
}
/* new anestesia end */

/* General style */
.warning{
  padding: 10px;
  background-color: #FCF8E3;
  border: 1px solid #f4e3ab;
  font-size: 11px;
}
.formTitle{
  text-transform: uppercase;
  color: black;
  font-size: 16px;
  font-weight: 800;
}
.formHeaderData{
  font-size: 14px;
  font-weight: 600;
}
.formHeaderLink{
  color: #5B9BD5;
  cursor: pointer;
}
.verticalLayout{
  display: flex;
  flex: 1;
  flex-direction: column;
}
.horizontalLayout{
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
}
.wrapLayout{
  flex-wrap: wrap;
}
/* End General style */