<div id="doc-viewer" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog ekko-lightbox">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h4 class="modal-title"></h4>
      </div>
      <div class="modal-body">
        <iframe src="" frameborder="0" height="800" style="zoom:0.60" width="99.6%"></iframe>
      </div>
    </div>
  </div>
</div>