<form class="form-horizontal" role="form" name="anestesia2" id="anestesia2" novalidate>
    <div class="horizontalLayout">
        <div class="formTitle" style="flex:1">Parte Anestesico #{{data.parte.id}}</div>
        <button type="button" class="btn btn-link" ng-click="validateData();">Salir</button>
    </div>
    <div class="horizontalLayout formHeaderData">
        <span class="formHeaderLink" ng-click="editData1()">Datos de la Anestesia</span>
        <span style="flex:1"></span>
    </div>
    <div class="horizontalLayout formHeaderData">
        <span>Ingreso a quirófano:&nbsp</span>
        <strong>{{data._1.date}}</strong>
        <span>&nbspa las&nbsp</span>
        <strong>{{data._1.time}}</strong>
        <span>&nbsphs</span>
    </div>
    <div class="horizontalLayout formHeaderData">
        <span>Tipo de procedimiento quirúrgico:&nbsp</span>
        <strong>{{data._1.selectedProcedimiento.name}}</strong>
    </div>
    <div class="horizontalLayout formHeaderData">
        <span>Tipo de anestesia:&nbsp</span>
        <div ng-repeat="anestesia in data._1.selectedAnestesias">
            <strong>{{anestesia.name}}&nbsp</strong>
        </div>
    </div>
                    
    <div class="row-anestesia">
        <div class="verticalLayout">
            <div class="horizontalLayout">
                <div class="tableSectionName" style="width:220px"></div>
                <div class="verticalLayout" style="text-align:center">
                    <div class="horizontalLayout">
                        <span class="tableDate"><i class="fa fa-calendar-o" style="margin-right:5px"></i>{{data._2.formatedDate}}</span>
                    </div>
                    <div class="horizontalLayout tableTimes">
                        <button type="button" class="btn btn-link arrowBtn" ng-disabled="backTimeBtn()" ng-click="timeBck()" style="padding:5px;margin-right:-21px"><i class="fa fa-arrow-left"></i></button>
                        <div class="shownTime" ng-repeat="time in data._2.shownTimes">
                            <span ng-bind="formatTime(time)"></span>
                        </div>
                        <button type="button" class="btn btn-link arrowBtn" ng-click="timeFwd()" style="padding:5px;margin-left:-21px"><i class="fa fa-arrow-right"></i></button>
                    </div>
                </div>
            </div>
            <div class="horizontalLayout">
                <div class="verticalLayout">
                    <!--Procedimientos-->
                    <div ng-repeat="(key, value) in data._2.procedures">
                        <div class="horizontalLayout procedureName" ng-if="checkProcedureCat(key)">
                            <div class="tableSectionName tableGray">
                                <i class="fa fa-trash hoverTrash" style="color:red" ng-click="openDeleteData(key, value, 'procedures')"></i>
                                <span ng-bind="getProcedureTitle(key)" ng-attr-title="{{getProcedureTitle(key)}}"></span>
                            </div>
                            <div id="procedureRepeat" class="horizontalLayout" ng-repeat="time in data._2.shownTimes">
                                <div class="shownData" ng-class="{'shownTimeNow': checkCurrentTime(time)}" data-time="{{time}}" ng-if="checkProcedureData(time, key)">
                                    <i class="fa fa-trash hoverIcon" style="color:red;position:absolute;right:7px" ng-click="openDeleteProcedureData(time, key)"></i>
                                    <i class="fa fa-square" ng-click="openEditProcedureDialog(time, key)">
                                        <!--Tooltip-->
                                        <div class="dataTooltip verticalLayout">
                                            <ul>
                                                <div ng-repeat="prep in getProcedureData(time, key)">
                                                    <li class="tooltipText" style="margin:3px 3px 5px" ng-if="prep.data && prep.data.name">
                                                        <span>{{prep.data.name}}</span>
                                                        <span class="tooltipText" ng-if="prep.previous == true">&nbsp(Colocada previamente)</span>
                                                    </li>
                                                    <li class="tooltipText" style="margin:3px 3px 5px" ng-if="prep.state == true">
                                                        <span ng-if="!prep.value">{{prep.name}}</span>
                                                        <span class="tooltipText" ng-if="prep.value">{{prep.name}}:&nbsp{{prep.value}}</span>
                                                        <span class="tooltipText" ng-if="prep.state == true && prep.previous == true">&nbsp(Colocada previamente)</span>
                                                    </li>
                                                    <ul ng-if="prep.state == true">
                                                        <div ng-repeat="prepData in prep.data">
                                                            <li class="tooltipText" ng-if="prepData.state == true">{{prepData.name}}</li>
                                                            <li class="tooltipText" ng-if="prepData.value">{{prepData.name}}:&nbsp{{prepData.value}}</li>
                                                            <ul>
                                                                <div ng-repeat="prepDataData in prepData.data">
                                                                    <li class="tooltipText" ng-if="prepDataData.state == true">{{prepDataData.name}}</li>
                                                                </div>
                                                            </ul>
                                                        </div>
                                                    </ul>
                                                    <ul ng-if="prep.data.cateter">
                                                        <div>
                                                            <li><span>Número de catéter: &nbsp</span><span ng-bind="prep.data.cateter"></span></li>
                                                        </div>
                                                    </ul>
                                                    <ul ng-if="prep.data.lumenes">
                                                        <div>
                                                            <li><span>Cantidad de lúmenes: &nbsp</span><span ng-bind="prep.data.lumenes"></span></li>
                                                        </div>
                                                    </ul>
                                                </div>
                                            </ul>
                                        </div>
                                    </i>
                                </div>
                                <div ng-if="!checkProcedureData(time, key)" class="shownData" ng-class="{'shownTimeNow': checkCurrentTime(time)}" data-time="{{time}}" ng-click="openProcedureDialog(time, key)">
                                    <i class="fa fa-plus-circle hoverIcon" style="margin-right:5px"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="horizontalLayout" style="cursor:pointer;margin-bottom:5px">
                        <span class="tableSectionName tableGray tableSectionMore">Agregar nuevo procedimiento...</span>
                        <div class="horizontalLayout">
                            <div class="horizontalLayout" ng-repeat="time in data._2.shownTimes">
                                <div class="shownData" ng-class="{'shownTimeNow': checkCurrentTime(time)}" data-time="{{time}}" ng-click="openProcedureDialog(time)">
                                    <i class="fa fa-plus-circle hoverIcon" style="margin-right:5px"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Eventos-->
                    <div ng-repeat="(key, value) in data._2.events">
                        <div class="horizontalLayout procedureName">
                            <div class="tableSectionName tableGray">
                                <i class="fa fa-trash hoverTrash" style="color:red" ng-click="openDeleteData(key, value, 'events')"></i>
                                <span ng-bind="key" ng-attr-title="{{key}}"></span>
                            </div>
                            <div id="eventRepeat" class="horizontalLayout" ng-repeat="time in data._2.shownTimes">
                                <div class="shownData" ng-class="{'shownTimeNow': checkCurrentTime(time)}" data-time="{{time}}" ng-if="checkEventData(time, key)">
                                    <i class="fa fa-trash hoverIcon" style="color:red;position:absolute;right:7px" ng-click="openDeleteSingleData(time, key, 'events')"></i>
                                    <i class="fa fa-square" ng-click="openEventDialog(time, key)">
                                        <!--Tooltip-->
                                        <div class="dataTooltip verticalLayout">
                                            <ul>
                                                <li ng-if="getEventData(time, key).alderete">Scores de Alderete:&nbsp<span ng-bind="getEventData(time, key).alderete"></span></li>
                                                <li ng-if="getEventData(time, key).bromage">Bromage:&nbsp<span ng-bind="getEventData(time, key).bromage"></span></li>
                                                <li ng-if="getEventData(time, key).tof">TOF:&nbsp<span ng-bind="getEventData(time, key).tof"></span></li>
                                                <li ng-if="getEventData(time, key).lavado">Lavado de líneas vasculares</span></li>
                                                <li ng-if="getEventData(time, key).comments"><span ng-bind="getEventData(time, key).comments"></span></li>
                                            </ul>
                                        </div>
                                    </i>
                                </div>
                                <div ng-if="!checkEventData(time, key)" class="shownData" ng-class="{'shownTimeNow': checkCurrentTime(time)}" data-time="{{time}}" ng-click="openEventDialog(time, key)">
                                    <i class="fa fa-plus-circle hoverIcon" style="margin-right:5px"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="horizontalLayout" style="cursor:pointer;margin-bottom:5px">
                        <span class="tableSectionName tableGray tableSectionMore">Agregar nuevo evento...</span>
                        <div class="horizontalLayout">
                            <div class="horizontalLayout" ng-repeat="time in data._2.shownTimes">
                                <div class="shownData" ng-class="{'shownTimeNow': checkCurrentTime(time)}" data-time="{{time}}" ng-click="openEventDialog(time)">
                                    <i class="fa fa-plus-circle hoverIcon" style="margin-right:5px"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Monitoreo-->
                    <div class="horizontalLayout" ng-repeat="monitor in data._2.table.monitor.data">
                        <div ng-if="monitor.visible" class="horizontalLayout monitorName">
                            <div class="tableSectionName tableGray">
                                <i class="fa fa-trash hoverTrash" style="color:red" ng-click="openDeleteMonitorData(monitor)"></i>
                                <span title="{{monitor.name}}">{{monitor.name}}</span>
                            </div>
                            <div class="horizontalLayout" ng-repeat="time in data._2.shownTimes">
                                <div class="shownData" ng-class="{'shownTimeNow': checkCurrentTime(time)}" data-time="{{time}}" ng-mouseover="hoverOnShowData(time, monitor.id)" ng-mouseleave="hoverOffShowData()">
                                    <i ng-show="showCopy" class="fa fa-copy hoverCopy" ng-click="copyData(time, monitor.id)"></i>
                                    <input ng-if="!monitor.minH" type="text" min="{{monitor.min}}" max="{{monitor.max}}" step="{{monitor.step}}" ng-value="getMonitorData(time, monitor.id)" ng-keyup="setMonitorData(time, monitor.id, $event)" class="tableInput">
                                    <div class="horizontalLayout" ng-if="monitor.minH">
                                        <input type="text" min="{{monitor.min}}" max="{{monitor.max}}" step="{{monitor.step}}" ng-value="getMonitorData(time, monitor.id)" ng-keyup="setMonitorData(time, monitor.id, $event)" class="tableInputDual" style="text-align:right">
                                        <span>/</span>
                                        <input type="text" min="{{monitor.minH}}" max="{{monitor.maxH}}" step="{{monitor.stepH}}" ng-value="getP2Data(time, monitor.id)" ng-keyup="setP2Data(time, monitor.id, $event)" class="tableInputDual" style="margin-left:0">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="horizontalLayout" ng-click="openMonitorDialog()" style="cursor:pointer;margin-bottom:5px">
                        <span class="tableSectionName tableGray tableSectionMore">Monitoreos...</span>
                        <div class="horizontalLayout">
                            <div class="horizontalLayout" ng-repeat="time in data._2.shownTimes">
                                <div class="shownData" ng-class="{'shownTimeNow': checkCurrentTime(time)}" data-time="{{time}}">
                                    <i class="fa fa-plus-circle hoverIcon" style="margin-right:5px"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End Monitoreo-->
                    <!--Fluidos-->
                    <div class="horizontalLayout" ng-repeat="(key, value) in data._2.fluids">
                        <div class="horizontalLayout monitorName">
                            <div class="tableSectionName tableGray">
                                <i class="fa fa-trash hoverTrash" style="color:red" ng-click="openDeleteData(key, value, 'fluids')"></i>
                                <span ng-bind="key" ng-attr-title="{{key}}"></span>
                            </div>
                            <div class="horizontalLayout" ng-repeat="time in data._2.shownTimes">
                                <div class="shownData" ng-class="{'shownTimeNow': checkCurrentTime(time)}" data-time="{{time}}" ng-mouseover="hoverOnFluidData(time, fluid)" ng-mouseleave="hoverOffShowData()">
                                    <i ng-show="showCopy" class="fa fa-copy hoverCopy" ng-click="copyFluidData(time, key)"></i>
                                    <input type="text" min="0" ng-value="getFluidData(time, key)" ng-keyup="setTimelineData(time, key, 'fluids', $event)" class="tableInput">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="horizontalLayout" style="cursor:pointer;margin-bottom:5px">
                        <span class="tableSectionName tableGray tableSectionMore">Fluidos administrados...</span>
                        <div class="horizontalLayout">
                            <div class="horizontalLayout" ng-repeat="time in data._2.shownTimes">
                                <div class="shownData" ng-class="{'shownTimeNow': checkCurrentTime(time)}" data-time="{{time}}" ng-click="openFluidsDialog(time)">
                                    <i class="fa fa-plus-circle hoverIcon" style="margin-right:5px"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End fluidos-->
                    <!--Diuresis-->
                    <div style="margin-bottom:5px">
                        <div class="horizontalLayout monitorName">
                            <div class="tableSectionName tableGray">
                                <span title="Diuresis (ml)">Diuresis (ml)</span>
                            </div>
                            <div class="horizontalLayout" ng-repeat="time in data._2.shownTimes">
                                <div class="shownData" ng-class="{'shownTimeNow': checkCurrentTime(time)}" data-time="{{time}}" ng-mouseover="hoverOnDiuresisData(time)" ng-mouseleave="hoverOffShowData()">
                                    <i ng-show="showCopy" class="fa fa-copy hoverCopy" ng-click="copyDiuresisData(time)"></i>
                                    <input type="text" min="0" ng-value="getDiuresisData(time)" ng-keyup="setTimelineData(time, null, 'diuresis', $event)" class="tableInput">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End Diuresis-->
                    <!--Diuresis-->
                    <div style="margin-bottom:5px">
                        <div class="horizontalLayout monitorName">
                            <div class="tableSectionName tableGray">
                                <span title="Pérdida Hemática (ml)">Pérdida Hemática (ml)</span>
                            </div>
                            <div class="horizontalLayout" ng-repeat="time in data._2.shownTimes">
                                <div class="shownData" ng-class="{'shownTimeNow': checkCurrentTime(time)}" data-time="{{time}}" ng-mouseover="hoverOnPerdidaData(time)" ng-mouseleave="hoverOffShowData()">
                                    <i ng-show="showCopy" class="fa fa-copy hoverCopy" ng-click="copyPerdidaData(time)"></i>
                                    <input type="text" min="0" ng-value="getPerdidaData(time)" ng-keyup="setTimelineData(time, null, 'perdida', $event)" class="tableInput">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End Diuresis-->
                </div>
            </div>
        </div>
    </div>
    <!--Edit Anestesia-->
    <dialog id="editAnestesiaDialog">
        <div class="dialogHeader">
            <span>Datos de la Anestesia</span>
        </div>
        <div class="dialogContent">
            <div class="row-anestesia">
                <span>Tipo de procedimiento quirúrgico:</span>
                <div ng-repeat="procedimiento in procedimientos">
                    <div class="multiBtn" ng-class="{'multiBtnSelected' : isTempProcedimientoSelected(procedimiento.id)}" ng-click="tempSelectProcedimiento(this, $event)">{{procedimiento.name}}</div>
                </div>
            </div>
            <div class="row-anestesia">
                <span>Tipo de antestesia:</span>
                <div ng-repeat="anestesia in anestesias">
                    <div class="multiBtn" ng-class="{'multiBtnSelected' : isTempAnestesiaSelected(anestesia)}" ng-click="tempSelectAnestesia(this, $event)">{{anestesia.name}}</div>
                </div>
            </div>
            <div class="row-botones">
                <div style="flex:1">
                    <button type="button" class="btn btn-link" ng-click="closeDialog('editAnestesiaDialog');">Cancelar</button>
                </div>
                <button type="button" class="btn btn-primary pull-right" ng-disabled="saving || !isValidEdit()" ng-click="modifyAnestesiaData()">
                    <span ng-show="saving" class="ng-hide" ><i class="fa fa-spin fa-spinner"></i>&nbsp;&nbsp;</span>Modificar
                </button>
            </div>
        </div>
    </dialog>
    <!--Add monitor data Dialog-->
    <dialog id="addMonitorDataDialog">
        <div class="dialogHeader">
            <span>Datos de la Anestesia</span>
        </div>
        <div class="dialogContent">
            <div class="row-anestesia">
                <span>Tipo de monitoreo:</span>
            </div>
            <div class="verticalLayout wrapLayout" style="height:350px;width:460px;margin:10px">
                <div ng-repeat="control in data._2.table.monitor.data">
                    <div class="horizontalLayout" style="margin: 5px">
                        <label><input type="checkbox" ng-click="selectNewMonitorData(this, $event)" ng-model="control.visible">{{control.name}}</label>
                    </div>
                </div>
            </div>
            <div class="row-botones">
                <div style="flex:1"></div>
                <button type="button" class="btn btn-primary pull-right" ng-click="closeDialog('addMonitorDataDialog');">Cerrar</button>
            </div>
        </div>
    </dialog>

    <!--Add Fluid data Dialog-->
    <!--<dialog id="addFluidDialog">
        <div class="dialogHeader">
            <span>Fluidos</span>
        </div>
        <div class="dialogContent">
            <div class="row-anestesia">
                <span><span>Indique el tipo de fluido...</span></span>
            </div>
            <div class="verticalLayout wrapLayout" style="height:670px;width:1300px;margin:10px">
                <div ng-repeat="fluid in data._2.table.fluids.data">
                    <div class="horizontalLayout" style="margin: 5px">
                        <label><input type="checkbox" ng-click="selectNewFluidData(this, $event)" ng-model="fluid.visible">{{fluid.name}}({{fluid.unit}})</label>
                    </div>
                </div>
            </div>
            <div class="row-botones">
                <div style="flex:1"></div>
                <button type="button" class="btn btn-primary pull-right" ng-click="closeDialog('addFluidDialog');">Cerrar</button>
            </div>
        </div>
    </dialog>-->

    <!--Procedures-->
    <dialog id="addProcedureDialog">
        <div class="dialogHeader">
            <span>Nuevo procedimiento (</span><span ng-bind="formatTime(editedProcedureTime)"></span><span>)</span>
        </div>
        <div class="dialogContent">
            <div class="row-anestesia" ng-if="categoriesStepOne">
                <span>Haga click sobre la categoria del procedimiento...</span>
            </div>
            <div class="row-anestesia">
                <div class="verticalLayout">
                    <div ng-if="categoriesStepOne" style="width:400px;">
                        <div ng-repeat="category in data._2.table.procedures.categories">
                            <button type="button" class="btn btn-link procedureCategory" ng-click="selectCategory(category)">{{category.name}}</button>
                        </div>
                    </div>
                    <div ng-if="categoryPrep" style="width:500px;">
                        <div class="verticalLayout">
                            <div ng-repeat="prep in data._2.table.procedures.categories.prep">
                                <div class="horizontalLayout" style="margin: 5px">
                                    <label><input type="checkbox" ng-model="prep.state">{{prep.name}}</label>
                                </div>
                                <div ng-repeat="prepData in prep.data">
                                    <div class="horizontalLayout" style="margin: 5px; margin-left:20px">
                                        <label><input type="checkbox" ng-model="prepData.state">{{prepData.name}}</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-if="categorySondas" style="width:500px;">
                        <div class="verticalLayout">
                            <div ng-repeat="sonda in data._2.table.procedures.categories.sondas">
                                <div class="horizontalLayout" style="margin: 5px">
                                    <label style="margin-right:20px"><input type="checkbox" ng-model="sonda.state">{{sonda.name}}</label>
                                    <div ng-if="sonda.state == true">
                                        <label><input type="checkbox" ng-model="sonda.previous">Colocada previamente</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-if="categoryAccesos" class="verticalLayout" style="width:715px;">
                        <div class="row-anestesia">
                            <span>Indique los accesos vasculares que se utilizarán...</span>
                        </div>
                        <div class="warning">
                            <span>En caso de no marcarse como "Colocada previamente" se informara como colocada durante el evento quirúrgico actual</span>
                        </div>
                        <div ng-repeat="selectedAcceso in data._2.selectedAccesos">
                            <div class="horizontalLayout" style="margin:10px 0">
                                <select ng-model="selectedAcceso.data" ng-options="acceso.name for acceso in data._2.table.procedures.categories.accesos">
                                    <option value="">-- Elija un tipo de acceso --</option>
                                </select>
                                <div ng-if="selectedAcceso.data.cateter != null" style="margin-left:10px;align-items:center" class="verticalLayout">
                                    <span>Número de catéter</span>
                                    <input type="number" class="accesoInput" ng-model="selectedAcceso.data.cateter"></input>
                                </div>
                                <div ng-if="selectedAcceso.data.lumenes != null" style="margin:0 10px;align-items:center" class="verticalLayout">
                                    <span>Cantidad de lúmenes</span>
                                    <input type="number" class="accesoInput" ng-model="selectedAcceso.data.lumenes"></input>
                                </div>
                                <div class="verticalLayout" style="margin-left:10px;align-items:center">
                                    <span>Colocado previamente</span>
                                    <input type="checkbox" ng-model="selectedAcceso.previous"></input>
                                </div>
                            </div>
                        </div>
                        <button type="button" class="btn btn-link" ng-click="addEmptyAcceso()"><i class="fa fa-plus-circle" style="margin-right:5px"></i>Agregar otro</button>
                    </div>
                    <div ng-if="categoryVias" class="verticalLayout" style="width:800px;">
                        <div class="row-anestesia">
                            <span>Indique el abordaje de la vía aérea utilizada...</span>
                        </div>
                        <label><input type="checkbox" ng-model="data._2.table.procedures.categories.vias[0].state">Cánula nasal</label>
                        <label><input type="checkbox" ng-model="data._2.table.procedures.categories.vias[1].state">Mascarilla facial</label>
                        <label><input type="checkbox" ng-model="data._2.table.procedures.categories.vias[2].state">Máscara laríngea</label>
                        <label><input type="checkbox" ng-model="data._2.table.procedures.categories.vias[3].state">Intubación Traqueal</label>
                        <div class="horizontalLayout">
                            <div ng-if="data._2.table.procedures.categories.vias[3].state" class="horizontalLayout" style="margin-left:30px">
                                <div class="horizontalLayout">
                                    <div class="multiBtn" ng-class="{'multiBtnSelected' : data._2.table.procedures.categories.vias[3].data[0].value == 'Orotraqueal'}" ng-click="data._2.table.procedures.categories.vias[3].data[0].value = 'Orotraqueal'">Orotraqueal</div>
                                    <div class="multiBtn" ng-class="{'multiBtnSelected' : data._2.table.procedures.categories.vias[3].data[0].value == 'Nasotraqueal'}" ng-click="data._2.table.procedures.categories.vias[3].data[0].value = 'Nasotraqueal'">Nasotraqueal</div>
                                </div>
                            </div>
                            <div ng-if="data._2.table.procedures.categories.vias[3].state" class="horizontalLayout">
                                <span style="margin-right:10px">Número de tubo:</span>
                                <select ng-model="data._2.table.procedures.categories.vias[3].data[1].value">
                                    <option value="2">2</option>
                                    <option value="2.5">2.5</option>
                                    <option value="3">3</option>
                                    <option value="3.5">3.5</option>
                                    <option value="4">4</option>
                                    <option value="4.5">4.5</option>
                                    <option value="5">5</option>
                                    <option value="5.5">5.5</option>
                                    <option value="6">6</option>
                                    <option value="6.5">6.5</option>
                                    <option value="7">7</option>
                                    <option value="7.5">7.5</option>
                                    <option value="8">8</option>
                                    <option value="8.5">8.5</option>
                                    <option value="9">9</option>
                                    <option value="9.5">9.5</option>
                                    <option value="10">10</option>
                                </select>
                            </div>
                            <div ng-if="data._2.table.procedures.categories.vias[3].state" class="horizontalLayout">
                                <div class="horizontalLayout">
                                    <div class="multiBtn" ng-class="{'multiBtnSelected' : data._2.table.procedures.categories.vias[3].data[2].value == 'Con balón'}" ng-click="data._2.table.procedures.categories.vias[3].data[2].value = 'Con balón'">Con balón</div>
                                    <div class="multiBtn" ng-class="{'multiBtnSelected' : data._2.table.procedures.categories.vias[3].data[2].value == 'Sin balón'}" ng-click="data._2.table.procedures.categories.vias[3].data[2].value = 'Sin balón'">Sin balón</div>
                                </div>
                            </div>
                        </div>
                        <div ng-if="data._2.table.procedures.categories.vias[3].state" class="horizontalLayout" style="margin-left:30px;margin-top:10px">
                            <span style="margin-right:10px">Técnica:</span>
                            <div class="multiBtn" ng-class="{'multiBtnSelected' : data._2.table.procedures.categories.vias[3].data[3].value == 'Convencional'}" ng-click="data._2.table.procedures.categories.vias[3].data[3].value = 'Convencional'">Convencional</div>
                            <div class="multiBtn" ng-class="{'multiBtnSelected' : data._2.table.procedures.categories.vias[3].data[3].value == 'Secuencia rápida'}" ng-click="data._2.table.procedures.categories.vias[3].data[3].value = 'Secuencia rápida'">Secuencia rápida</div>
                            <div class="multiBtn" ng-class="{'multiBtnSelected' : data._2.table.procedures.categories.vias[3].data[3].value == 'Vigil'}" ng-click="data._2.table.procedures.categories.vias[3].data[3].value = 'Vigil'">Vigil</div>
                        </div>
                        <div ng-if="data._2.table.procedures.categories.vias[3].state" class="verticalLayout" style="margin-left:30px;margin-top:10px">
                            <div class="horizontalLayout">
                                <span style="margin-right:10px">Resultado:</span>
                                <div class="horizontalLayout">
                                    <div class="multiBtn" ng-class="{'multiBtnSelected' : data._2.table.procedures.categories.vias[3].data[4].value == 'Satisfactorio'}" ng-click="data._2.table.procedures.categories.vias[3].data[4].value = 'Satisfactorio'">Satisfactorio</div>
                                    <div class="multiBtn" ng-class="{'multiBtnSelected' : data._2.table.procedures.categories.vias[3].data[4].value == 'Intubación dificultosa'}" ng-click="data._2.table.procedures.categories.vias[3].data[4].value = 'Intubación dificultosa'">Intubación dificultosa</div>
                                </div>
                            </div>
                            <div class="horizontalLayout" style="margin-left:30px;margin-top:10px">
                                <label style="margin-right:20px"><input type="checkbox" ng-model="data._2.table.procedures.categories.vias[3].data[4].data[0].state">Entrada de aire derecha</label>
                                <label><input type="checkbox" ng-model="data._2.table.procedures.categories.vias[3].data[4].data[1].state">Entrada de aire izquierda</label>
                            </div>
                        </div>
                        <label><input type="checkbox" ng-model="data._2.table.procedures.categories.vias[4].state">Fast Track</label>
                    </div>
                    <div ng-if="categoryPunciones" style="width:600px;">
                         <div class="row-anestesia">
                            <span>Complete los datos del procedimiento...</span>
                        </div>
                        <div class="verticalLayout" style="margin:10px 0">
                            <div class="horizontalLayout puncionRow">
                                <span style="margin-right:10px">Tipo:</span>
                                <div class="multiBtn" ng-class="{'multiBtnSelected' : data._2.table.procedures.categories.punciones[0].value == 'Epidural'}" ng-click="data._2.table.procedures.categories.punciones[0].value = 'Epidural'">Epidural</div>
                                <div class="multiBtn" ng-class="{'multiBtnSelected' : data._2.table.procedures.categories.punciones[0].value == 'Subaracnoideo'}" ng-click="data._2.table.procedures.categories.punciones[0].value = 'Subaracnoideo'">Subaracnoideo</div>
                            </div>
                            <div class="horizontalLayout puncionRow">
                                <span style="margin-right:10px">Nivel:</span>
                                <div class="multiBtn" ng-class="{'multiBtnSelected' : data._2.table.procedures.categories.punciones[1].value == 'Torácico'}" ng-click="data._2.table.procedures.categories.punciones[1].value = 'Torácico'">Torácico</div>
                                <div class="multiBtn" ng-class="{'multiBtnSelected' : data._2.table.procedures.categories.punciones[1].value == 'Lumbar L2-L3'}" ng-click="data._2.table.procedures.categories.punciones[1].value = 'Lumbar L2-L3'">Lumbar L2-L3</div>
                                <div class="multiBtn" ng-class="{'multiBtnSelected' : data._2.table.procedures.categories.punciones[1].value == 'Lumbar L3-L4'}" ng-click="data._2.table.procedures.categories.punciones[1].value = 'Lumbar L3-L4'">Lumbar L3-L4</div>
                                <div class="multiBtn" ng-class="{'multiBtnSelected' : data._2.table.procedures.categories.punciones[1].value == 'Lumbar L4-L5'}" ng-click="data._2.table.procedures.categories.punciones[1].value = 'Lumbar L4-L5'">Lumbar L4-L5</div>
                            </div>
                            <div class="horizontalLayout puncionRow">
                                <span style="margin-right:10px"># Aguja:</span>
                                <div class="multiBtn" ng-class="{'multiBtnSelected' : data._2.table.procedures.categories.punciones[2].value == '16 T'}" ng-click="data._2.table.procedures.categories.punciones[2].value = '16 T'">16 T</div>
                                <div class="multiBtn" ng-class="{'multiBtnSelected' : data._2.table.procedures.categories.punciones[2].value == '18 T'}" ng-click="data._2.table.procedures.categories.punciones[2].value = '18 T'">18 T</div>
                                <div class="multiBtn" ng-class="{'multiBtnSelected' : data._2.table.procedures.categories.punciones[2].value == '25 PL'}" ng-click="data._2.table.procedures.categories.punciones[2].value = '25 PL'">25 PL</div>
                                <div class="multiBtn" ng-class="{'multiBtnSelected' : data._2.table.procedures.categories.punciones[2].value == '26 PL'}" ng-click="data._2.table.procedures.categories.punciones[2].value = '26 PL'">26 PL</div>
                                <div class="multiBtn" ng-class="{'multiBtnSelected' : data._2.table.procedures.categories.punciones[2].value == '27 PL'}" ng-click="data._2.table.procedures.categories.punciones[2].value = '27 PL'">27 PL</div>
                                <div class="multiBtn" ng-class="{'multiBtnSelected' : data._2.table.procedures.categories.punciones[2].value == '23 Q'}" ng-click="data._2.table.procedures.categories.punciones[2].value = '23 Q'">23 Q</div>
                            </div>
                            <div class="horizontalLayout puncionRow">
                                <span style="margin-right:10px">Púncion:</span>
                                <div class="multiBtn" ng-class="{'multiBtnSelected' : data._2.table.procedures.categories.punciones[3].value == 'Única'}" ng-click="data._2.table.procedures.categories.punciones[3].value = 'Única'">Única</div>
                                <div class="multiBtn" ng-class="{'multiBtnSelected' : data._2.table.procedures.categories.punciones[3].value == 'Múltiple'}" ng-click="data._2.table.procedures.categories.punciones[3].value = 'Múltiple'">Múltiple</div>
                            </div>
                            <div class="horizontalLayout puncionRow">
                                <span style="margin-right:10px">Resultado:</span>
                                <div class="multiBtn" ng-class="{'multiBtnSelected' : data._2.table.procedures.categories.punciones[4].value == 'Satisfactorio'}" ng-click="data._2.table.procedures.categories.punciones[4].value = 'Satisfactorio'">Satisfactorio</div>
                                <div class="multiBtn" ng-class="{'multiBtnSelected' : data._2.table.procedures.categories.punciones[4].value == 'No Satisfactorio'}" ng-click="data._2.table.procedures.categories.punciones[4].value = 'No Satisfactorio'">No Satisfactorio</div>
                            </div>
                            <div class="puncionRow">
                                <textarea type="text" placeholder="Comentarios" ng-model="data._2.table.procedures.categories.punciones[5].value" style="width:100%;height:100px"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-botones">
                <div style="flex:1">
                    <button type="button" class="btn btn-link" ng-click="closeDialog('addProcedureDialog');">Cancelar</button>
                </div>
                <button type="button" class="btn btn-primary pull-right" ng-click="setTimelineData(editedProcedureTime, selectedCategory, 'procedures');closeDialog('addProcedureDialog');">Guardar</button>
            </div>
        </div>
    </dialog>

    <!--Procedures-->
    <dialog id="editProcedureDialog">
        <div class="dialogHeader">
            <span>Editar procedimiento (</span><span ng-bind="formatTime(editedProcedureTime)"></span><span>)</span>
        </div>
        <div class="dialogContent">
            <div ng-if="categoryPrep" style="width:500px;">
                <div class="verticalLayout">
                    <div ng-repeat="prep in procedureToEdit">
                        <div class="horizontalLayout" style="margin: 5px">
                            <label><input type="checkbox" ng-model="prep.state">{{prep.name}}</label>
                        </div>
                        <div ng-repeat="prepData in prep.data">
                            <div class="horizontalLayout" style="margin: 5px; margin-left:20px">
                                <label><input type="checkbox" ng-model="prepData.state">{{prepData.name}}</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-if="categorySondas" style="width:500px;">
                <div class="verticalLayout">
                    <div ng-repeat="sonda in procedureToEdit">
                        <div class="horizontalLayout" style="margin: 5px">
                            <label style="margin-right:20px"><input type="checkbox" ng-model="sonda.state">{{sonda.name}}</label>
                            <div ng-if="sonda.state == true">
                                <label><input type="checkbox" ng-model="sonda.previous">Colocada previamente</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-if="categoryAccesos" class="verticalLayout" style="width:715px;">
                <div class="row-anestesia">
                    <span>Indique los accesos vasculares que se utilizarán...</span>
                </div>
                <div class="warning">
                    <span>En caso de no marcarse como "Colocada previamente" se informara como colocada durante el evento quirúrgico actual</span>
                </div>
                <div ng-repeat="selectedAcceso in procedureToEdit">
                    <div class="horizontalLayout" style="margin:10px 0">
                        <select ng-model="selectedAcceso.data" ng-options="acceso.name for acceso in data._2.table.procedures.categories.accesos track by acceso.name">
                            <option value="">-- Elija un tipo de acceso --</option>
                        </select>
                        <div ng-if="selectedAcceso.data.cateter != null" style="margin-left:10px;align-items:center" class="verticalLayout">
                            <span>Número de catéter</span>
                            <input type="number" class="accesoInput" ng-model="selectedAcceso.data.cateter"></input>
                        </div>
                        <div ng-if="selectedAcceso.data.lumenes != null" style="margin:0 10px;align-items:center" class="verticalLayout">
                            <span>Cantidad de lúmenes</span>
                            <input type="number" class="accesoInput" ng-model="selectedAcceso.data.lumenes"></input>
                        </div>
                        <div class="verticalLayout" style="margin-left:10px;align-items:center">
                            <span>Colocado previamente</span>
                            <input type="checkbox" ng-model="selectedAcceso.previous"></input>
                        </div>
                    </div>
                </div>
                <button type="button" class="btn btn-link" ng-click="addEmptyAcceso()"><i class="fa fa-plus-circle" style="margin-right:5px"></i>Agregar otro</button>
            </div>
            <div ng-if="categoryVias" class="verticalLayout" style="width:800px;">
                <div class="row-anestesia">
                    <span>Indique el abordaje de la vía aérea utilizada...</span>
                </div>
                <label><input type="checkbox" ng-model="procedureToEdit[0].state">Cánula nasal</label>
                <label><input type="checkbox" ng-model="procedureToEdit[1].state">Mascarilla facial</label>
                <label><input type="checkbox" ng-model="procedureToEdit[2].state">Máscara laríngea</label>
                <label><input type="checkbox" ng-model="procedureToEdit[3].state">Intubación Traqueal</label>
                <div class="horizontalLayout">
                    <div ng-if="procedureToEdit[3].state" class="horizontalLayout" style="margin-left:30px">
                        <div class="horizontalLayout">
                            <div class="multiBtn" ng-class="{'multiBtnSelected' : procedureToEdit[3].data[0].value == 'Orotraqueal'}" ng-click="procedureToEdit[3].data[0].value = 'Orotraqueal'">Orotraqueal</div>
                            <div class="multiBtn" ng-class="{'multiBtnSelected' : procedureToEdit[3].data[0].value == 'Nasotraqueal'}" ng-click="procedureToEdit[3].data[0].value = 'Nasotraqueal'">Nasotraqueal</div>
                        </div>
                    </div>
                    <div ng-if="procedureToEdit[3].state" class="horizontalLayout">
                        <span style="margin-right:10px">Número de tubo:</span>
                        <select ng-model="procedureToEdit[3].data[1].value">
                            <option value="2">2</option>
                            <option value="2.5">2.5</option>
                            <option value="3">3</option>
                            <option value="3.5">3.5</option>
                            <option value="4">4</option>
                            <option value="4.5">4.5</option>
                            <option value="5">5</option>
                            <option value="5.5">5.5</option>
                            <option value="6">6</option>
                            <option value="6.5">6.5</option>
                            <option value="7">7</option>
                            <option value="7.5">7.5</option>
                            <option value="8">8</option>
                            <option value="8.5">8.5</option>
                            <option value="9">9</option>
                            <option value="9.5">9.5</option>
                            <option value="10">10</option>
                        </select>
                    </div>
                    <div ng-if="procedureToEdit[3].state" class="horizontalLayout">
                        <div class="horizontalLayout">
                            <div class="multiBtn" ng-class="{'multiBtnSelected' : procedureToEdit[3].data[2].value == 'Con balón'}" ng-click="procedureToEdit[3].data[2].value = 'Con balón'">Con balón</div>
                            <div class="multiBtn" ng-class="{'multiBtnSelected' : procedureToEdit[3].data[2].value == 'Sin balón'}" ng-click="procedureToEdit[3].data[2].value = 'Sin balón'">Sin balón</div>
                        </div>
                    </div>
                </div>
                <div ng-if="procedureToEdit[3].state" class="horizontalLayout" style="margin-left:30px;margin-top:10px">
                    <span style="margin-right:10px">Técnica:</span>
                    <div class="multiBtn" ng-class="{'multiBtnSelected' : procedureToEdit[3].data[3].value == 'Convencional'}" ng-click="procedureToEdit[3].data[3].value = 'Convencional'">Convencional</div>
                    <div class="multiBtn" ng-class="{'multiBtnSelected' : procedureToEdit[3].data[3].value == 'Secuencia rápida'}" ng-click="procedureToEdit[3].data[3].value = 'Secuencia rápida'">Secuencia rápida</div>
                    <div class="multiBtn" ng-class="{'multiBtnSelected' : procedureToEdit[3].data[3].value == 'Vigil'}" ng-click="procedureToEdit[3].data[3].value = 'Vigil'">Vigil</div>
                </div>
                <div ng-if="procedureToEdit[3].state" class="verticalLayout" style="margin-left:30px;margin-top:10px">
                    <div class="horizontalLayout">
                        <span style="margin-right:10px">Resultado:</span>
                        <div class="horizontalLayout">
                            <div class="multiBtn" ng-class="{'multiBtnSelected' : procedureToEdit[3].data[4].value == 'Satisfactorio'}" ng-click="procedureToEdit[3].data[4].value = 'Satisfactorio'">Satisfactorio</div>
                            <div class="multiBtn" ng-class="{'multiBtnSelected' : procedureToEdit[3].data[4].value == 'Intubación dificultosa'}" ng-click="procedureToEdit[3].data[4].value = 'Intubación dificultosa'">Intubación dificultosa</div>
                        </div>
                    </div>
                    <div class="horizontalLayout" style="margin-left:30px;margin-top:10px">
                        <label style="margin-right:20px"><input type="checkbox" ng-model="procedureToEdit[3].data[4].data[0].state">Entrada de aire derecha</label>
                        <label><input type="checkbox" ng-model="procedureToEdit[3].data[4].data[1].state">Entrada de aire izquierda</label>
                    </div>
                </div>
                <label><input type="checkbox" ng-model="procedureToEdit[4].state">Fast Track</label>
            </div>
            <div ng-if="categoryPunciones" style="width:600px;">
                    <div class="row-anestesia">
                    <span>Complete los datos del procedimiento...</span>
                </div>
                <div class="verticalLayout" style="margin:10px 0">
                    <div class="horizontalLayout puncionRow">
                        <span style="margin-right:10px">Tipo:</span>
                        <div class="multiBtn" ng-class="{'multiBtnSelected' : procedureToEdit[0].value == 'Epidural'}" ng-click="procedureToEdit[0].value = 'Epidural'">Epidural</div>
                        <div class="multiBtn" ng-class="{'multiBtnSelected' : procedureToEdit[0].value == 'Subaracnoideo'}" ng-click="procedureToEdit[0].value = 'Subaracnoideo'">Subaracnoideo</div>
                    </div>
                    <div class="horizontalLayout puncionRow">
                        <span style="margin-right:10px">Nivel:</span>
                        <div class="multiBtn" ng-class="{'multiBtnSelected' : procedureToEdit[1].value == 'Torácico'}" ng-click="procedureToEdit[1].value = 'Torácico'">Torácico</div>
                        <div class="multiBtn" ng-class="{'multiBtnSelected' : procedureToEdit[1].value == 'Lumbar L2-L3'}" ng-click="procedureToEdit[1].value = 'Lumbar L2-L3'">Lumbar L2-L3</div>
                        <div class="multiBtn" ng-class="{'multiBtnSelected' : procedureToEdit[1].value == 'Lumbar L3-L4'}" ng-click="procedureToEdit[1].value = 'Lumbar L3-L4'">Lumbar L3-L4</div>
                        <div class="multiBtn" ng-class="{'multiBtnSelected' : procedureToEdit[1].value == 'Lumbar L4-L5'}" ng-click="procedureToEdit[1].value = 'Lumbar L4-L5'">Lumbar L4-L5</div>
                    </div>
                    <div class="horizontalLayout puncionRow">
                        <span style="margin-right:10px"># Aguja:</span>
                        <div class="multiBtn" ng-class="{'multiBtnSelected' : procedureToEdit[2].value == '16 T'}" ng-click="procedureToEdit[2].value = '16 T'">16 T</div>
                        <div class="multiBtn" ng-class="{'multiBtnSelected' : procedureToEdit[2].value == '18 T'}" ng-click="procedureToEdit[2].value = '18 T'">18 T</div>
                        <div class="multiBtn" ng-class="{'multiBtnSelected' : procedureToEdit[2].value == '25 PL'}" ng-click="procedureToEdit[2].value = '25 PL'">25 PL</div>
                        <div class="multiBtn" ng-class="{'multiBtnSelected' : procedureToEdit[2].value == '26 PL'}" ng-click="procedureToEdit[2].value = '26 PL'">26 PL</div>
                        <div class="multiBtn" ng-class="{'multiBtnSelected' : procedureToEdit[2].value == '27 PL'}" ng-click="procedureToEdit[2].value = '27 PL'">27 PL</div>
                        <div class="multiBtn" ng-class="{'multiBtnSelected' : procedureToEdit[2].value == '23 Q'}" ng-click="procedureToEdit[2].value = '23 Q'">23 Q</div>
                    </div>
                    <div class="horizontalLayout puncionRow">
                        <span style="margin-right:10px">Púncion:</span>
                        <div class="multiBtn" ng-class="{'multiBtnSelected' : procedureToEdit[3].value == 'Única'}" ng-click="procedureToEdit[3].value = 'Única'">Única</div>
                        <div class="multiBtn" ng-class="{'multiBtnSelected' : procedureToEdit[3].value == 'Múltiple'}" ng-click="procedureToEdit[3].value = 'Múltiple'">Múltiple</div>
                    </div>
                    <div class="horizontalLayout puncionRow">
                        <span style="margin-right:10px">Resultado:</span>
                        <div class="multiBtn" ng-class="{'multiBtnSelected' : procedureToEdit[4].value == 'Satisfactorio'}" ng-click="procedureToEdit[4].value = 'Satisfactorio'">Satisfactorio</div>
                        <div class="multiBtn" ng-class="{'multiBtnSelected' : procedureToEdit[4].value == 'No Satisfactorio'}" ng-click="procedureToEdit[4].value = 'No Satisfactorio'">No Satisfactorio</div>
                    </div>
                    <div class="puncionRow">
                        <textarea type="text" placeholder="Comentarios" ng-model="procedureToEdit[5].value" style="width:100%;height:100px"></textarea>
                    </div>
                </div>
            </div>
            <div class="row-botones">
                <div style="flex:1">
                    <button type="button" class="btn btn-link" ng-click="closeDialog('editProcedureDialog');">Cancelar</button>
                </div>
                <button type="button" class="btn btn-primary pull-right" ng-click="editTimelineData(editedProcedureTime, selectedCategory);closeDialog('editProcedureDialog');">Guardar</button>
            </div>
        </div>
    </dialog>

    <!--Add event dialog-->
    <dialog id="addEventDialog">
        <div class="dialogHeader">
            <span>Nuevo Evento (</span><span ng-bind="formatTime(editedEventTime)"></span><span>)</span>
        </div>
        <div class="dialogContent" ng-if="!selectedEventStep2">
            <div class="horizontalLayout">
                <div class="multiBtn" ng-class="{'multiBtnSelected' : selectedEventCategory == 'tiempos'}" ng-click="selectedEventCategory = 'tiempos'">Tiempos y periodos</div>
                <div class="multiBtn" ng-class="{'multiBtnSelected' : selectedEventCategory == 'eventos'}" ng-click="selectedEventCategory = 'eventos'">Eventos Clinicos</div>
            </div>

            <div ng-if="selectedEventCategory == 'tiempos'" style="height:430px;width:400px">
                <div class="row-anestesia">
                    <span>Seleccione uno de los siguientes hitos temporales...</span>
                </div>
                <div class="row-anestesia">
                    <div class="verticalLayout">
                        <div>
                            <div ng-repeat="event in data._2.table.eventos.tiempos">
                                <button type="button" class="btn btn-link procedureCategory" ng-click="selectEvent(event)">{{event.name}}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-if="selectedEventCategory == 'eventos'" style="height:430px;width:400px">
                <div class="row-anestesia">
                    <span>Seleccione uno de los siguientes eventos clinicos...</span>
                </div>
                <div class="row-anestesia">
                    <div class="verticalLayout">
                        <div>
                            <div ng-repeat="event in data._2.table.eventos.eventos">
                                <button type="button" class="btn btn-link procedureCategory" ng-click="selectEvent(event)">{{event.name}}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-botones">
                <div style="flex:1">
                    <button type="button" class="btn btn-link" ng-click="closeDialog('addEventDialog');">Cancelar</button>
                </div>
            </div>
        </div>
        <div class="dialogContent" ng-if="selectedEventStep2">
            <div class="row-anestesia">
                <span ng-bind="selectedEvent.name"></span>
            </div>
            <div style="width:500px">
                <div class="verticalLayout" ng-if="selectedEvent.name == 'Recuperación anestésica'" style="height:130px">
                    <div class="horizontalLayout">
                        <span>Scores de Alderete:&nbsp</span>
                        <input type="number" ng-model="selectedEvent.alderete" min="0" max="100"></input>
                    </div>
                    <div class="horizontalLayout">
                        <span>Bromage:&nbsp</span>
                        <div class="multiBtn" ng-class="{'multiBtnSelected' : selectedEvent.bromage == 'Completo'}" ng-click="selectedEvent.bromage = 'Completo'">Completo</div>
                        <div class="multiBtn" ng-class="{'multiBtnSelected' : selectedEvent.bromage == 'Casi completo'}" ng-click="selectedEvent.bromage = 'Casi completo'">Casi completo</div>
                        <div class="multiBtn" ng-class="{'multiBtnSelected' : selectedEvent.bromage == 'Parcial'}" ng-click="selectedEvent.bromage = 'Parcial'">Parcial</div>
                        <div class="multiBtn" ng-class="{'multiBtnSelected' : selectedEvent.bromage == 'Nulo'}" ng-click="selectedEvent.bromage = 'Nulo'">Nulo</div>
                    </div>
                    <div class="horizontalLayout">
                        <span>TOF:&nbsp</span>
                        <input type="number" ng-model="selectedEvent.tof" min="1" max="100"></input>
                    </div>
                    <div class="horizontalLayout">
                        <label><input type="checkbox" ng-model="selectedEvent.lavado">Lavado de líneas vasculares</label>
                    </div>
                </div>
                <textarea type="text" placeholder="Comentarios" ng-model="selectedEvent.comments" style="width:100%;height:200px"></textarea>
            </div>
            <div class="row-botones">
                <div style="flex:1">
                    <button type="button" class="btn btn-link" ng-click="closeDialog('addEventDialog');">Cancelar</button>
                </div>
                <button type="button" class="btn btn-primary pull-right" ng-click="setTimelineData(editedEventTime, selectedEvent, 'events');closeDialog('addEventDialog');">Guardar</button>
            </div>
        </div>
    </dialog>

    <!--Add fluid dialog-->
    <dialog id="addFluidDialog">
        <div class="dialogHeader">
            <span>Nuevo Fluido (</span><span ng-bind="formatTime(editedFluidTime)"></span><span>)</span>
        </div>
        <div class="dialogContent" style="height:200px;width:450px">
            <div class="row-anestesia">
                <span>Indique el tipo de fluido y la cantidad administrada...</span>
            </div>
            <select ng-model="newFluidToEdit" ng-options="fluid.name for fluid in data._2.table.fluids.data" style="margin:10px 0;width:100%">
                <option value="">Solución o hemoderivado...</option>
            </select>
            <div class="horizontalLayout">
                <span style="margin-right:10px">Cantidad:&nbsp</span>
                <input ng-disabled="!newFluidToEdit.name" type="number" ng-model="newFluidToEdit.qty" min="0"></input>
                <select ng-disabled="!newFluidToEdit.name" ng-model="newFluidToEdit.unit">
                    <option value="unidades">Unidades</option>
                    <option value="ml">ml</option>
                </select>
            </div>
            <div class="row-botones">
                <div style="flex:1">
                    <button type="button" class="btn btn-link" ng-click="closeDialog('addFluidDialog');">Cancelar</button>
                </div>
                <button type="button" class="btn btn-primary pull-right" ng-disabled="!newFluidToEdit.name" ng-click="setTimelineData(editedFluidTime, newFluidToEdit, 'fluids');closeDialog('addFluidDialog');">Guardar</button>
            </div>
        </div>
    </dialog>
    
    <!--Confirmacion borrar monitor-->
    <dialog id="deleteMonitorDataDialog">
        <div class="dialogHeader">
            <span>Eliminar datos</span>
        </div>
        <div class="dialogContent">
            <div class="row-anestesia">
                <span>Esta seguro que desea eliminar&nbsp</span><span ng-bind="dataToDelete.name"></span><span>? Esto no se puede deshacer.</span>
            </div>
            <div class="row-botones">
                <div style="flex:1">
                    <button type="button" class="btn btn-link" ng-click="closeDialog('deleteMonitorDataDialog');">Cancelar</button>
                </div>
                <button type="button" class="btn btn-primary pull-right" ng-click="deleteMonitorData(dataToDelete);closeDialog('deleteMonitorDataDialog');">Eliminar</button>
            </div>
        </div>
    </dialog>
    <!--Confirmacion borrar Fluid-->
    <dialog id="deleteFluidDialog">
        <div class="dialogHeader">
            <span>Eliminar Fluido</span>
        </div>
        <div class="dialogContent">
            <div class="row-anestesia">
                <span>Esta seguro que desea eliminar&nbsp</span><span ng-bind="fluidToDelete.name"></span><span>? Esto no se puede deshacer.</span>
            </div>
            <div class="row-botones">
                <div style="flex:1">
                    <button type="button" class="btn btn-link" ng-click="closeDialog('deleteFluidDialog');">Cancelar</button>
                </div>
                <button type="button" class="btn btn-primary pull-right" ng-click="deleteFluidData(fluidToDelete);closeDialog('deleteFluidDialog');">Eliminar</button>
            </div>
        </div>
    </dialog>
    <!--Confirmacion borrar data-->
    <dialog id="deleteDataDialog">
        <div class="dialogHeader">
            <span>Eliminar datos</span>
        </div>
        <div class="dialogContent">
            <div class="row-anestesia">
                <span>Esta seguro que desea eliminar&nbsp</span><span ng-bind="keyToDelete"></span><span>? Esto no se puede deshacer.</span>
            </div>
            <div class="row-botones">
                <div style="flex:1">
                    <button type="button" class="btn btn-link" ng-click="closeDialog('deleteDataDialog');">Cancelar</button>
                </div>
                <button type="button" class="btn btn-primary pull-right" ng-click="deleteData(keyToDelete, valueToDelete, sectionToDelete);closeDialog('deleteDataDialog');">Eliminar</button>
            </div>
        </div>
    </dialog>
    <!-- Confirm delete shownData -->
    <dialog id="deleteShownDataDialog">
       <div class="dialogHeader">
            <span>Eliminar datos</span>
        </div>
        <div class="dialogContent">
            <div class="row-anestesia">
                <span>Esta seguro que desea eliminar&nbsp</span><span ng-bind="getProcedureTitle(categoryToDelete)"></span><span>&nbspa las&nbsp</span><span ng-bind="formatTime(timeToDelete)"></span><span>? Esto no se puede deshacer.</span>
            </div>
            <div class="row-botones">
                <div style="flex:1">
                    <button type="button" class="btn btn-link" ng-click="closeDialog('deleteShownDataDialog');">Cancelar</button>
                </div>
                <button type="button" class="btn btn-primary pull-right" ng-click="deleteShownData();closeDialog('deleteShownDataDialog');">Eliminar</button>
            </div>
        </div>
    </dialog>
    <!-- Confirm delete single Data -->
    <dialog id="deleteSingleDataDialog">
       <div class="dialogHeader">
            <span>Eliminar datos</span>
        </div>
        <div class="dialogContent">
            <div class="row-anestesia">
                <span>Esta seguro que desea eliminar&nbsp</span><span ng-bind="itemToDelete"></span><span>&nbspa las&nbsp</span><span ng-bind="formatTime(timeToDelete)"></span><span>? Esto no se puede deshacer.</span>
            </div>
            <div class="row-botones">
                <div style="flex:1">
                    <button type="button" class="btn btn-link" ng-click="closeDialog('deleteSingleDataDialog');">Cancelar</button>
                </div>
                <button type="button" class="btn btn-primary pull-right" ng-click="deleteSingleData();closeDialog('deleteSingleDataDialog');">Eliminar</button>
            </div>
        </div>
    </dialog>
    <!-- Warn invalid data -->
    <dialog id="warnInvalidDataDialog">
       <div class="dialogHeader">
            <span>Datos invalidos</span>
        </div>
        <div class="dialogContent">
            <div class="row-anestesia">
                <span>No es posible salir de la ficha, hay datos invalidos</span>
            </div>
            <div class="row-botones">
                <div style="flex:1"></div>
                <button type="button" class="btn btn-primary pull-right" ng-click="closeDialog('warnInvalidDataDialog');">Aceptar</button>
            </div>
        </div>
    </dialog>
</form>